n8n examples/Credentials.json
{
  "name": "Credentials",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -96
      ],
      "id": "cbb08222-d561-4818-8039-8199d46c5f82",
      "name": "Telegram Trigger",
      "webhookId": "480ee47a-be92-4443-a10d-ff969a416116",
      "credentials": {
        "telegramApi": {
          "id": "VFrDyUiM8hl33bSt",
          "name": "df_assistantbot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message?.chat.id || $json.my_chat_member?.chat.id }}",
        "text": "={{ $json.message?.text || 'привет' }}",
        "additionalFields": {
          "appendAttribution": false,
          "reply_to_message_id": "={{ $json.message?.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        -96
      ],
      "id": "20d0cbbc-0380-41b8-8747-b072305a3fe8",
      "name": "Send a text message",
      "webhookId": "ed60a684-0980-43e4-aba5-8a2e72b432d2",
      "credentials": {
        "telegramApi": {
          "id": "VFrDyUiM8hl33bSt",
          "name": "df_assistantbot"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "core",
          "mode": "list",
          "cachedResultName": "core"
        },
        "table": {
          "__rl": true,
          "value": "bots",
          "mode": "list",
          "cachedResultName": "bots"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        160,
        320
      ],
      "id": "b0001274-30ea-414f-adf0-a0cd1bedbb28",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "audioUrls": "URL",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -384,
        160
      ],
      "id": "e98bd629-40df-43fd-a40d-cb1ca27aca97",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "4J3UGUqYNZJxtTVa",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gcM1ZRVCKVtzJfHOH7OTw",
          "mode": "list",
          "cachedResultUrl": "/workflow/gcM1ZRVCKVtzJfHOH7OTw",
          "cachedResultName": "WF99 — Global ERR Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -16,
        160
      ],
      "id": "01ee767f-3123-49c6-a002-5fd43f98408c",
      "name": "Call 'WF99 — Global ERR Handler'"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        528
      ],
      "id": "b9f32639-a1a3-4fed-aa09-4f740666fe12",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "bucket",
        "operation": "search",
        "bucketName": "dfassistant",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        464,
        400
      ],
      "id": "05c4f434-ae48-4f1a-8dbb-db70429c1a87",
      "name": "Search a bucket",
      "credentials": {
        "s3": {
          "id": "hjNqGx5slcq2dEGk",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "translate",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -192,
        384
      ],
      "id": "77bf8e8d-d8cb-44ff-a41f-7a295becee5f",
      "name": "Translate a recording",
      "credentials": {
        "openAiApi": {
          "id": "LB6ntiMR8lDYKSy4",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Call 'WF99 — Global ERR Handler'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Translate a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Search a bucket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search a bucket": {
      "main": [
        []
      ]
    },
    "Translate a recording": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "VykeJY27VNJD_xWfy5Nx6",
    "binaryMode": "separate"
  },
  "versionId": "2412827d-c595-4111-8ab4-8cea65275abd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "49b1b765c7a60d5365a95e5c3e2d1b2e695b21e61861bbe488c27ec04546a71d"
  },
  "id": "bPcP0UIy-SGNq7wevAV95",
  "tags": []
}