workflows/WF10 — Telegram Webhook Receiver (Update → Job).json
{
  "name": "WF10 — Telegram Webhook Receiver (Update → Job)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2000,
        240
      ],
      "id": "9b2e1e3b-2ee4-46ed-896a-44839337d1f0",
      "name": "Telegram Trigger",
      "webhookId": "wf10-telegram-webhook",
      "notesInFlow": true,
      "credentials": {
        "telegramApi": {
          "id": "VFrDyUiM8hl33bSt",
          "name": "df_assistantbot"
        }
      },
      "notes": "PROD TRIGGER: Receives all Telegram update types via webhook.\nInput: HTTP POST from Telegram servers.\nOutput: Raw update object (update_id, message/callback_query/etc).\nWHY: Primary entry point for production Telegram traffic."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2000,
        544
      ],
      "id": "33de50e6-841d-497d-9e4a-d5fbf0a1301a",
      "name": "Manual Trigger (Tests)",
      "notesInFlow": true,
      "notes": "TEST TRIGGER: Manual execution for test scenarios.\nInput: None.\nOutput: Empty item (test data set by next node).\nWHY: Isolated test path for T1/T2/T3 scenarios."
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"_test\": true,\n  \"update_id\": 9999990001,\n  \"message\": {\n    \"message_id\": 1,\n    \"from\": {\"id\": 123456789, \"is_bot\": false, \"first_name\": \"TestUser\"},\n    \"chat\": {\"id\": -1001234567890, \"title\": \"Test Chat\", \"type\": \"supergroup\"},\n    \"date\": 1704067200,\n    \"text\": \"Test message for WF11\"\n  }\n}",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1776,
        544
      ],
      "id": "99b662fd-6915-4ac3-8813-0d8c409e7ff0",
      "name": "Test Data (T1 Happy)",
      "notesInFlow": true,
      "notes": "TEST T1 HAPPY: Valid Telegram update.\nInput: Empty from Manual Trigger.\nOutput: Simulated update with update_id=9999990001.\nFor T2 (duplicate): Run twice with same update_id.\nFor T3 (fail): Remove update_id field manually."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1552,
        400
      ],
      "id": "6e875d1d-ba07-454c-b29c-e93cb8ddb53c",
      "name": "Merge Triggers",
      "notesInFlow": true,
      "notes": "Merges PROD (input 0) and TEST (input 1) into single path.\nInput 0: Telegram Trigger.\nInput 1: Test Data.\nOutput: Single update JSON.\nWHY mode=chooseBranch: Only one trigger fires per execution."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ctx-received",
              "name": "_ctx.received_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "ctx-is-test",
              "name": "_ctx.is_test",
              "value": "={{ $json._test === true }}",
              "type": "boolean"
            },
            {
              "id": "update",
              "name": "update",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1328,
        400
      ],
      "id": "b36eb7bc-5f67-476a-9621-145e52e7d341",
      "name": "Init Context",
      "notesInFlow": true,
      "notes": "Initializes processing context.\nInput: Raw Telegram update.\nOutput: {_ctx: {received_at, is_test}, update: <original>}.\nWHY: Capture timestamp early for consistency across all DB writes."
    },
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "correlation_id"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -1024,
        400
      ],
      "id": "b9794920-142f-432a-b2d9-426de0a3e2c2",
      "name": "Generate UUID",
      "notesInFlow": true,
      "notes": "Generates UUID v4 for correlation.\nInput: Context + update.\nOutput: Adds _ctx.correlation_id.\nWHY: Used as request_id, first_request_id, job correlation_id."
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ JSON.stringify($json.update) }}",
        "dataPropertyName": "_hash_hex"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -544,
        400
      ],
      "id": "81b4141e-7961-4a13-afa6-e2f664725650",
      "name": "Hash SHA256",
      "notesInFlow": true,
      "notes": "Computes SHA-256 of update JSON.\nInput: update as JSON string.\nOutput: _hash_hex (hex string).\nWHY: For body_sha256 field in raw.telegram_updates."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-update-id",
              "leftValue": "={{ $json.update.update_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -288,
        400
      ],
      "id": "27982fff-b568-4901-a48d-b6635e246064",
      "name": "Has update_id?",
      "notesInFlow": true,
      "notes": "Validates update_id exists.\nInput: Context with update.\nOutput TRUE (index 0): Continue processing.\nOutput FALSE (index 1): Error 422.\nWHY: update_id required for deduplication (PK)."
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"ok\": false,\n  \"status_code\": 422,\n  \"error\": {\n    \"code\": \"MISSING_UPDATE_ID\",\n    \"message\": \"Telegram update missing required field: update_id\"\n  },\n  \"meta\": {\n    \"correlation\": {\n      \"correlation_id\": \"{{ $json._ctx.correlation_id }}\",\n      \"trace_id\": null,\n      \"workflow\": \"WF11\"\n    }\n  }\n}",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        592
      ],
      "id": "bf41f20b-2d3c-49c4-9751-db0ed6311551",
      "name": "Error 422",
      "notesInFlow": true,
      "notes": "Creates ErrorEnvelope for missing update_id.\nInput: Failed validation.\nOutput: {ok:false, status_code:422, error:{...}}.\nWHY: Standard error envelope format."
    },
    {
      "parameters": {
        "errorMessage": "=Validation failed: missing update_id"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        176,
        592
      ],
      "id": "16ae3771-17ac-4de2-a089-fdf7bb9fe6ec",
      "name": "Stop 422",
      "notesInFlow": true,
      "notes": "Terminates with validation error.\nWHY: Prevents partial processing of invalid updates."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ctx",
              "name": "_ctx",
              "value": "={{ $json._ctx }}",
              "type": "object"
            },
            {
              "id": "hash",
              "name": "body_sha256_bytea",
              "value": "=\\\\x{{ $json._hash_hex }}",
              "type": "string"
            },
            {
              "id": "uid",
              "name": "update_id",
              "value": "={{ $json.update.update_id }}",
              "type": "number"
            },
            {
              "id": "utype",
              "name": "update_type",
              "value": "={{ $json.update.message ? 'message' : $json.update.edited_message ? 'edited_message' : $json.update.channel_post ? 'channel_post' : $json.update.edited_channel_post ? 'edited_channel_post' : $json.update.my_chat_member ? 'my_chat_member' : $json.update.chat_member ? 'chat_member' : $json.update.callback_query ? 'callback_query' : $json.update.inline_query ? 'inline_query' : $json.update.poll ? 'poll' : $json.update.poll_answer ? 'poll_answer' : 'unknown' }}",
              "type": "string"
            },
            {
              "id": "body",
              "name": "update_body",
              "value": "={{ $json.update }}",
              "type": "object"
            },
            {
              "id": "bot",
              "name": "bot_username",
              "value": "df_assistantbot",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        400
      ],
      "id": "dec03881-6872-4eb4-a416-02af4c6c4981",
      "name": "Extract Fields",
      "notesInFlow": true,
      "notes": "Extracts and derives key fields.\nInput: Validated context.\nOutput: update_id, update_type, body_sha256_bytea, bot_username.\nWHY update_type: Checks each known property for type detection.\nWHY bytea format: Postgres needs \\\\x prefix for hex bytea.\nWHY bot_username hardcoded: Matches credential name for DB lookup."
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "core",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "bots",
          "mode": "list"
        },
        "limit": 2,
        "where": {
          "values": [
            {
              "column": "username",
              "value": "={{ $json.bot_username }}"
            },
            {
              "column": "is_active",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        176,
        400
      ],
      "id": "fd075921-6b78-4a16-a7d4-1ebb96dd35c5",
      "name": "Lookup Bot",
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Looks up bot_id and tenant_id.\nInput: bot_username.\nOutput (success): {id, tenant_id, username, ...}.\nOutput (error): Error object.\nWHY limit=2: Detect ambiguous mappings.\nWHY onError=continueErrorOutput: Route DB errors to error handler."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-error",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        608,
        336
      ],
      "id": "86934b40-afb4-481f-9bf8-ccc480899a13",
      "name": "Bot Found?",
      "notesInFlow": true,
      "notes": "Checks bot lookup results.\nInput: Postgres result array.\nOutput TRUE (0 results): Bot not found error.\nOutput FALSE (1+ results): Continue to count check."
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"ok\": false,\n  \"status_code\": 404,\n  \"error\": {\n    \"code\": \"BOT_NOT_FOUND\",\n    \"message\": \"Bot not registered in core.bots or inactive\"\n  },\n  \"meta\": {\n    \"correlation\": {\n      \"correlation_id\": \"{{ $('Extract Fields').item.json._ctx.correlation_id }}\",\n      \"trace_id\": null,\n      \"workflow\": \"WF11\"\n    }\n  }\n}",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        192
      ],
      "id": "3b1d6831-05e3-4174-99e8-690d248d353c",
      "name": "Error 404 Bot",
      "notesInFlow": true,
      "notes": "Creates ErrorEnvelope for missing bot."
    },
    {
      "parameters": {
        "errorMessage": "=Bot not found: {{ $('Extract Fields').item.json.bot_username }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1056,
        48
      ],
      "id": "370dd8b0-6df2-4ee6-a092-f839b6ef5283",
      "name": "Stop 404",
      "notesInFlow": true,
      "notes": "Terminates on bot not found."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "exactly-one",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        864,
        400
      ],
      "id": "33e21fec-fdd1-4e8f-8bc5-5bb124435249",
      "name": "Exactly 1?",
      "notesInFlow": true,
      "notes": "Validates exactly one bot found.\nInput: Bot lookup results.\nOutput TRUE: Single bot, continue.\nOutput FALSE: Multiple bots (409 error)."
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"ok\": false,\n  \"status_code\": 409,\n  \"error\": {\n    \"code\": \"BOT_AMBIGUOUS\",\n    \"message\": \"Multiple active bots found for username\"\n  },\n  \"meta\": {\n    \"correlation\": {\n      \"correlation_id\": \"{{ $('Extract Fields').item.json._ctx.correlation_id }}\",\n      \"trace_id\": null,\n      \"workflow\": \"WF11\"\n    }\n  }\n}",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        608
      ],
      "id": "40b44617-c07b-4d25-a908-d95e1b9f3bc1",
      "name": "Error 409",
      "notesInFlow": true,
      "notes": "Creates ErrorEnvelope for ambiguous bot."
    },
    {
      "parameters": {
        "errorMessage": "=Bot mapping ambiguous: multiple active bots for username"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1712,
        1232
      ],
      "id": "58d29ce2-a140-4339-a24e-2d75ecd8c0b0",
      "name": "Stop 409",
      "notesInFlow": true,
      "notes": "Terminates on ambiguous bot."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ctx",
              "name": "_ctx",
              "value": "={{ $('Extract Fields').item.json._ctx }}",
              "type": "object"
            },
            {
              "id": "sha",
              "name": "body_sha256_bytea",
              "value": "={{ $('Extract Fields').item.json.body_sha256_bytea }}",
              "type": "string"
            },
            {
              "id": "uid",
              "name": "update_id",
              "value": "={{ $('Extract Fields').item.json.update_id }}",
              "type": "number"
            },
            {
              "id": "utype",
              "name": "update_type",
              "value": "={{ $('Extract Fields').item.json.update_type }}",
              "type": "string"
            },
            {
              "id": "body",
              "name": "update_body",
              "value": "={{ $('Extract Fields').item.json.update_body }}",
              "type": "object"
            },
            {
              "id": "botid",
              "name": "bot_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "tenantid",
              "name": "tenant_id",
              "value": "={{ $json.tenant_id }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        400
      ],
      "id": "cf1b3e4b-cd82-4f27-add9-fcf1631f45bb",
      "name": "Merge Bot Info",
      "notesInFlow": true,
      "notes": "Combines bot lookup with extracted fields.\nInput: Bot record + earlier context.\nOutput: Complete context with bot_id, tenant_id."
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "raw",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "telegram_update_keys",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $json.tenant_id }}",
            "bot_id": "={{ $json.bot_id }}",
            "update_id": "={{ $json.update_id }}",
            "first_request_id": "={{ $json._ctx.correlation_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bot_id",
              "displayName": "bot_id",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "update_id",
              "displayName": "update_id",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_request_id",
              "displayName": "first_request_id",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {
          "skipOnConflict": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1264,
        400
      ],
      "id": "b65d895e-b6cc-4b16-82a8-09ae71cbcfb0",
      "name": "Insert Keys",
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Inserts dedup key (first occurrence only).\nInput: tenant_id, bot_id, update_id, first_request_id.\nOutput: Inserted row or skipped.\nWHY skipOnConflict: PK(bot_id, update_id) prevents overwrites.\nWHY first_request_id: Tracks original request for duplicates."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pass",
              "name": "data",
              "value": "={{ $('Merge Bot Info').item.json }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        352
      ],
      "id": "2160b1ab-083a-44aa-aea9-680a524b0fa9",
      "name": "Pass 1",
      "notesInFlow": true,
      "notes": "Passes merged context (Postgres output may not have all fields)."
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "raw",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "telegram_updates",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $json.data.tenant_id }}",
            "bot_id": "={{ $json.data.bot_id }}",
            "update_id": "={{ $json.data.update_id }}",
            "update_type": "={{ $json.data.update_type }}",
            "received_at": "={{ $json.data._ctx.received_at }}",
            "request_id": "={{ $json.data._ctx.correlation_id }}",
            "headers": "={}",
            "body": "={{ $json.data.update_body }}",
            "body_sha256": "={{ $json.data.body_sha256_bytea }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bot_id",
              "displayName": "bot_id",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "update_id",
              "displayName": "update_id",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "update_type",
              "displayName": "update_type",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "received_at",
              "displayName": "received_at",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "object",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "object",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "body_sha256",
              "displayName": "body_sha256",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1696,
        352
      ],
      "id": "41369e77-3d8e-459d-9201-00684a9cb1a4",
      "name": "Insert Updates",
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Inserts full update record.\nInput: All context fields.\nOutput: Inserted row.\nWHY headers={}: Remote IP not available from Telegram webhook.\nWHY body_sha256 bytea: \\\\x prefix makes Postgres interpret as hex bytes."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pass",
              "name": "data",
              "value": "={{ $('Pass 1').item.json.data }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        336
      ],
      "id": "83feb094-45ec-4263-8b5c-b19da881ab43",
      "name": "Pass 2",
      "notesInFlow": true,
      "notes": "Passes context for job creation."
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "ops",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "jobs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $json.data.tenant_id }}",
            "payload": "={{ {tenant_id: $json.data.tenant_id, bot_id: $json.data.bot_id, update_id: $json.data.update_id, received_at: $json.data._ctx.received_at, request_id: $json.data._ctx.correlation_id, update_type: $json.data.update_type} }}",
            "correlation_id": "={{ $json.data._ctx.correlation_id }}",
            "next_run_at": "={{ $json.data._ctx.is_test ? $now.plus({days: 1}).toISO() : $now.toISO() }}",
            "job_type": "normalize_update"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "job_type",
              "displayName": "job_type",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "next_run_at",
              "displayName": "next_run_at",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "outputColumns": [
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2144,
        336
      ],
      "id": "e73886b7-1439-483f-9571-c757777ae94a",
      "name": "Create Job",
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Creates job for worker WF20.\nInput: Context with all fields.\nOutput: {id: job_id}.\nWHY job_type=normalize_update: Enum value for processing.\nWHY next_run_at+1day for tests: Prevents job runner pickup.\nWHY outputColumns=[id]: Get job_id for response.\n\nNOTE: Verify 'normalise_update' is valid ops.job_type enum value!"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ok\": true,\n  \"status_code\": 200,\n  \"data\": {\n    \"job_id\": {{ $json.id }},\n    \"tenant_id\": \"{{ $('Pass 2').item.json.data.tenant_id }}\",\n    \"bot_id\": \"{{ $('Pass 2').item.json.data.bot_id }}\",\n    \"update_id\": {{ $('Pass 2').item.json.data.update_id }},\n    \"received_at\": \"{{ $('Pass 2').item.json.data._ctx.received_at }}\",\n    \"request_id\": \"{{ $('Pass 2').item.json.data._ctx.correlation_id }}\",\n    \"update_type\": \"{{ $('Pass 2').item.json.data.update_type }}\"\n  },\n  \"meta\": {\n    \"correlation\": {\n      \"correlation_id\": \"{{ $('Pass 2').item.json.data._ctx.correlation_id }}\",\n      \"trace_id\": null,\n      \"workflow\": \"WF11\"\n    }\n  },\n  \"_cleanup\": {\n    \"is_test\": {{ $('Pass 2').item.json.data._ctx.is_test }},\n    \"correlation_id\": \"{{ $('Pass 2').item.json.data._ctx.correlation_id }}\",\n    \"bot_id\": \"{{ $('Pass 2').item.json.data.bot_id }}\",\n    \"update_id\": {{ $('Pass 2').item.json.data.update_id }}\n  }\n}",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2992,
        320
      ],
      "id": "ef327945-dcc1-485b-b288-5f8110719f36",
      "name": "Success Envelope",
      "notesInFlow": true,
      "notes": "Creates SuccessEnvelope response.\nInput: Job ID + context.\nOutput: {ok:true, data:{job_id,...}, meta:{correlation:...}}.\n_cleanup field for test cleanup operations."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "is-test",
              "leftValue": "={{ $json._cleanup.is_test }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3280,
        336
      ],
      "id": "ca0edb8c-a95b-48a7-b847-30e781eb5b43",
      "name": "Is Test?",
      "notesInFlow": true,
      "notes": "Routes to cleanup for test executions.\nOutput TRUE: Test cleanup path.\nOutput FALSE: Production end."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3520,
        560
      ],
      "id": "3ab8d0ee-dc95-489c-be0c-cfbd2350c49e",
      "name": "PROD End",
      "notesInFlow": true,
      "notes": "Production path termination.\nOutput: SuccessEnvelope (for response)."
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "ops",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "jobs",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "correlation_id",
              "value": "={{ $json._cleanup.correlation_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3520,
        256
      ],
      "id": "ece5eb24-07a3-48ee-99c6-185581f0a72c",
      "name": "Cleanup Jobs",
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "notes": "TEST CLEANUP: Deletes test job by correlation_id."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pass",
              "name": "_cleanup",
              "value": "={{ $('Success Envelope').item.json._cleanup }}",
              "type": "object"
            },
            {
              "id": "env",
              "name": "envelope",
              "value": "={{ {ok: $('Success Envelope').item.json.ok, status_code: $('Success Envelope').item.json.status_code, data: $('Success Envelope').item.json.data, meta: $('Success Envelope').item.json.meta} }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3728,
        256
      ],
      "id": "ebf82e1c-687d-4da0-af07-7cc03a5f9053",
      "name": "Pass Cleanup",
      "notesInFlow": true,
      "notes": "Passes cleanup context for remaining cleanup steps."
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "raw",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "telegram_updates",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "request_id",
              "value": "={{ $json._cleanup.correlation_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3952,
        256
      ],
      "id": "2b5c59f1-de0b-4a94-854c-cb3b82d5b6d8",
      "name": "Cleanup Updates",
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "notes": "TEST CLEANUP: Deletes test update by request_id (=correlation_id)."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pass",
              "name": "_cleanup",
              "value": "={{ $('Pass Cleanup').item.json._cleanup }}",
              "type": "object"
            },
            {
              "id": "env",
              "name": "envelope",
              "value": "={{ $('Pass Cleanup').item.json.envelope }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4176,
        256
      ],
      "id": "85ea59b6-dbfc-4d5f-a62f-1b642e571da7",
      "name": "Pass Cleanup 2",
      "notesInFlow": true,
      "notes": "Passes cleanup context."
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "raw",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "telegram_update_keys",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "bot_id",
              "value": "={{ $json._cleanup.bot_id }}"
            },
            {
              "column": "update_id",
              "value": "={{ $json._cleanup.update_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4400,
        256
      ],
      "id": "e6d7660e-4ad3-434c-9838-eb6628f86684",
      "name": "Cleanup Keys",
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "notes": "TEST CLEANUP: Deletes test dedup key by PK (bot_id, update_id)."
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('Pass Cleanup 2').item.json.envelope }}",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4608,
        256
      ],
      "id": "4236afab-691d-4c38-b2a1-635807c8c051",
      "name": "TEST Result",
      "notesInFlow": true,
      "notes": "Returns test result (SuccessEnvelope) after cleanup.\nAssert: ok=true, data.job_id exists, data.update_type='message'."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ctx-out",
              "name": "ctx",
              "value": "={{ $json._ctx }}",
              "type": "object"
            },
            {
              "id": "err-node",
              "name": "error_context.node",
              "value": "={{ $json._err.node }}",
              "type": "string"
            },
            {
              "id": "err-op",
              "name": "error_context.operation",
              "value": "={{ $json._err.operation }}",
              "type": "string"
            },
            {
              "id": "err-table",
              "name": "error_context.table",
              "value": "={{ $json._err.table }}",
              "type": "string"
            },
            {
              "id": "err-corr",
              "name": "error_context.correlation_id",
              "value": "={{ $json._ctx.correlation_id }}",
              "type": "string"
            },
            {
              "id": "err-msg",
              "name": "error_context.error_message",
              "value": "={{ $json.message || ($json.error ? $json.error.description : null) || 'Database connection or query error' }}",
              "type": "string"
            },
            {
              "id": "err-status",
              "name": "error_context.status_code",
              "value": 500,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2704,
        1200
      ],
      "id": "0f19f808-73ff-498f-9def-20a49942d10a",
      "name": "Prepare DB Error",
      "notesInFlow": true,
      "notes": "FIXED: Prepares error context for WF99 (global error handler).\nInput: _ctx, _err from ERR-Source nodes, plus error fields (message/error/description).\nOutput: ctx (object), error_context (object), plus original error fields preserved.\nWHY includeOtherFields=true: Preserves message/error/description from Postgres error output."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gcM1ZRVCKVtzJfHOH7OTw",
          "mode": "list",
          "cachedResultUrl": "/workflow/gcM1ZRVCKVtzJfHOH7OTw",
          "cachedResultName": "WF99 — Global ERR Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ctx": "={{ $json.ctx }}",
            "error_context": "={{ $json.error_context }}",
            "message": "={{ $json.message }}",
            "error": "={{ $json.error }}",
            "description": "={{ $json.description }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ctx",
              "displayName": "ctx",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "object",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error_context",
              "displayName": "error_context",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "object",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "object",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2912,
        1200
      ],
      "id": "54ad3340-5e03-4b50-b207-6e7ed6d0afdb",
      "name": "Call WF99",
      "notesInFlow": true,
      "notes": "FIXED: Calls global error handler WF99.\nInput mapping: ctx, error_context, message, error, description.\nwaitForSubWorkflow=true: Wait for error handling to complete."
    },
    {
      "parameters": {
        "errorMessage": "=Database error: {{ $('Prepare DB Error').item.json.error_context.error_message }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        3136,
        1200
      ],
      "id": "c278419e-cdfe-42eb-bfd0-fb327841fcf1",
      "name": "Stop DB Error",
      "notesInFlow": true,
      "notes": "Terminates after DB error."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d88063e9-4461-4483-a671-f723baf98367",
              "name": "_ctx.correlation_id",
              "value": "={{ $json.correlation_id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -784,
        400
      ],
      "id": "4fd90f48-f2d8-4f91-a8ed-527ea5ce8529",
      "name": "Set ctx.corellation_id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a92d3063-1834-4a28-9c85-4e5d11a8ad5e",
              "name": "_ctx",
              "value": "={{ $('Set ctx.corellation_id').first().json._ctx }}",
              "type": "object"
            },
            {
              "id": "8f8d23ac-ad22-4e0c-9802-6d1f59aabfff",
              "name": "_err.node",
              "value": "Lookup Bot",
              "type": "string"
            },
            {
              "id": "5561cf70-8b06-466e-b612-5b246fcc9340",
              "name": "_err.operation",
              "value": "select",
              "type": "string"
            },
            {
              "id": "d2bd6b15-1ade-407c-83de-2942d3578790",
              "name": "_err.table",
              "value": "core.bots",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        1024
      ],
      "id": "0421de19-8cd9-4870-a1ea-066d7fcf2b4a",
      "name": "ERR — Source Lookup Bot"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a92d3063-1834-4a28-9c85-4e5d11a8ad5e",
              "name": "_ctx",
              "value": "={{ $('Set ctx.corellation_id').first().json._ctx }}",
              "type": "object"
            },
            {
              "id": "8f8d23ac-ad22-4e0c-9802-6d1f59aabfff",
              "name": "_err.node",
              "value": "Insert Keys",
              "type": "string"
            },
            {
              "id": "5561cf70-8b06-466e-b612-5b246fcc9340",
              "name": "_err.operation",
              "value": "insert",
              "type": "string"
            },
            {
              "id": "d2bd6b15-1ade-407c-83de-2942d3578790",
              "name": "_err.table",
              "value": "raw.telegram_update_keys",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        880
      ],
      "id": "a1194747-a5ac-4437-b782-479f1d3f7d87",
      "name": "ERR — Source Insert Keys"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a92d3063-1834-4a28-9c85-4e5d11a8ad5e",
              "name": "_ctx",
              "value": "={{ $('Set ctx.corellation_id').first().json._ctx }}",
              "type": "object"
            },
            {
              "id": "8f8d23ac-ad22-4e0c-9802-6d1f59aabfff",
              "name": "_err.node",
              "value": "Insert Updates",
              "type": "string"
            },
            {
              "id": "5561cf70-8b06-466e-b612-5b246fcc9340",
              "name": "_err.operation",
              "value": "insert",
              "type": "string"
            },
            {
              "id": "d2bd6b15-1ade-407c-83de-2942d3578790",
              "name": "_err.table",
              "value": "raw.telegram_updates",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2128,
        752
      ],
      "id": "9dcafe2d-6aaf-4426-959a-1a7a5008578d",
      "name": "ERR — Insert Updates"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a92d3063-1834-4a28-9c85-4e5d11a8ad5e",
              "name": "_ctx",
              "value": "={{ $('Set ctx.corellation_id').first().json._ctx }}",
              "type": "object"
            },
            {
              "id": "8f8d23ac-ad22-4e0c-9802-6d1f59aabfff",
              "name": "_err.node",
              "value": "Create Job",
              "type": "string"
            },
            {
              "id": "5561cf70-8b06-466e-b612-5b246fcc9340",
              "name": "_err.operation",
              "value": "insert",
              "type": "string"
            },
            {
              "id": "d2bd6b15-1ade-407c-83de-2942d3578790",
              "name": "_err.table",
              "value": "ops.jobs",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2416,
        688
      ],
      "id": "d308275b-f06b-4565-abd0-b9f9ef81a1d4",
      "name": "ERR — Create Job"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "Init Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Context": {
      "main": [
        [
          {
            "node": "Generate UUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate UUID": {
      "main": [
        [
          {
            "node": "Set ctx.corellation_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash SHA256": {
      "main": [
        [
          {
            "node": "Has update_id?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has update_id?": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error 422",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error 422": {
      "main": [
        [
          {
            "node": "Stop 422",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "Lookup Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Bot": {
      "main": [
        [
          {
            "node": "Bot Found?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Lookup Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot Found?": {
      "main": [
        [
          {
            "node": "Error 404 Bot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exactly 1?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error 404 Bot": {
      "main": [
        [
          {
            "node": "Stop 404",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exactly 1?": {
      "main": [
        [
          {
            "node": "Merge Bot Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error 409",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error 409": {
      "main": [
        [
          {
            "node": "Stop 409",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Bot Info": {
      "main": [
        [
          {
            "node": "Insert Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Keys": {
      "main": [
        [
          {
            "node": "Pass 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Insert Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass 1": {
      "main": [
        [
          {
            "node": "Insert Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Updates": {
      "main": [
        [
          {
            "node": "Pass 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Insert Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass 2": {
      "main": [
        [
          {
            "node": "Create Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Job": {
      "main": [
        [
          {
            "node": "Success Envelope",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Create Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Test?": {
      "main": [
        [
          {
            "node": "Cleanup Jobs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PROD End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Jobs": {
      "main": [
        [
          {
            "node": "Pass Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Cleanup": {
      "main": [
        [
          {
            "node": "Cleanup Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Updates": {
      "main": [
        [
          {
            "node": "Pass Cleanup 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Cleanup 2": {
      "main": [
        [
          {
            "node": "Cleanup Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Keys": {
      "main": [
        [
          {
            "node": "TEST Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare DB Error": {
      "main": [
        [
          {
            "node": "Call WF99",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call WF99": {
      "main": [
        [
          {
            "node": "Stop DB Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ctx.corellation_id": {
      "main": [
        [
          {
            "node": "Hash SHA256",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source Lookup Bot": {
      "main": [
        [
          {
            "node": "Prepare DB Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source Insert Keys": {
      "main": [
        [
          {
            "node": "Prepare DB Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Insert Updates": {
      "main": [
        [
          {
            "node": "Prepare DB Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Create Job": {
      "main": [
        [
          {
            "node": "Prepare DB Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "dynamic",
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "Europe/Moscow",
    "errorWorkflow": "VykeJY27VNJD_xWfy5Nx6"
  },
  "versionId": "b2a95612-6ec9-48ed-91fc-a46dda44df15",
  "meta": {
    "instanceId": "49b1b765c7a60d5365a95e5c3e2d1b2e695b21e61861bbe488c27ec04546a71d"
  },
  "id": "038ZpJX7gdYCWJD5YjfZ-",
  "tags": [
    {
      "updatedAt": "2026-02-01T21:41:02.506Z",
      "createdAt": "2026-02-01T21:41:02.506Z",
      "id": "Aa1CkeTlYoyeRoXF",
      "name": "telegram"
    },
    {
      "updatedAt": "2026-02-01T21:41:02.507Z",
      "createdAt": "2026-02-01T21:41:02.507Z",
      "id": "uUvrJLEw7P9GsV8s",
      "name": "webhook"
    },
    {
      "updatedAt": "2026-02-01T21:41:02.481Z",
      "createdAt": "2026-02-01T21:41:02.481Z",
      "id": "zUOMsuOKwekXNmgb",
      "name": "job-queue"
    }
  ]
}