workflows/WF31 — Link Fetcher.json
{
  "name": "WF31 — Link Fetcher",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -16,
        1008
      ],
      "id": "1fb0c94f-ae6d-4547-a055-ac5e3a2a5d2f",
      "name": "IN — Execute Workflow Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d05a742-d256-4acf-9a13-49ce5e416170",
              "name": "_carry.tenant_id",
              "value": "={{ $json.req.ctx.tenant_id }}",
              "type": "string"
            },
            {
              "id": "730d9f2c-02c5-42e4-9045-3c2529c9f125",
              "name": "_carry.bot_id",
              "value": "={{ $json.req.ctx.bot_id }}",
              "type": "string"
            },
            {
              "id": "3435d1b3-9604-4725-a33c-448c806aed0e",
              "name": "_carry.correlation_id",
              "value": "={{ $json.req.ctx.correlation_id }}",
              "type": "string"
            },
            {
              "id": "ae8d732b-3948-4990-b271-e0dc18d135c7",
              "name": "_carry.trace_id",
              "value": "={{ $json.req.ctx.trace_id }}",
              "type": "string"
            },
            {
              "id": "440eb9da-7260-4743-9184-fa34e24b67d0",
              "name": "_carry.visibility",
              "value": "={{ $json.req.ctx.visibility }}",
              "type": "string"
            },
            {
              "id": "a6649ceb-95a5-4294-9575-63c0fba17050",
              "name": "_carry.chat_id",
              "value": "={{ $json.req.ctx.chat_id }}",
              "type": "string"
            },
            {
              "id": "e7e96961-b50a-4ffc-8b54-470274c02e00",
              "name": "_carry.message_version_id",
              "value": "={{ $json.req.ctx.message_version_id }}",
              "type": "string"
            },
            {
              "id": "77d60dc5-1e36-480d-b902-ca77209a446d",
              "name": "_carry.job_id",
              "value": "={{ $json.req.ctx.job_id }}",
              "type": "string"
            },
            {
              "id": "f1283cb2-9264-432f-9b5a-2bac6cd8b05e",
              "name": "_carry.workflow",
              "value": "WF31",
              "type": "string"
            },
            {
              "id": "cd66bbe1-a47a-49d5-b903-f74d4ad4c9da",
              "name": "_carry.url",
              "value": "={{ $json.req.job.payload.url }}",
              "type": "string"
            },
            {
              "id": "b19926e3-2619-42a4-9834-0e2698112445",
              "name": "_carry.url_id_input",
              "value": "={{ $json.req.job.payload.url_id }}",
              "type": "string"
            },
            {
              "id": "5dc58122-e8f1-4aca-b49f-71dc68a648da",
              "name": "_carry.link_text",
              "value": "={{ $json.req.job.payload.link_text }}",
              "type": "string"
            },
            {
              "id": "116d1344-7c75-4d15-ab07-32264bb5d97b",
              "name": "_carry.force_refetch",
              "value": "={{ $json.req.job.payload.force_refetch ?? false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        1008
      ],
      "id": "44a45834-0ebb-4047-9dc0-f5a9666c3e1b",
      "name": "Set — Carry",
      "notes": "Extract and preserve context fields from input: tenant_id, bot_id, correlation_id, trace_id, visibility, chat_id, message_version_id, job_id, workflow, url, url_id_input, link_text, force_refetch. These fields are carried through the entire workflow using the _carry object."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8e16393f-edc4-42f7-848b-e3229c5b3355",
              "leftValue": "={{ $json._carry.tenant_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "a44eeea2-0f41-4ebf-9636-d5ffc76955d9",
              "leftValue": "={{ $json._carry.bot_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "19914b19-05f6-4e13-888f-7e0b36fc6cf6",
              "leftValue": "={{ $json._carry.correlation_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "fac74c50-b6b9-4f85-93f0-d89d2bb61e95",
              "leftValue": "={{ $json._carry.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "d5eace78-ec6d-4281-98f4-e5c1c5c63546",
              "leftValue": "={{ $json._carry.job_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        1008
      ],
      "id": "626cd107-8584-4c34-bcbc-8aa96422ee54",
      "name": "IF — Valid Input?",
      "notes": "Validate that required input fields are present: req.ctx exists, req.job exists, req.job.payload.url exists. If valid: proceed to URL handling. If invalid: route to error handler."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c7cb9766-3909-4b5b-a32b-868ae2ed43a7",
              "name": "_error_node",
              "value": "IN — Execute Workflow Trigger",
              "type": "string"
            },
            {
              "id": "b1aac2eb-f9a3-4a3d-aba2-53ace9615c00",
              "name": "_error_operation",
              "value": "Input validation",
              "type": "string"
            },
            {
              "id": "cb382516-3444-4d3d-ae52-a92fb9bc7a05",
              "name": "_error_kind",
              "value": "validation_error",
              "type": "string"
            },
            {
              "id": "e30d69ec-f612-4460-bca0-07d69f8db1ce",
              "name": "_error_retryable",
              "value": "=false",
              "type": "boolean"
            },
            {
              "id": "a897ac33-9452-4ca7-adac-939c36a2a247",
              "name": "errorMessage",
              "value": "Missing required input fields: req.ctx, req.job, or req.job.payload.url",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        1680
      ],
      "id": "61faf8bf-dcbb-4a36-82f5-8ce5692cab83",
      "name": "Set — ERR Input Validation",
      "notes": "Tag input validation error with metadata for ErrorPipe v1. Sets _error_node, _error_operation, _error_kind=validation_error, _error_retryable=false."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8bbc6a8e-9e71-412f-b50e-a168f5dca0d0",
              "leftValue": "={{ $json._carry.url_id_input }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        592,
        1008
      ],
      "id": "df3eeed3-b477-426f-bd28-0b61acfb9442",
      "name": "IF — url_id Provided?",
      "notes": "Check if url_id was provided in input (payload.url_id). If yes: reuse existing url_id, skip URL upsert. If no: perform URL upsert to get/create url_id."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76b72325-5426-464a-9e89-0471beb7417f",
              "name": "_url_id",
              "value": "={{ $('Set — Carry').item.json._carry.url_id_input }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        848
      ],
      "id": "80b5d854-a1be-4848-9aef-5f29853f4800",
      "name": "Set — Use Existing url_id",
      "notes": "Use url_id from input payload. Preserves carry context. Avoids unnecessary URL upsert when url_id is already known."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "715bc26d-90f7-4da8-bd1a-659e8f7ad652",
              "name": "normalized_url",
              "value": "={{ $('Set — Carry').item.json._carry.url.trim() }}",
              "type": "string"
            },
            {
              "id": "5085b2dd-5837-470b-b571-341003e60d60",
              "name": "meta",
              "value": {},
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        1120
      ],
      "id": "dbff921e-9d7d-46f2-8288-067155993648",
      "name": "Set — Prep URL Upsert"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "content",
          "mode": "list",
          "cachedResultName": "content"
        },
        "table": {
          "__rl": true,
          "value": "urls",
          "mode": "list",
          "cachedResultName": "urls"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "normalized_url": "={{ $json.normalized_url }}",
            "meta": "={{ $json.meta }}"
          },
          "matchingColumns": [
            "normalized_url"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "normalized_url",
              "displayName": "normalized_url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "canonical_url",
              "displayName": "canonical_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "first_seen_at",
              "displayName": "first_seen_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "last_seen_at",
              "displayName": "last_seen_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "meta",
              "displayName": "meta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "outputColumns": [
            "id",
            "normalized_url"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1088,
        1216
      ],
      "id": "9441ca06-e419-4275-a008-dad678c5de0c",
      "name": "PG — Upsert content.urls",
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Upsert URL into content.urls table. normalized_url is unique constraint. Returns existing or newly created url_id. Updates last_seen_at. Uses OnConflict to handle duplicates. onError=continueErrorOutput for error handling."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "99683f10-de18-4bd8-a340-0849c267da5a",
              "name": "_url_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1696,
        1040
      ],
      "id": "4da9b4a9-cf79-4b9f-8bd8-e802376039ce",
      "name": "Set — Capture url_id",
      "notes": "Capture url_id returned from URL upsert. Combines with carry context for downstream nodes."
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "content"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "url_fetches"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "url_id",
              "value": "={{ $json._url_id }}"
            },
            {
              "column": "status",
              "value": "succeeded"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "fetched_at",
              "direction": "DESC"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "id",
            "url_id",
            "http_status",
            "content_type",
            "storage_url",
            "meta",
            "status"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2240,
        864
      ],
      "id": "e93476f5-2a32-4e57-b63f-57a1d698545e",
      "name": "PG — Select Latest Fetch",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Select most recent url_fetch for this url_id with status=succeeded. Used to check if we can reuse existing fetch data. Returns NULL if no successful fetch exists. onError=continueErrorOutput."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d667b0e-4021-4b12-9b73-401e3215ec70",
              "name": "_url_id",
              "value": "={{ $json._url_id }}",
              "type": "string"
            },
            {
              "id": "3988e3b1-bac7-4042-864b-70a58c71fba6",
              "name": "_existing_fetch",
              "value": "={{ $json._existing_fetch ?? ($json.id ? $json : null) }}",
              "type": "object"
            },
            {
              "id": "36827a5b-6833-4ab5-9654-b8c9d5827be5",
              "name": "_carry",
              "value": "={{ $('Set — Carry').item.json._carry }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3056,
        976
      ],
      "id": "a866832c-480b-417b-822d-a84bac0c0b24",
      "name": "Set — After Fetch Check",
      "notes": "Capture result from Merge Fetch Result. If SELECT returned row, $json.id exists so use $json as _existing_fetch. If no row (default), _existing_fetch is null. Preserves _url_id and _carry for downstream."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4fa7ef2c-5717-464b-83b7-324e36403085",
              "leftValue": "={{ $json._existing_fetch }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5f4d1030-9358-401a-8b5b-6414b8b38f35",
              "leftValue": "={{ $json._existing_fetch?.status }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "ff315bfb-329d-4cef-8412-60f340369ab8",
              "leftValue": "={{ $json._existing_fetch?.storage_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "da322e57-a391-4d6a-b858-377c50fbdae1",
              "leftValue": "={{ $('Set — Carry').item.json._carry.force_refetch }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3312,
        992
      ],
      "id": "e176cfdc-12df-4060-bc40-8cdacbf8d57a",
      "name": "IF — Reuse Fetch?",
      "notes": "Decide if we can reuse existing fetch. Conditions: _existing_fetch exists AND status=succeeded AND storage_url not empty AND force_refetch=false. TRUE: reuse (skip HTTP/S3). FALSE: perform fresh fetch."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90048501-21d5-48a8-847e-0895efe57716",
              "name": "_url_fetch_id",
              "value": "={{ $('Set — After Fetch Check').item.json._existing_fetch.id }}",
              "type": "string"
            },
            {
              "id": "ce728f3d-6884-479c-9f9b-6fb747702c4b",
              "name": "_storage_url",
              "value": "={{ $('Set — After Fetch Check').item.json._existing_fetch.storage_url }}",
              "type": "string"
            },
            {
              "id": "b696c3ed-c9c3-4240-b399-bb59b5ecdb9b",
              "name": "_content_type",
              "value": "={{ $('Set — After Fetch Check').item.json._existing_fetch.content_type }}",
              "type": "string"
            },
            {
              "id": "0ef6e7ee-c7cb-4da4-8c5e-18b80f853d72",
              "name": "_body_sha256_hex",
              "value": "={{ $('Set — After Fetch Check').item.json._existing_fetch.meta?.storage?.sha256_hex || null }}",
              "type": "string"
            },
            {
              "id": "86ec07cd-178b-4245-863b-9e9bcb1ec216",
              "name": "_size_bytes",
              "value": "={{ $('Set — After Fetch Check').item.json._existing_fetch.meta?.storage?.size_bytes || 0 }}",
              "type": "number"
            },
            {
              "id": "00d7c225-305b-48db-a31d-69947287bffd",
              "name": "_final_url",
              "value": "={{ $('Set — After Fetch Check').item.json._existing_fetch.meta?.final_url || null }}",
              "type": "string"
            },
            {
              "id": "2f015635-f530-4ed8-b6ab-a6591530efc2",
              "name": "_url_id",
              "value": "={{ $('Set — After Fetch Check').item.json._url_id }}",
              "type": "string"
            },
            {
              "id": "37362b4e-6178-405a-b455-42f6e690bef3",
              "name": "_carry",
              "value": "={{ $('Set — Carry').item.json._carry }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5424,
        896
      ],
      "id": "d8e7f492-a25a-4b58-a960-e4961658c475",
      "name": "Set — Reuse Fetch Data",
      "notes": "Reuse existing fetch data when storage_url exists. Extracts url_fetch_id, storage_url, content_type, body_sha256_hex, size_bytes, final_url from existing fetch. Preserves carry context. This path skips HTTP/S3 operations."
    },
    {
      "parameters": {
        "url": "={{ $('Set — Carry').item.json._carry.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "TelegramKnowledgeBot/1.0 (+fetch)"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 10
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3664,
        1120
      ],
      "id": "11e05c97-7e29-4c6d-b98c-bd0333353641",
      "name": "HTTP — Fetch URL",
      "notesInFlow": true,
      "onError": "continueErrorOutput",
      "notes": "⚠️ Fetched content is UNTRUSTED. Stored for extraction only, never executed."
    },
    {
      "parameters": {
        "value": "binary"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        5360,
        1152
      ],
      "id": "88593cb7-7efa-4319-a441-d35696cca96d",
      "name": "Crypto — SHA256 Body",
      "notes": "Compute SHA256 hash of HTTP response body (binary data). Uses hex encoding. Hash stored as body_sha256_hex."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfbe56c8-8c9d-412e-ac95-325dc1ba3a3d",
              "name": "url_id",
              "value": "={{ $('Set — After Fetch Check').item.json._url_id }}",
              "type": "string"
            },
            {
              "id": "c474a89f-63ca-4876-bcd8-eeb941c2a243",
              "name": "status",
              "value": "succeeded",
              "type": "string"
            },
            {
              "id": "397ecb11-e952-4324-b4ba-bc55690f38b2",
              "name": "http_status",
              "value": "={{ $('Set — Restore After S3').item.json.statusCode }}",
              "type": "number"
            },
            {
              "id": "88664f7a-42b9-4f88-931a-844f96a1ab0e",
              "name": "content_type",
              "value": "={{ $('Set — Restore After S3').item.json.headers?.['content-type'] || null }}",
              "type": "string"
            },
            {
              "id": "205a3b1a-b81e-481f-a46e-a24d5097cb4c",
              "name": "etag",
              "value": "={{ $('Set — Restore After S3').item.json.headers?.etag || null }}",
              "type": "string"
            },
            {
              "id": "a928d808-1055-417e-b76e-a57e3bd46609",
              "name": "last_modified",
              "value": "={{ $('Set — Restore After S3').item.json.headers?.['last-modified'] || null }}",
              "type": "string"
            },
            {
              "id": "d9713f7f-8178-44ba-9bd1-f65fc46480c4",
              "name": "body_sha256",
              "value": "={{ '\\\\x' + $('Crypto — SHA256 Body').item.json.data }}",
              "type": "string"
            },
            {
              "id": "37805290-880c-4370-acd0-f014eea3a227",
              "name": "storage_url",
              "value": "={{ 's3://' + $('Set — Restore After S3').item.json._s3.bucket + '/' + $('Set — Restore After S3').item.json._s3.key }}",
              "type": "string"
            },
            {
              "id": "e3fb05fa-4be4-4b46-8c63-d1cb8c0fdcfd",
              "name": "meta.storage.provider",
              "value": "s3",
              "type": "string"
            },
            {
              "id": "1022c864-0d27-49a9-8efd-98cada6d1b68",
              "name": "meta.storage.bucket",
              "value": "={{ $('Set — Restore After S3').item.json._s3.bucket }}",
              "type": "string"
            },
            {
              "id": "3cce0dc8-fd97-41ce-a3da-c3ed0726a5b8",
              "name": "meta.storage.key",
              "value": "={{ $('Set — Restore After S3').item.json._s3.key }}",
              "type": "string"
            },
            {
              "id": "98649f2b-20ae-4c4e-b90c-a56dfd018cf8",
              "name": "meta.storage.kind",
              "value": "raw_http_body",
              "type": "string"
            },
            {
              "id": "16c88c3a-19df-451f-888b-db9354be8119",
              "name": "meta.storage.is_binary",
              "value": "=true",
              "type": "boolean"
            },
            {
              "id": "601de943-5656-4a5d-8204-d15f4bd7bdce",
              "name": "meta.storage.size_bytes",
              "value": "={{ $('Set — Restore After S3').item.binary?.data?.fileSize || 0 }}",
              "type": "number"
            },
            {
              "id": "2fe6c04a-33ce-4199-8e66-87a96f3a599f",
              "name": "meta.storage.sha256_hex",
              "value": "={{ $('Crypto — SHA256 Body').item.json.data }}",
              "type": "string"
            },
            {
              "id": "60e87c44-e86e-4745-913e-39b25bdc2805",
              "name": "meta.requested_url",
              "value": "={{ $('Set — Carry').item.json._carry.url }}",
              "type": "string"
            },
            {
              "id": "ae637efb-f0b9-45c7-9dca-279b2b0b2bc4",
              "name": "meta.final_url",
              "value": "={{ $('HTTP — Fetch URL').first().json.url || $('Set — Carry').item.json._carry.url }}",
              "type": "string"
            },
            {
              "id": "95fe7cfc-46a9-47d2-8ca4-bda57e14f444",
              "name": "meta.user_agent",
              "value": "TelegramKnowledgeBot/1.0 (+fetch)",
              "type": "string"
            },
            {
              "id": "5c1e4d8d-acaa-43a6-b4f7-75d5e3d621cc",
              "name": "meta.response_headers.content_type",
              "value": "={{ $('Set — Restore After S3').item.json.headers?.['content-type'] || null }}",
              "type": "string"
            },
            {
              "id": "598d5eb9-d1ae-4dbd-9d9a-e0efa88a639e",
              "name": "meta.response_headers.content_length",
              "value": "={{ $('Set — Restore After S3').item.json.headers?.['content-length'] || null }}",
              "type": "string"
            },
            {
              "id": "847b274e-acee-462c-99b9-46c593aab385",
              "name": "meta.response_headers.etag",
              "value": "={{ $('Set — Restore After S3').item.json.headers?.etag || null }}",
              "type": "string"
            },
            {
              "id": "1f93e6d6-7445-49c3-a238-5b05412326fd",
              "name": "meta.response_headers.last_modified",
              "value": "={{ $('Set — Restore After S3').item.json.headers?.['last-modified'] || null }}",
              "type": "string"
            },
            {
              "id": "a33bec8c-3110-4d88-bf52-f2f5f578ebec",
              "name": "meta.response_headers.cache_control",
              "value": "={{ $('Set — Restore After S3').item.json.headers?.['cache-control'] || null }}",
              "type": "string"
            },
            {
              "id": "516fb2c5-4639-4c04-8cac-f624d407de85",
              "name": "meta.response_headers.content_encoding",
              "value": "={{ $('Set — Restore After S3').item.json.headers?.['content-encoding'] || null }}",
              "type": "string"
            },
            {
              "id": "9d220002-b4f9-44df-9d8a-d62f3e99d8e0",
              "name": "meta.response_headers.location",
              "value": "={{ $('Set — Restore After S3').item.json.headers?.location || null }}",
              "type": "string"
            },
            {
              "id": "31be7f0d-3ce3-469c-beb4-144266b78b10",
              "name": "meta.status_message",
              "value": "={{ $('Set — Restore After S3').item.json.statusMessage || null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5552,
        1168
      ],
      "id": "87141845-9e60-4f88-82d0-292610c8aafd",
      "name": "Set — Prep Fetch Insert",
      "notes": "Prepare url_fetches INSERT with storage_url (s3:// pointer), body_sha256 (bytea), http_status, content_type, etag, last_modified. meta includes storage.* fields (provider, bucket, key, kind, is_binary, size_bytes, sha256_hex), requested_url, final_url (actual from HTTP), user_agent, safe response headers. FIX: final_url now uses actual HTTP final URL not requested_url. FIX: meta is OBJECT not STRING."
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "content"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "url_fetches"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url_id": "={{ $json.url_id }}",
            "status": "={{ $json.status }}",
            "http_status": "={{ $json.http_status }}",
            "content_type": "={{ $json.content_type }}",
            "meta": "={{ $json.meta }}",
            "body_sha256": "={{ $json.body_sha256 }}",
            "etag": "={{ $json.etag }}",
            "last_modified": "={{ $json.last_modified }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url_id",
              "displayName": "url_id",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "number",
              "display": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "string",
              "display": true
            },
            {
              "id": "http_status",
              "displayName": "http_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "number",
              "display": true
            },
            {
              "id": "content_type",
              "displayName": "content_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "string",
              "display": true
            },
            {
              "id": "meta",
              "displayName": "meta",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "object",
              "display": true
            },
            {
              "id": "body_sha256",
              "displayName": "body_sha256",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "string",
              "display": true
            },
            {
              "id": "etag",
              "displayName": "etag",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "string",
              "display": true
            },
            {
              "id": "last_modified",
              "displayName": "last_modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "string",
              "display": true
            }
          ]
        },
        "options": {
          "outputColumns": [
            "id",
            "url_id",
            "http_status",
            "content_type",
            "meta",
            "body_sha256",
            "etag",
            "last_modified"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5776,
        1280
      ],
      "id": "fc1249df-1c38-42cc-b09b-47a6cef289bf",
      "name": "PG — Insert url_fetches",
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6da57f7-2124-4f7a-b0eb-378967b17d97",
              "name": "_url_id",
              "value": "={{ $('Set — After Fetch Check').item.json._url_id }}",
              "type": "string"
            },
            {
              "id": "d6971e5e-6a6f-4bee-b25e-d944932e063c",
              "name": "_url_fetch_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "a56e62d6-43fe-4b6b-8560-a8041a203f9d",
              "name": "_http_status",
              "value": "={{ $json.http_status }}",
              "type": "number"
            },
            {
              "id": "4f46df56-bb7f-452b-9848-917d7cbb8e61",
              "name": "_content_type",
              "value": "={{ $json.content_type }}",
              "type": "string"
            },
            {
              "id": "d5caec16-70e9-4494-a0e6-d1c1d9e9caa5",
              "name": "_final_url",
              "value": "={{ $('Set — Carry').item.json._carry.url }}",
              "type": "string"
            },
            {
              "id": "daf8f6fe-1872-4c9d-af19-affcf80018f9",
              "name": "_size_bytes",
              "value": "={{ $json.meta?.storage.size_bytes }}",
              "type": "number"
            },
            {
              "id": "830ed212-a08a-4cf1-a9e7-57a66059e1ec",
              "name": "_body_sha256_hex",
              "value": "={{ $json.meta?.storage.sha256_hex }}",
              "type": "string"
            },
            {
              "id": "be3888b6-00ab-453f-bf97-332a5e2acec5",
              "name": "_blob_object_id",
              "value": "={{ null }}",
              "type": "string"
            },
            {
              "id": "339b6d2d-d6ba-4e37-9f0a-b0e66f90f189",
              "name": "_fetched_new",
              "value": "true",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6192,
        1360
      ],
      "id": "5692eaa0-453d-41a6-baae-e2c73f1bf061",
      "name": "Set — After Fetch Insert"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "content"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "documents"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "tenant_id",
              "value": "={{ $('Set — Carry').item.json._carry.tenant_id }}"
            },
            {
              "column": "url_id",
              "value": "={{ $json._url_id }}"
            },
            {
              "column": "doc_type",
              "value": "url"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "created_at",
              "direction": "DESC"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "id",
            "tenant_id",
            "url_id",
            "status",
            "doc_type"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6608,
        1344
      ],
      "id": "c4f5b489-9a46-4778-ae06-dcc942ac4be0",
      "name": "PG — Select Existing Doc",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Check if document already exists for this url_id. Uses LIMIT 1 to get most recent. Returns NULL if no document exists. onError=continueErrorOutput."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "417e5e21-d00f-494f-998b-d470fe75be4f",
              "name": "_existing_doc",
              "value": "={{ $json._existing_doc ?? ($json.id ? $json : null) }}",
              "type": "object"
            },
            {
              "id": "cbd66c6c-4d7b-4735-a5d2-84cf42f268fa",
              "name": "_url_id",
              "value": "={{ $json._url_id }}",
              "type": "string"
            },
            {
              "id": "a2801d13-1e12-46eb-bf30-5a16bdb31372",
              "name": "_url_fetch_id",
              "value": "={{ $json._url_fetch_id }}",
              "type": "string"
            },
            {
              "id": "fe912fd5-3456-4cc7-9cd5-944019a12fb0",
              "name": "_storage_url",
              "value": "={{ $json._storage_url }}",
              "type": "string"
            },
            {
              "id": "c46bf55c-6e3d-4c93-9198-7f337c9a2e3f",
              "name": "_carry",
              "value": "={{ $('Set — Carry').item.json._carry }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7280,
        1152
      ],
      "id": "ecfb2baa-818f-4c21-ba79-fd7b6a306ee7",
      "name": "Set — After Doc Check",
      "notes": "Capture result from Merge Doc Result. If SELECT returned row, $json.id exists so use $json as _existing_doc. If no row (default), _existing_doc is null. Preserves _url_id, _url_fetch_id, _storage_url, _carry."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9c21ce93-fdf9-4421-8c23-8205662a2044",
              "leftValue": "={{ $json._existing_doc }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7536,
        1264
      ],
      "id": "96595122-0e99-46ea-aef0-682debc9c79c",
      "name": "IF — Doc Exists?",
      "notes": "Check if document already exists. If _existing_doc is not null: reuse document_id, skip insert. If null: insert new document."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "63f65f4f-5593-4d24-b195-5a744eb4519c",
              "name": "_document_id",
              "value": "={{ $json._existing_doc.id }}",
              "type": "string"
            },
            {
              "id": "00e36941-8451-4b82-a8c0-51d37697fb81",
              "name": "_url_id",
              "value": "={{ $json._url_id }}",
              "type": "string"
            },
            {
              "id": "f27c53dc-bc8a-4496-bab4-c8610ed7a359",
              "name": "_url_fetch_id",
              "value": "={{ $json._url_fetch_id }}",
              "type": "string"
            },
            {
              "id": "02f8dd93-8ad5-4931-a826-e3d4594c93b3",
              "name": "_storage_url",
              "value": "={{ $json._storage_url }}",
              "type": "string"
            },
            {
              "id": "83896202-0cd1-4d83-8ae5-e14c68f4c33d",
              "name": "_carry",
              "value": "={{ $('Set — Carry').item.json._carry }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7952,
        1136
      ],
      "id": "2d195cb6-a282-4b38-a734-f063229a700b",
      "name": "Set — Existing Doc ID",
      "notes": "Use existing document_id from _existing_doc. Preserves context for job creation."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "15edd7ea-06ee-4472-9ce7-170fecc291cd",
              "name": "tenant_id",
              "value": "={{ $('Set — Carry').item.json._carry.tenant_id }}",
              "type": "string"
            },
            {
              "id": "1c75d409-c4c0-4d70-a911-1e4f9a7438d8",
              "name": "doc_type",
              "value": "url",
              "type": "string"
            },
            {
              "id": "8e55c6a5-cd9b-4302-8fef-ef238ed04008",
              "name": "visibility",
              "value": "={{ $('Set — Carry').item.json._carry.visibility || 'group' }}",
              "type": "string"
            },
            {
              "id": "4a6603be-178c-4a73-93c0-5b173f4f71b9",
              "name": "chat_id",
              "value": "={{ $('Set — Carry').item.json._carry.chat_id }}",
              "type": "string"
            },
            {
              "id": "baeb5de5-2476-4b00-8cc7-7563cac3f8ad",
              "name": "message_version_id",
              "value": "={{ $('Set — Carry').item.json._carry.message_version_id }}",
              "type": "string"
            },
            {
              "id": "cb2c90c1-4981-4c00-9ddf-288b74f4481d",
              "name": "url_id",
              "value": "={{ $json._url_id }}",
              "type": "string"
            },
            {
              "id": "2ac95c32-6c8e-469e-8daf-5e8238af836b",
              "name": "title",
              "value": "={{ $('Set — Carry').item.json._carry.link_text || $('Set — Carry').item.json._carry.url }}",
              "type": "string"
            },
            {
              "id": "39746945-bb1a-4852-947a-ea3db0eb0fe6",
              "name": "status",
              "value": "pending",
              "type": "string"
            },
            {
              "id": "07437769-f2b5-4b36-8d30-16280c3382af",
              "name": "meta.source_url",
              "value": "={{ $json._final_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7712,
        1360
      ],
      "id": "4a8452b1-cecd-4fc3-99cf-9ae1ed44b049",
      "name": "Set — Prep Doc Insert"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "content"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "documents"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $json.tenant_id }}",
            "doc_type": "={{ $json.doc_type }}",
            "visibility": "={{ $json.visibility }}",
            "chat_id": "={{ $json.chat_id }}",
            "message_version_id": "={{ $json.message_version_id }}",
            "url_id": "={{ $json.url_id }}",
            "title": "={{ $json.title }}",
            "status": "={{ $json.status }}",
            "meta": "={{ $json.meta }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "string",
              "display": true
            },
            {
              "id": "doc_type",
              "displayName": "doc_type",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "string",
              "display": true
            },
            {
              "id": "visibility",
              "displayName": "visibility",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "string",
              "display": true
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "number",
              "display": true
            },
            {
              "id": "message_version_id",
              "displayName": "message_version_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "number",
              "display": true
            },
            {
              "id": "url_id",
              "displayName": "url_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "number",
              "display": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "string",
              "display": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "string",
              "display": true
            },
            {
              "id": "meta",
              "displayName": "meta",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "object",
              "display": true
            }
          ]
        },
        "options": {
          "outputColumns": [
            "id",
            "tenant_id",
            "url_id"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7888,
        1424
      ],
      "id": "bf2c3aa4-bed8-4949-853a-35102109fec3",
      "name": "PG — Insert content.documents",
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Insert new document row. doc_type, visibility, url_id, tenant_id required. status=pending (will be updated by extract_text job). onError=continueErrorOutput for error handling."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4bb9f40d-c5dc-4ba9-b2f7-4efd157d4bd9",
              "name": "_doc_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "eb3a4794-6af1-48db-9646-5fa7033e6a88",
              "name": "_url_id",
              "value": "={{ $('Set — After Doc Check').item.json._url_id }}",
              "type": "string"
            },
            {
              "id": "606778df-6f4d-4ca6-817a-d879b2b73016",
              "name": "_url_fetch_id",
              "value": "={{ $('Set — After Doc Check').item.json._url_fetch_id }}",
              "type": "string"
            },
            {
              "id": "308b6c5a-9f3f-4019-bdb5-466543cf2d91",
              "name": "_http_status",
              "value": "={{ $('Set — After Doc Check').item.json._http_status }}",
              "type": "number"
            },
            {
              "id": "725fa6a2-22c0-4c68-8492-db901e25d8cc",
              "name": "_content_type",
              "value": "={{ $('Set — After Doc Check').item.json._content_type }}",
              "type": "string"
            },
            {
              "id": "36993d11-f19d-41f4-99a4-7c7e6c80650f",
              "name": "_final_url",
              "value": "={{ $('Set — After Doc Check').item.json._final_url }}",
              "type": "string"
            },
            {
              "id": "94f69ba8-6d6b-4120-9beb-633a05487f32",
              "name": "_size_bytes",
              "value": "={{ $('Set — After Doc Check').item.json._size_bytes }}",
              "type": "number"
            },
            {
              "id": "29966cf9-59fa-472a-9c41-c3fa78b31e42",
              "name": "_body_sha256_hex",
              "value": "={{ $('Set — After Doc Check').item.json._body_sha256_hex }}",
              "type": "string"
            },
            {
              "id": "cf14b325-a846-49cf-be14-3c88fe7ddd63",
              "name": "_blob_object_id",
              "value": "={{ null }}",
              "type": "string"
            },
            {
              "id": "c8c0f8ee-d2c5-46fd-8ccc-9fb51555830a",
              "name": "_storage_url",
              "value": "={{ $('Merge — Fetch chosen').item.json._storage_url || $('Set — Prep Fetch Insert').first()?.json.storage_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8240,
        1360
      ],
      "id": "d83fe3a2-be2e-4c6d-86a0-7278d806e17f",
      "name": "Set — After Doc Insert",
      "notes": "Capture document_id after document insert/check. Preserves url_id, url_fetch_id, storage_url, content_type, body_sha256_hex, size_bytes, final_url from either reuse or new fetch path. Uses carry for context."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d73fa77-baf7-4dd7-a720-9c280be312ef",
              "name": "type",
              "value": "extract_text",
              "type": "string"
            },
            {
              "id": "16db3aec-ea08-4b7f-9684-da59de23e825",
              "name": "priority",
              "value": "=20",
              "type": "number"
            },
            {
              "id": "436f1093-7d4a-4fa7-bb25-ff3e59f3226f",
              "name": "status",
              "value": "pending",
              "type": "string"
            },
            {
              "id": "9ed7a7e3-86c0-465f-aeb8-f28fae5ca180",
              "name": "tenant_id",
              "value": "={{ $('Set — Carry').item.json._carry.tenant_id }}",
              "type": "string"
            },
            {
              "id": "2b2b2950-7691-4de2-be47-b0774f727930",
              "name": "ctx.tenant_id",
              "value": "={{ $('Set — Carry').item.json._carry.tenant_id }}",
              "type": "string"
            },
            {
              "id": "2cb4fa30-0570-4668-ad16-1a95f08f17c9",
              "name": "ctx.bot_id",
              "value": "={{ $('Set — Carry').item.json._carry.bot_id }}",
              "type": "string"
            },
            {
              "id": "86d623c5-b2d8-4234-860f-efde045a899f",
              "name": "ctx.trace_id",
              "value": "={{ $('Set — Carry').item.json._carry.trace_id }}",
              "type": "string"
            },
            {
              "id": "7da9457f-96cd-4b5b-bdbb-d79c93cb023b",
              "name": "ctx.correlation_id",
              "value": "={{ $('Set — Carry').item.json._carry.correlation_id }}",
              "type": "string"
            },
            {
              "id": "889e1a44-5bad-4845-a277-12c3c1fda493",
              "name": "ctx.visibility",
              "value": "={{ $('Set — Carry').item.json._carry.visibility }}",
              "type": "string"
            },
            {
              "id": "63cdeb6d-bbca-41c3-a386-e2a7790c3359",
              "name": "ctx.chat_id",
              "value": "={{ $('Set — Carry').item.json._carry.chat_id }}",
              "type": "string"
            },
            {
              "id": "5f1cc806-b86f-4c19-a822-1d9cd93ed468",
              "name": "ctx.message_version_id",
              "value": "={{ $('Set — Carry').item.json._carry.message_version_id }}",
              "type": "string"
            },
            {
              "id": "9d6cd319-92a7-4230-9ae1-fbcc89c4b4a8",
              "name": "payload.url_id",
              "value": "={{ $json._url_id }}",
              "type": "string"
            },
            {
              "id": "c35770f3-0952-4123-b86d-391880296568",
              "name": "payload.url_fetch_id",
              "value": "={{ $json._url_fetch_id || $('PG — Insert url_fetches').first()?.json.id }}",
              "type": "string"
            },
            {
              "id": "27dae373-cad8-49a6-9d44-7b24a61f30f2",
              "name": "payload.document_id",
              "value": "={{ $json._document_id }}",
              "type": "string"
            },
            {
              "id": "a99a3137-7425-4388-8b14-6b8855e3d6f1",
              "name": "payload.storage_url",
              "value": "={{ $json._storage_url || $('Set — Prep Fetch Insert').first()?.json.storage_url }}",
              "type": "string"
            },
            {
              "id": "33954da2-2510-4479-a311-cbec707ab5a0",
              "name": "payload.content_type",
              "value": "={{ $json._content_type || $('Set — Prep Fetch Insert').first()?.json.content_type }}",
              "type": "string"
            },
            {
              "id": "bc06a780-d2f6-4ab7-9251-96dbbc943c02",
              "name": "payload.size_bytes",
              "value": "={{ $json._size_bytes || $('Set — Prep Fetch Insert').first()?.json.meta.storage.size_bytes || 0 }}",
              "type": "number"
            },
            {
              "id": "1c6c6c90-1120-42aa-8a7c-f912f499f329",
              "name": "payload.body_sha256_hex",
              "value": "={{ $json._body_sha256_hex || $('Set — Prep Fetch Insert').first()?.json.meta.storage.sha256_hex }}",
              "type": "string"
            },
            {
              "id": "853c4e3e-b8e3-4bea-9437-a2b4201bf09b",
              "name": "payload.final_url",
              "value": "={{ $json._final_url || $('Set — Prep Fetch Insert').first()?.json.meta.final_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8560,
        1280
      ],
      "id": "bebb4f93-85c7-4a02-bf21-1ef3e9239800",
      "name": "Set — Prep Extract Job",
      "notes": "Prepare ops.jobs INSERT for extract_text job. Includes ctx fields (tenant_id, bot_id, trace_id, correlation_id, visibility, chat_id, message_version_id) and payload with storage_url, content_type, size_bytes, body_sha256_hex, final_url, url_id, url_fetch_id, document_id. Uses dotNotation to build nested objects. NEW: storage_url and related fields required for WF40 to fetch body from S3."
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "ops"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "jobs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $json.tenant_id }}",
            "job_type": "={{ $json.job_type }}",
            "status": "={{ $json.status }}",
            "priority": "={{ $json.priority }}",
            "correlation_id": "={{ $json.correlation_id }}",
            "payload": "={{ $json.payload }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "string",
              "display": true
            },
            {
              "id": "job_type",
              "displayName": "job_type",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "string",
              "display": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "string",
              "display": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "number",
              "display": true
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "string",
              "display": true
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "object",
              "display": true
            }
          ]
        },
        "options": {
          "outputColumns": [
            "id",
            "job_type",
            "correlation_id"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        8736,
        1312
      ],
      "id": "40a2be75-8c71-4750-9cec-2dd1a2003611",
      "name": "PG — Insert ops.jobs extract_text",
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Insert extract_text job for document processing. Includes ctx (tenant_id, bot_id, trace_id, correlation_id, visibility, chat_id, message_version_id) and payload (storage_url, content_type, size_bytes, body_sha256_hex, final_url, url_id, url_fetch_id, document_id). Job will be picked up by WF40. onError=continueErrorOutput."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2509fcc9-e6a5-4155-a6ca-49b4e2cee4d0",
              "name": "_extract_text_job_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "bc8e237e-d42c-4f9d-9100-d24113709dfc",
              "name": "_url_id",
              "value": "={{ $('Set — Prep Extract Job').item.json._url_id }}",
              "type": "string"
            },
            {
              "id": "2fed080c-d646-40be-8ad5-0d3cb52f705a",
              "name": "_url_fetch_id",
              "value": "={{ $('Set — Prep Extract Job').item.json._url_fetch_id }}",
              "type": "string"
            },
            {
              "id": "b332cf87-bfce-4f05-a4fa-227015642cd4",
              "name": "_http_status",
              "value": "={{ $('Set — Prep Extract Job').item.json._http_status }}",
              "type": "number"
            },
            {
              "id": "aac8e7d0-74fa-4b7c-b925-ea7020bb63e5",
              "name": "_content_type",
              "value": "={{ $('Set — Prep Extract Job').item.json._content_type }}",
              "type": "string"
            },
            {
              "id": "aac296ec-5870-420c-8169-2c42b2cd3c04",
              "name": "_final_url",
              "value": "={{ $('Set — Prep Extract Job').item.json._final_url }}",
              "type": "string"
            },
            {
              "id": "2ae8c1b7-9d5a-4110-b2cd-26472878a340",
              "name": "_size_bytes",
              "value": "={{ $('Set — Prep Extract Job').item.json._size_bytes }}",
              "type": "number"
            },
            {
              "id": "dcc811f7-a413-41e3-b4cb-67944fb75f0d",
              "name": "_body_sha256_hex",
              "value": "={{ $('Set — Prep Extract Job').item.json._body_sha256_hex }}",
              "type": "string"
            },
            {
              "id": "ace3910c-8bd8-4a95-a7fe-bcee54f7877a",
              "name": "_blob_object_id",
              "value": "={{ null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9232,
        1280
      ],
      "id": "3378ce67-a68e-4814-b786-ca9ef9083e6a",
      "name": "Set — After Job Insert",
      "notes": "Capture job_id and prepare success envelope. Final step before returning success response."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7802e388-9cb9-447c-a047-debaf9cb6fc4",
              "name": "ok",
              "value": "=true",
              "type": "boolean"
            },
            {
              "id": "d5222071-5663-4d26-9800-554b5a2950a5",
              "name": "status_code",
              "value": "=200",
              "type": "number"
            },
            {
              "id": "dcb8bd8a-ca0f-4dd7-932e-733eef2c8314",
              "name": "data.document_id",
              "value": "={{ $json._document_id }}",
              "type": "string"
            },
            {
              "id": "c7ddb73a-1278-4bb6-b779-8956838021af",
              "name": "data.url_id",
              "value": "={{ $json._url_id }}",
              "type": "string"
            },
            {
              "id": "f81c5f43-8338-4481-ba82-d5b30b45bd18",
              "name": "data.url_fetch_id",
              "value": "={{ $json._url_fetch_id }}",
              "type": "string"
            },
            {
              "id": "22c789ea-ee3d-466f-b8aa-006b6084ed5a",
              "name": "data.storage_url",
              "value": "={{ $json._storage_url }}",
              "type": "string"
            },
            {
              "id": "4254cc2e-130f-48c2-b031-7c2e397d53d0",
              "name": "data.enqueued_extract_text_job_id",
              "value": "={{ $json._job_id }}",
              "type": "string"
            },
            {
              "id": "1e8e748b-fe89-437c-81cb-b22ee3acf198",
              "name": "error",
              "value": "=null",
              "type": "object"
            },
            {
              "id": "499e2ef6-365b-439c-bb5c-4cb1100dc51c",
              "name": "meta.source",
              "value": "WF31",
              "type": "string"
            },
            {
              "id": "d8868496-c471-437f-9e82-117be3f2dae3",
              "name": "meta.ts",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "7e4a6a8e-515e-4bfe-906c-b3a254103e57",
              "name": "meta.correlation.correlation_id",
              "value": "={{ $('Set — Carry').item.json._carry.correlation_id }}",
              "type": "string"
            },
            {
              "id": "c7c7c1ef-5932-42be-b118-27617065aa1a",
              "name": "meta.correlation.trace_id",
              "value": "={{ $('Set — Carry').item.json._carry.trace_id }}",
              "type": "string"
            },
            {
              "id": "e3134f7f-d484-47c2-bcf7-e8989f64617e",
              "name": "meta.correlation.tenant_id",
              "value": "={{ $('Set — Carry').item.json._carry.tenant_id }}",
              "type": "string"
            },
            {
              "id": "937535e6-85e3-450f-9aaa-82fe0c535a89",
              "name": "meta.correlation.chat_id",
              "value": "={{ $('Set — Carry').item.json._carry.chat_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9456,
        1280
      ],
      "id": "29eec01e-c611-43c0-a1ae-0ca4f101c7a8",
      "name": "OUT — SuccessEnvelope",
      "notes": "Build SuccessEnvelope v1. ok=true, status_code=200, data contains document_id/url_id/url_fetch_id/storage_url/enqueued_extract_text_job_id, error=null, meta includes source/ts/correlation. Aligned with WF20 output contract."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        208
      ],
      "id": "544e1ce6-d96b-4e5e-ba14-696d71bb3461",
      "name": "Manual Trigger — Tests"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e552237f-175c-497d-bccc-c20dcefd2f5c",
              "name": "req.ctx.tenant_id",
              "value": "00000000-0000-0000-0000-000000000001",
              "type": "string"
            },
            {
              "id": "e51545d3-d691-4562-8146-dec1c305de66",
              "name": "req.ctx.bot_id",
              "value": "00000000-0000-0000-0000-000000000002",
              "type": "string"
            },
            {
              "id": "d04cb37f-7354-42cf-bb53-bec993188079",
              "name": "req.ctx.trace_id",
              "value": "test-t1-trace",
              "type": "string"
            },
            {
              "id": "184f6fbe-0111-4346-b9d6-74d9ff3f7f9e",
              "name": "req.ctx.correlation_id",
              "value": "a0000031-0000-4000-8000-000000000001",
              "type": "string"
            },
            {
              "id": "516bdc2e-d592-41b2-9bdc-85324d477b41",
              "name": "req.ctx.visibility",
              "value": "group",
              "type": "string"
            },
            {
              "id": "c976fe53-771b-4aca-afd3-1fbb7069b1a4",
              "name": "req.ctx.chat_id",
              "value": "=-999",
              "type": "number"
            },
            {
              "id": "e24f9fda-c3ce-425b-a9e4-283e10af776f",
              "name": "req.ctx.message_version_id",
              "value": "=5",
              "type": "number"
            },
            {
              "id": "b9edbe9a-e516-4657-8501-0c67870605bd",
              "name": "req.ctx.job_id",
              "value": "={{ 0 }}",
              "type": "number"
            },
            {
              "id": "4bb9f6ad-74ed-456e-8924-a4351baa8d5a",
              "name": "req.ctx.workflow",
              "value": "WF31",
              "type": "string"
            },
            {
              "id": "5c8fef68-eed9-45eb-8ef4-6bd5f89de0ea",
              "name": "req.job.id",
              "value": "=-999",
              "type": "number"
            },
            {
              "id": "727aad5c-87e8-4166-9900-401c7a072949",
              "name": "req.job.job_type",
              "value": "fetch_url",
              "type": "string"
            },
            {
              "id": "cbe16ef5-ea5f-4627-a901-5c2d33107126",
              "name": "req.job.payload.tenant_id",
              "value": "00000000-0000-0000-0000-000000000001",
              "type": "string"
            },
            {
              "id": "2c318d20-6ba6-4f28-9166-e3a87fd5a4ac",
              "name": "req.job.payload.bot_id",
              "value": "00000000-0000-0000-0000-000000000002",
              "type": "string"
            },
            {
              "id": "e879d4c9-2deb-4c91-b38d-77d45af960f2",
              "name": "req.job.payload.trace_id",
              "value": "test-t1-trace",
              "type": "string"
            },
            {
              "id": "1b71e445-376b-43a0-909e-ad69f07aea3f",
              "name": "req.job.payload.correlation_id",
              "value": "a0000031-0000-4000-8000-000000000001",
              "type": "string"
            },
            {
              "id": "2544dfe1-0130-45c5-834e-7bf7058fd616",
              "name": "req.job.payload.visibility",
              "value": "group",
              "type": "string"
            },
            {
              "id": "73f0d936-848f-4181-b67e-386d76005af0",
              "name": "req.job.payload.chat_id",
              "value": "=-999",
              "type": "number"
            },
            {
              "id": "f48230dd-7e2a-415e-8813-df378cf7d2ba",
              "name": "req.job.payload.message_version_id",
              "value": "=-999",
              "type": "number"
            },
            {
              "id": "a5d97356-c7b8-4d51-b080-8b4910f2fe28",
              "name": "req.job.payload.url",
              "value": "https://example.com",
              "type": "string"
            },
            {
              "id": "279b3f3d-5bcc-44f4-83c8-93eacc895f1d",
              "name": "req.job.payload.url_id",
              "value": "={{ null }}",
              "type": "string"
            },
            {
              "id": "8cf8f814-452a-493b-be70-e7572de7e55a",
              "name": "req.job.payload.link_text",
              "value": "Example",
              "type": "string"
            },
            {
              "id": "a174dcce-398e-4728-8023-d445d1729cfd",
              "name": "req.job.payload.force_refetch",
              "value": "true",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        208
      ],
      "id": "8a6eac03-40f8-480e-9554-e7d18627ab3c",
      "name": "T1 — Build Input"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "content"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "url_fetches"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "url_id",
              "condition": ">",
              "value": "0"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "id",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        208
      ],
      "id": "57afe5e9-95b5-4424-a103-7ea4dfebf68c",
      "name": "T1 — Verify url_fetches",
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "notes": "TEST: Verify url_fetches row was inserted with status=succeeded, storage_url not null, meta.storage.key set. Part of T1 Happy path test."
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "ops"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "jobs"
        },
        "limit": 5,
        "where": {
          "values": [
            {
              "column": "correlation_id",
              "value": "a0000031-0000-4000-8000-000000000001"
            },
            {
              "column": "job_type",
              "value": "extract_text"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "id",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        784,
        208
      ],
      "id": "51aa96b3-729c-464c-9419-809e6d7f6ed3",
      "name": "T1 — Verify extract_text job",
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "notes": "TEST: Verify extract_text job was inserted with payload.storage_url set. Part of T1 Happy path test."
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "ops"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "jobs"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "correlation_id",
              "value": "a0000031-0000-4000-8000-000000000001"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        992,
        208
      ],
      "id": "d4e4462e-966c-45cf-97be-c02447982609",
      "name": "T1 — Cleanup jobs",
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "content"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "documents"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "tenant_id",
              "value": "00000000-0000-0000-0000-000000000001"
            },
            {
              "column": "doc_type",
              "value": "url"
            },
            {
              "column": "title",
              "value": "Example"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1184,
        208
      ],
      "id": "31579440-a490-4482-b6b4-d5ba470605e1",
      "name": "T1 — Cleanup documents",
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "content"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "url_fetches"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "url_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1536,
        208
      ],
      "id": "0ce9d475-74e7-4a1a-b728-4467ee82a641",
      "name": "T1 — Cleanup url_fetches",
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "content"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "urls"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "normalized_url",
              "value": "https://example.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1744,
        208
      ],
      "id": "82d6ab6a-e537-4d63-87f3-78c86e4ee9b2",
      "name": "T1 — Cleanup urls",
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "id": "e4d8fbe1-0022-41a1-85c0-4650623b2904",
      "name": "Merge — URL id chosen",
      "position": [
        1904,
        880
      ],
      "notes": "Merge paths: (0) from URL upsert, (1) from existing url_id. Both paths provide url_id needed for fetch check."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "id": "85042ce8-eb13-47b7-9859-a35eab0eb775",
      "name": "Merge — Fetch chosen",
      "position": [
        6400,
        1168
      ],
      "notes": "Merge paths: (0) from reused fetch, (1) from new fetch. Provides url_fetch_id, storage_url, and metadata for document handling."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "id": "cac675ba-4365-4ffe-af32-8b5d61914293",
      "name": "Merge — Doc chosen",
      "position": [
        8400,
        1264
      ],
      "notes": "Merge paths: (0) from existing document, (1) from new document insert. Provides document_id for job creation."
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "content"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "urls"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "normalized_url",
              "value": "https://example.com"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "id"
          ]
        }
      },
      "id": "73e5145e-88aa-4ab5-a5ab-c22c1868fbd6",
      "name": "T1 — Lookup url_id",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1344,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43a57e9d-aa5f-42b9-a0cd-329e712ebfe7",
              "name": "_s3.tenant_id",
              "value": "={{ $('Set — Carry').item.json._carry.tenant_id }}",
              "type": "string"
            },
            {
              "id": "d654a74e-aeb2-4512-90e6-108aab9cf0d9",
              "name": "_s3.url_id",
              "value": "={{ $('Set — After Fetch Check').item.json._url_id }}",
              "type": "string"
            },
            {
              "id": "a30180d7-8005-4376-87a0-98f01a5c50f9",
              "name": "_s3.fetched_at_utc",
              "value": "={{ new Date().toISOString().replace(/:/g, '-').replace(/\\..+/, '') }}",
              "type": "string"
            },
            {
              "id": "3714110e-c60c-4dca-9ebf-d9992f3f5785",
              "name": "_s3.content_type",
              "value": "={{ $json.headers?.['content-type']?.split(';')[0]?.trim() || 'application/octet-stream' }}",
              "type": "string"
            },
            {
              "id": "cce88884-cd2a-48e3-88e1-40fedbd23de1",
              "name": "_s3.ext",
              "value": "={{ (() => { const ct = $json.headers?.['content-type']?.toLowerCase() || ''; if (ct.includes('html')) return 'html'; if (ct.includes('json')) return 'json'; if (ct.includes('pdf')) return 'pdf'; if (ct.includes('xml')) return 'xml'; if (ct.includes('text')) return 'txt'; return 'bin'; })() }}",
              "type": "string"
            },
            {
              "id": "d6556eb8-8689-4ba4-9a24-3e65e2c2a7b0",
              "name": "_s3.key",
              "value": "={{ 'url_fetches/' + $('Set — Carry').item.json._carry.tenant_id + '/' + $('Set — After Fetch Check').item.json._url_id + '/' + new Date().toISOString().replace(/:/g, '-').replace(/\\..+/, '') + '/body.' + (() => { const ct = $json.headers?.['content-type']?.toLowerCase() || ''; if (ct.includes('html')) return 'html'; if (ct.includes('json')) return 'json'; if (ct.includes('pdf')) return 'pdf'; if (ct.includes('xml')) return 'xml'; if (ct.includes('text')) return 'txt'; return 'bin'; })() }}",
              "type": "string"
            },
            {
              "id": "a8bc30de-834a-442b-8526-ed38c3657eba",
              "name": "_s3.bucket",
              "value": "dfassistant",
              "type": "string"
            },
            {
              "id": "f7cbf85d-ff0d-42a1-8417-a3f1b8c19459",
              "name": "_s3.file_name",
              "value": "={{ 'url_fetches/' + $('Set — Carry').item.json._carry.tenant_id + '/' + $('Set — After Fetch Check').item.json._url_id + '/' + new Date().toISOString().replace(/:/g, '-').replace(/\\..+/, '') + '/body.' + (() => { const ct = $json.headers?.['content-type']?.toLowerCase() || ''; if (ct.includes('html')) return 'html'; if (ct.includes('json')) return 'json'; if (ct.includes('pdf')) return 'pdf'; if (ct.includes('xml')) return 'xml'; if (ct.includes('text')) return 'txt'; return 'bin'; })() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4416,
        1264
      ],
      "id": "26f5af72-7fde-450f-8952-47c1af49118b",
      "name": "Set — Build S3 Key",
      "notes": "Build S3 storage key using pattern: url_fetches/<tenant_id>/<url_id>/<fetched_at_utc>/body.<ext>. Extension derived from content-type. Preserves HTTP response data using includeOtherFields."
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $json._s3.bucket }}",
        "fileName": "={{ $json._s3.file_name }}",
        "additionalFields": {
          "grantRead": true
        }
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        4720,
        1168
      ],
      "id": "c70655c4-4ace-4622-b651-a34dd822afc2",
      "name": "S3 — Upload Body",
      "retryOnFail": true,
      "credentials": {
        "s3": {
          "id": "hjNqGx5slcq2dEGk",
          "name": "S3 account"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Upload HTTP response body (binary) to S3 bucket dfassistant. Uses binaryData=true to upload binary content. grantRead=true for public access. Retry on fail enabled."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1216716f-8dce-4778-b15a-6a90f69566b9",
              "name": "statusCode",
              "value": "={{ $('HTTP — Fetch URL').item.json.statusCode }}",
              "type": "number"
            },
            {
              "id": "4b2c4d57-56bd-49b0-b8e5-eff4fc9a7aad",
              "name": "statusMessage",
              "value": "={{ $('HTTP — Fetch URL').item.json.statusMessage }}",
              "type": "string"
            },
            {
              "id": "8e9866f3-4eb5-4eca-882a-21e361fef773",
              "name": "headers",
              "value": "={{ $('HTTP — Fetch URL').item.json.headers }}",
              "type": "object"
            },
            {
              "id": "e3b1297c-658a-46b1-8ff8-418cb60ef16a",
              "name": "_s3",
              "value": "={{ $('Set — Build S3 Key').item.json._s3 }}",
              "type": "object"
            },
            {
              "id": "852a8e4d-43f9-4f9b-8951-f4925b02bd68",
              "name": "_carry",
              "value": "={{ $('Set — Carry').item.json._carry }}",
              "type": "object"
            },
            {
              "id": "edcf62f9-4984-4694-b6a1-7484a765bb63",
              "name": "_url_id",
              "value": "={{ $('Set — After Fetch Check').item.json._url_id }}",
              "type": "string"
            },
            {
              "id": "e98cacad-d6e4-4283-9339-86089ce0be6e",
              "name": "binary",
              "value": "={{ $('HTTP — Fetch URL').item.binary }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5184,
        1168
      ],
      "id": "9421c62e-f008-4478-ab3b-b9ec16eb5d8c",
      "name": "Set — Restore After S3",
      "notes": "Restore HTTP response metadata (statusCode, headers) and carry fields after S3 upload. Preserves binary data reference. Needed because S3 upload changes data structure."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c798d80-171b-47b4-8b70-d3b0efb837a4",
              "name": "errorpipe.ctx.workflow",
              "value": "WF31",
              "type": "string"
            },
            {
              "id": "90f29e3e-5835-497b-8d74-5c90d973dcef",
              "name": "errorpipe.ctx.tenant_id",
              "value": "={{ $('Set — Carry').item.json._carry?.tenant_id || null }}",
              "type": "string"
            },
            {
              "id": "25ac4522-0d17-4d3e-97df-1e15c87c74ab",
              "name": "errorpipe.ctx.bot_id",
              "value": "={{ $('Set — Carry').item.json._carry?.bot_id || null }}",
              "type": "string"
            },
            {
              "id": "4791ee2d-de74-46b2-bab7-27d8a011b30e",
              "name": "errorpipe.ctx.correlation_id",
              "value": "={{ $('Set — Carry').item.json._carry?.correlation_id || null }}",
              "type": "string"
            },
            {
              "id": "ab898827-6d49-4b86-b051-fa4e201a609b",
              "name": "errorpipe.ctx.trace_id",
              "value": "={{ $('Set — Carry').item.json._carry?.trace_id || null }}",
              "type": "string"
            },
            {
              "id": "5a4bdb05-6cae-4421-829a-644f7d7d5a38",
              "name": "errorpipe.ctx.job_id",
              "value": "={{ $('Set — Carry').item.json._carry?.job_id || null }}",
              "type": "string"
            },
            {
              "id": "f9dba06b-56b9-4101-8141-51b39b3d5083",
              "name": "errorpipe.ctx.chat_id",
              "value": "={{ $('Set — Carry').item.json._carry?.chat_id || null }}",
              "type": "string"
            },
            {
              "id": "755a8267-b1d8-4233-b612-7a05d8926c78",
              "name": "errorpipe.error_context.node",
              "value": "={{ $json._error_node || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "478650ee-0fc8-444c-be8b-e84703943d7e",
              "name": "errorpipe.error_context.operation",
              "value": "={{ $json._error_operation || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "764c7ae2-3641-4727-a71c-95a5600d553f",
              "name": "errorpipe.error_context.kind",
              "value": "={{ $json._error_kind || 'runtime_error' }}",
              "type": "string"
            },
            {
              "id": "e62154e7-c487-4272-afc7-362e6890dd9c",
              "name": "errorpipe.error_context.message",
              "value": "={{ $json.errorMessage || $json.errorDescription || $json.message || $json.error?.message || $json.error?.description || 'Unknown error' }}",
              "type": "string"
            },
            {
              "id": "25673765-f81f-4fb9-88d9-bc6fc96b4134",
              "name": "errorpipe.error_context.retryable",
              "value": "={{ $json._error_retryable ?? false }}",
              "type": "boolean"
            },
            {
              "id": "be09fdf7-4557-4b84-a8d7-3e0d1ac23999",
              "name": "errorpipe.error_context.details",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9744,
        2576
      ],
      "id": "5cab01c2-8bd3-457d-aa4c-cc2bfabcaba6",
      "name": "Build ErrorPipe v1",
      "notes": "Unified error handler. Builds ErrorPipe v1 contract with ctx (workflow, tenant_id, bot_id, correlation_id, trace_id, job_id, chat_id) and error_context (node, operation, kind, message, retryable, details). Used by ALL error paths in WF31. Input must provide _error_node, _error_operation, _error_kind, and _error_retryable fields."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gcM1ZRVCKVtzJfHOH7OTw",
          "mode": "list",
          "cachedResultUrl": "/workflow/gcM1ZRVCKVtzJfHOH7OTw",
          "cachedResultName": "WF99 — Global ERR Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "errorpipe": "={{ $json.errorpipe }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        9936,
        2576
      ],
      "id": "3024e7f5-5771-4652-9192-2ce377f41c51",
      "name": "Execute WF99",
      "notes": "Call WF99 — Global ERR Handler with ErrorPipe v1. WF99 logs error to ops.errors and returns ErrorEnvelope v1. This is the ONLY error handler in WF31 - all error paths converge here. Do NOT use StopAndError after this - return WF99 output as normal workflow output."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6ce935bb-84b8-40ae-8cdc-fc2da6f3e992",
              "leftValue": "={{ $json.errorMessage || $json.errorDescription || $json.n8nDetails || $json.message || $json.error?.message || $json.error?.description || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "ae0ef8bf-c525-4b18-a90d-32b4d9ef7647",
              "leftValue": "={{ $json.errorMessage || $json.errorDescription || $json.n8nDetails || $json.message || $json.error?.message || $json.error?.description || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4080,
        1152
      ],
      "id": "8c7a9e96-0801-4c58-af58-7dc24f03e2dd",
      "name": "Guard IF — HTTP — Fetch URL Error?",
      "notes": "Guard for HTTP — Fetch URL. Checks if error occurred by testing errorMessage/errorDescription/n8nDetails/message/error fields. TRUE: route to error handler. FALSE: continue normal path. BOTH I/O outputs wire into this node."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "84d4d2da-577c-460c-9200-0b78758d07bb",
              "name": "_error_node",
              "value": "HTTP — Fetch URL",
              "type": "string"
            },
            {
              "id": "8e45cb26-c50a-4f7f-a419-7ebe1cc2f2ba",
              "name": "_error_operation",
              "value": "HTTP fetch",
              "type": "string"
            },
            {
              "id": "0e682d60-312a-462c-85ea-94de9f11e3ad",
              "name": "_error_kind",
              "value": "io_error",
              "type": "string"
            },
            {
              "id": "4f5aa6b8-3ff0-48d9-abf5-f40b91ee0e35",
              "name": "_error_retryable",
              "value": "=true",
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5504,
        1600
      ],
      "id": "cb2c1f20-9d9b-4bf4-ac87-b96d17d7dc13",
      "name": "Set — Tag http_fetch Error",
      "notes": "Tag error from HTTP — Fetch URL with metadata for ErrorPipe v1. Sets _error_node, _error_operation, _error_kind, _error_retryable. Preserves original error data with includeOtherFields."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ae414363-0af6-403b-9d99-712b6fdecd30",
              "leftValue": "={{ $json.errorMessage || $json.errorDescription || $json.n8nDetails || $json.message || $json.error?.message || $json.error?.description || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "33027370-481c-41f7-8096-545f7261cfba",
              "leftValue": "={{ $json.errorMessage || $json.errorDescription || $json.n8nDetails || $json.message || $json.error?.message || $json.error?.description || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5008,
        1248
      ],
      "id": "719827e9-284a-4d92-aebb-c7801dd90680",
      "name": "Guard IF — S3 — Upload Body Error?",
      "notes": "Guard for S3 — Upload Body. Checks if error occurred by testing errorMessage/errorDescription/n8nDetails/message/error fields. TRUE: route to error handler. FALSE: continue normal path. BOTH I/O outputs wire into this node."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab654122-ebef-4522-99b9-cfcdc1b8d4cb",
              "name": "_error_node",
              "value": "S3 — Upload Body",
              "type": "string"
            },
            {
              "id": "66ad7610-9e74-4273-a33b-22e7b9c251b4",
              "name": "_error_operation",
              "value": "S3 upload",
              "type": "string"
            },
            {
              "id": "22ba2827-43de-4e05-9b25-786a3593d0d8",
              "name": "_error_kind",
              "value": "io_error",
              "type": "string"
            },
            {
              "id": "079abec5-63cc-4d06-a7ad-00851b7579c4",
              "name": "_error_retryable",
              "value": "=true",
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5616,
        2288
      ],
      "id": "f535ee48-625c-4df5-bf06-03cee02afa15",
      "name": "Set — Tag s3_upload Error",
      "notes": "Tag error from S3 — Upload Body with metadata for ErrorPipe v1. Sets _error_node, _error_operation, _error_kind, _error_retryable. Preserves original error data with includeOtherFields."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "669e4743-7cfa-424d-8db1-db887e1387b1",
              "leftValue": "={{ $json.errorMessage || $json.errorDescription || $json.n8nDetails || $json.message || $json.error?.message || $json.error?.description || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "376a9585-7c48-46ef-bd43-d63e984944a0",
              "leftValue": "={{ $json.errorMessage || $json.errorDescription || $json.n8nDetails || $json.message || $json.error?.message || $json.error?.description || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        1104
      ],
      "id": "2385bc15-8684-464e-b492-c9e5a7bff88a",
      "name": "Guard IF — PG — Upsert content.urls Error?",
      "notes": "Guard for PG — Upsert content.urls. Checks if error occurred by testing errorMessage/errorDescription/n8nDetails/message/error fields. TRUE: route to error handler. FALSE: continue normal path. BOTH I/O outputs wire into this node."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1415df44-d9b3-4b23-88fe-195893cb77c6",
              "name": "_error_node",
              "value": "PG — Upsert content.urls",
              "type": "string"
            },
            {
              "id": "22bd1938-27db-4135-9970-d5ceb2cf2779",
              "name": "_error_operation",
              "value": "Upsert URLs",
              "type": "string"
            },
            {
              "id": "221995fa-b790-403b-ad2e-2b8aed481816",
              "name": "_error_kind",
              "value": "io_error",
              "type": "string"
            },
            {
              "id": "ca0ccd3d-cce8-4c7c-a751-d9b0a02adf44",
              "name": "_error_retryable",
              "value": "=true",
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        1296
      ],
      "id": "18174820-c5dd-4bd7-8268-4b341d3d2409",
      "name": "Set — Tag pg_upsert_urls Error",
      "notes": "Tag error from PG — Upsert content.urls with metadata for ErrorPipe v1. Sets _error_node, _error_operation, _error_kind, _error_retryable. Preserves original error data with includeOtherFields."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "51d66c9b-8299-4999-bc6f-b2eac7105d7c",
              "leftValue": "={{ $json.errorMessage || $json.errorDescription || $json.n8nDetails || $json.message || $json.error?.message || $json.error?.description || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "03d2de27-cb24-41c2-9e16-a43dab2b7b0f",
              "leftValue": "={{ $json.errorMessage || $json.errorDescription || $json.n8nDetails || $json.message || $json.error?.message || $json.error?.description || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2544,
        864
      ],
      "id": "c810b2c6-d8c5-4c87-8118-b177a09d6d82",
      "name": "Guard IF — PG — Select Latest Fetch Error?",
      "notes": "Guard for PG — Select Latest Fetch. Checks if error occurred by testing errorMessage/errorDescription/n8nDetails/message/error fields. TRUE: route to error handler. FALSE: continue normal path. BOTH I/O outputs wire into this node."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "709f6a87-7d37-4cd5-9d79-75d4e270cca2",
              "name": "_error_node",
              "value": "PG — Select Latest Fetch",
              "type": "string"
            },
            {
              "id": "374dcc44-4a0c-4199-b3c3-6aa82ed779a3",
              "name": "_error_operation",
              "value": "Select latest fetch",
              "type": "string"
            },
            {
              "id": "35784a12-b3f7-4fa0-ba24-6e68419b7182",
              "name": "_error_kind",
              "value": "io_error",
              "type": "string"
            },
            {
              "id": "f54d362d-763f-4429-8022-25f04a3fde22",
              "name": "_error_retryable",
              "value": "=true",
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2880,
        1264
      ],
      "id": "107cd3fa-e292-4369-859d-96b5ec3cae2a",
      "name": "Set — Tag pg_select_fetch Error",
      "notes": "Tag error from PG — Select Latest Fetch with metadata for ErrorPipe v1. Sets _error_node, _error_operation, _error_kind, _error_retryable. Preserves original error data with includeOtherFields."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9d6a6d35-ec3a-4e94-8292-64da78e14bb4",
              "leftValue": "={{ $json.errorMessage || $json.errorDescription || $json.n8nDetails || $json.message || $json.error?.message || $json.error?.description || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "e08a4d22-8954-451f-9564-b2691b5c52f5",
              "leftValue": "={{ $json.errorMessage || $json.errorDescription || $json.n8nDetails || $json.message || $json.error?.message || $json.error?.description || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5984,
        1264
      ],
      "id": "a6777912-d4a4-4211-aec8-cd2024ce2ddf",
      "name": "Guard IF — PG — Insert url_fetches Error?",
      "notes": "Guard for PG — Insert url_fetches. Checks if error occurred by testing errorMessage/errorDescription/n8nDetails/message/error fields. TRUE: route to error handler. FALSE: continue normal path. BOTH I/O outputs wire into this node."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26f53364-c8db-48b4-8d55-8106b761dd68",
              "name": "_error_node",
              "value": "PG — Insert url_fetches",
              "type": "string"
            },
            {
              "id": "13ed33e9-c2ee-4a14-81d4-8ad96d8b4024",
              "name": "_error_operation",
              "value": "Insert url_fetch",
              "type": "string"
            },
            {
              "id": "8fa589e6-68ed-4593-aa3f-b1efdb9f8c6d",
              "name": "_error_kind",
              "value": "io_error",
              "type": "string"
            },
            {
              "id": "f4a9bed7-dbb3-403a-8233-7882e4a85993",
              "name": "_error_retryable",
              "value": "=true",
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7408,
        2448
      ],
      "id": "c05bd486-06a4-4403-b32c-71f23e664f1a",
      "name": "Set — Tag pg_insert_fetch Error",
      "notes": "Tag error from PG — Insert url_fetches with metadata for ErrorPipe v1. Sets _error_node, _error_operation, _error_kind, _error_retryable. Preserves original error data with includeOtherFields."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "01b3687c-1989-4ed9-a4d0-0ec11df1212a",
              "leftValue": "={{ $json.errorMessage || $json.errorDescription || $json.n8nDetails || $json.message || $json.error?.message || $json.error?.description || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "efcc1751-feb7-43c2-8142-29b24ce3f603",
              "leftValue": "={{ $json.errorMessage || $json.errorDescription || $json.n8nDetails || $json.message || $json.error?.message || $json.error?.description || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6848,
        1360
      ],
      "id": "c561bab8-039a-4159-84f0-1b0cb10440e4",
      "name": "Guard IF — PG — Select Existing Doc Error?",
      "notes": "Guard for PG — Select Existing Doc. Checks if error occurred by testing errorMessage/errorDescription/n8nDetails/message/error fields. TRUE: route to error handler. FALSE: continue normal path. BOTH I/O outputs wire into this node."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2885a249-0586-4596-80ce-7dd80d94d351",
              "name": "_error_node",
              "value": "PG — Select Existing Doc",
              "type": "string"
            },
            {
              "id": "9f04d2a5-e169-4254-aac9-dbee1fa5ac82",
              "name": "_error_operation",
              "value": "Select existing doc",
              "type": "string"
            },
            {
              "id": "e88e9667-37e5-43de-b141-8d99acb6168d",
              "name": "_error_kind",
              "value": "io_error",
              "type": "string"
            },
            {
              "id": "f7603c21-3007-4912-b97b-f36a90300743",
              "name": "_error_retryable",
              "value": "=true",
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7984,
        1840
      ],
      "id": "acc474eb-d5ce-48dc-ab48-cc994f2540d3",
      "name": "Set — Tag pg_select_doc Error",
      "notes": "Tag error from PG — Select Existing Doc with metadata for ErrorPipe v1. Sets _error_node, _error_operation, _error_kind, _error_retryable. Preserves original error data with includeOtherFields."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "23b03c84-1982-4512-b47b-0e7f9b92031b",
              "leftValue": "={{ $json.errorMessage || $json.errorDescription || $json.n8nDetails || $json.message || $json.error?.message || $json.error?.description || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "98190a2c-aa21-4972-8305-313581d6d254",
              "leftValue": "={{ $json.errorMessage || $json.errorDescription || $json.n8nDetails || $json.message || $json.error?.message || $json.error?.description || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8080,
        1424
      ],
      "id": "5fcc3b7e-ee12-4716-84fd-cf2924b109b5",
      "name": "Guard IF — PG — Insert content.documents Error?",
      "notes": "Guard for PG — Insert content.documents. Checks if error occurred by testing errorMessage/errorDescription/n8nDetails/message/error fields. TRUE: route to error handler. FALSE: continue normal path. BOTH I/O outputs wire into this node."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9884c3d6-331c-4014-b24d-9b20250387d5",
              "name": "_error_node",
              "value": "PG — Insert content.documents",
              "type": "string"
            },
            {
              "id": "2a05161c-a533-4a07-b5a0-02174751bf5a",
              "name": "_error_operation",
              "value": "Insert document",
              "type": "string"
            },
            {
              "id": "5a225372-6739-42a8-8457-a0efda309a87",
              "name": "_error_kind",
              "value": "io_error",
              "type": "string"
            },
            {
              "id": "90d3f1a8-1752-438a-95be-ed1f8d097e4e",
              "name": "_error_retryable",
              "value": "=true",
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8752,
        1840
      ],
      "id": "6bde38a0-d0e6-451d-a4cf-e69149e58786",
      "name": "Set — Tag pg_insert_doc Error",
      "notes": "Tag error from PG — Insert content.documents with metadata for ErrorPipe v1. Sets _error_node, _error_operation, _error_kind, _error_retryable. Preserves original error data with includeOtherFields."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "853ac1e1-d213-4238-9f30-842ef6bdce02",
              "leftValue": "={{ $json.errorMessage || $json.errorDescription || $json.n8nDetails || $json.message || $json.error?.message || $json.error?.description || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "d7a15b88-d197-4f58-b256-fbf873fe71e3",
              "leftValue": "={{ $json.errorMessage || $json.errorDescription || $json.n8nDetails || $json.message || $json.error?.message || $json.error?.description || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8944,
        1296
      ],
      "id": "b73e2034-5b1d-40dc-bff1-0412389ea408",
      "name": "Guard IF — PG — Insert ops.jobs extract_text Error?",
      "notes": "Guard for PG — Insert ops.jobs extract_text. Checks if error occurred by testing errorMessage/errorDescription/n8nDetails/message/error fields. TRUE: route to error handler. FALSE: continue normal path. BOTH I/O outputs wire into this node."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4c76130a-6f61-4c61-b264-ea37359dea10",
              "name": "_error_node",
              "value": "PG — Insert ops.jobs extract_text",
              "type": "string"
            },
            {
              "id": "efad72e4-c7b4-4f82-be88-c16602bb0344",
              "name": "_error_operation",
              "value": "Insert extract_text job",
              "type": "string"
            },
            {
              "id": "972334b1-3f38-4baa-b60e-292f14482913",
              "name": "_error_kind",
              "value": "io_error",
              "type": "string"
            },
            {
              "id": "39206dfa-fc38-4212-9770-b9164a651945",
              "name": "_error_retryable",
              "value": "=true",
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9248,
        1984
      ],
      "id": "255db286-ea8d-4491-b8d8-5aea7639dbb2",
      "name": "Set — Tag pg_insert_job Error",
      "notes": "Tag error from PG — Insert ops.jobs extract_text with metadata for ErrorPipe v1. Sets _error_node, _error_operation, _error_kind, _error_retryable. Preserves original error data with includeOtherFields."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c3152473-b098-491c-8613-e801b2a5ae6f",
              "name": "_existing_fetch",
              "value": "=null",
              "type": "object"
            },
            {
              "id": "cec5eb9b-5ff2-4040-8068-412910f96f13",
              "name": "_url_id",
              "value": "={{ $('Merge — URL id chosen').item.json._url_id }}",
              "type": "string"
            },
            {
              "id": "03163757-6e44-46d4-b859-8f1b1fd0a709",
              "name": "_carry",
              "value": "={{ $('Set — Carry').item.json._carry }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2272,
        640
      ],
      "id": "6ab40c7e-9de2-4aff-a2c8-1ac800b0379d",
      "name": "Set — Default No Fetch",
      "notes": "Default item for when SELECT Latest Fetch returns 0 rows. Sets _existing_fetch=null, preserves _url_id and _carry. This merges with SELECT result to ensure exactly 1 item continues even if no rows found."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2848,
        768
      ],
      "id": "049677d2-8952-485d-a746-f52d9f30fd7f",
      "name": "Merge — Fetch Result",
      "notes": "Merge default (no fetch) with SELECT result. If SELECT returns 0 rows, default continues. If SELECT returns rows, use SELECT data. Output always has exactly 1 item."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10fd372e-726a-4df2-88f2-e3319c78b401",
              "name": "_existing_doc",
              "value": "=null",
              "type": "object"
            },
            {
              "id": "862e7143-67d4-4dda-9fca-dd37e155112e",
              "name": "_url_id",
              "value": "={{ $('Merge — Fetch chosen').item.json._url_id }}",
              "type": "string"
            },
            {
              "id": "691bf939-aa8f-4789-8996-ea633ee5fb85",
              "name": "_url_fetch_id",
              "value": "={{ $('Merge — Fetch chosen').item.json._url_fetch_id }}",
              "type": "string"
            },
            {
              "id": "27a4cc94-4714-4a00-9ee3-67450db7a7c3",
              "name": "_storage_url",
              "value": "={{ $('Merge — Fetch chosen').item.json._storage_url }}",
              "type": "string"
            },
            {
              "id": "881501cc-2e50-4f19-b767-d84a3c88e269",
              "name": "_carry",
              "value": "={{ $('Set — Carry').item.json._carry }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6816,
        1120
      ],
      "id": "771ccc6e-2ecd-4d3b-8db9-0e5ec0ba22c8",
      "name": "Set — Default No Doc",
      "notes": "Default item for when SELECT Existing Doc returns 0 rows. Sets _existing_doc=null, preserves _url_id, _url_fetch_id, _storage_url, _carry. Merges with SELECT result to ensure exactly 1 item continues."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        7088,
        1120
      ],
      "id": "aceb8d2e-4448-4ec1-9692-faed58a5f37f",
      "name": "Merge — Doc Result",
      "notes": "Merge default (no doc) with SELECT result. If SELECT returns 0 rows, default continues. If SELECT returns rows, use SELECT data. Output always has exactly 1 item."
    }
  ],
  "pinData": {},
  "connections": {
    "IN — Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Set — Carry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Carry": {
      "main": [
        [
          {
            "node": "IF — Valid Input?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Valid Input?": {
      "main": [
        [
          {
            "node": "IF — url_id Provided?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set — ERR Input Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — url_id Provided?": {
      "main": [
        [
          {
            "node": "Set — Use Existing url_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set — Prep URL Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Prep URL Upsert": {
      "main": [
        [
          {
            "node": "PG — Upsert content.urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG — Upsert content.urls": {
      "main": [
        [
          {
            "node": "Guard IF — PG — Upsert content.urls Error?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guard IF — PG — Upsert content.urls Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Capture url_id": {
      "main": [
        [
          {
            "node": "Merge — URL id chosen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Use Existing url_id": {
      "main": [
        [
          {
            "node": "Merge — URL id chosen",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "PG — Select Latest Fetch": {
      "main": [
        [
          {
            "node": "Guard IF — PG — Select Latest Fetch Error?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guard IF — PG — Select Latest Fetch Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — After Fetch Check": {
      "main": [
        [
          {
            "node": "IF — Reuse Fetch?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Reuse Fetch?": {
      "main": [
        [
          {
            "node": "Set — Reuse Fetch Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP — Fetch URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — Fetch URL": {
      "main": [
        [
          {
            "node": "Guard IF — HTTP — Fetch URL Error?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guard IF — HTTP — Fetch URL Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto — SHA256 Body": {
      "main": [
        [
          {
            "node": "Set — Prep Fetch Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Prep Fetch Insert": {
      "main": [
        [
          {
            "node": "PG — Insert url_fetches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG — Insert url_fetches": {
      "main": [
        [
          {
            "node": "Guard IF — PG — Insert url_fetches Error?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guard IF — PG — Insert url_fetches Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Reuse Fetch Data": {
      "main": [
        [
          {
            "node": "Merge — Fetch chosen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — After Fetch Insert": {
      "main": [
        [
          {
            "node": "Merge — Fetch chosen",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "PG — Select Existing Doc": {
      "main": [
        [
          {
            "node": "Guard IF — PG — Select Existing Doc Error?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guard IF — PG — Select Existing Doc Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — After Doc Check": {
      "main": [
        [
          {
            "node": "IF — Doc Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Doc Exists?": {
      "main": [
        [
          {
            "node": "Set — Existing Doc ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set — Prep Doc Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Prep Doc Insert": {
      "main": [
        [
          {
            "node": "PG — Insert content.documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG — Insert content.documents": {
      "main": [
        [
          {
            "node": "Guard IF — PG — Insert content.documents Error?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guard IF — PG — Insert content.documents Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Existing Doc ID": {
      "main": [
        [
          {
            "node": "Merge — Doc chosen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — After Doc Insert": {
      "main": [
        [
          {
            "node": "Merge — Doc chosen",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set — Prep Extract Job": {
      "main": [
        [
          {
            "node": "PG — Insert ops.jobs extract_text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG — Insert ops.jobs extract_text": {
      "main": [
        [
          {
            "node": "Guard IF — PG — Insert ops.jobs extract_text Error?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guard IF — PG — Insert ops.jobs extract_text Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — ERR Input Validation": {
      "main": [
        [
          {
            "node": "Build ErrorPipe v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger — Tests": {
      "main": [
        [
          {
            "node": "T1 — Build Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T1 — Verify url_fetches": {
      "main": [
        [
          {
            "node": "T1 — Verify extract_text job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T1 — Verify extract_text job": {
      "main": [
        [
          {
            "node": "T1 — Cleanup jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T1 — Cleanup jobs": {
      "main": [
        [
          {
            "node": "T1 — Cleanup documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T1 — Cleanup documents": {
      "main": [
        [
          {
            "node": "T1 — Lookup url_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T1 — Cleanup url_fetches": {
      "main": [
        [
          {
            "node": "T1 — Cleanup urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T1 — Build Input": {
      "main": [
        [
          {
            "node": "Set — Carry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — URL id chosen": {
      "main": [
        [
          {
            "node": "PG — Select Latest Fetch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set — Default No Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Fetch chosen": {
      "main": [
        [
          {
            "node": "PG — Select Existing Doc",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set — Default No Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Doc chosen": {
      "main": [
        [
          {
            "node": "Set — Prep Extract Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T1 — Lookup url_id": {
      "main": [
        [
          {
            "node": "T1 — Cleanup url_fetches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Build S3 Key": {
      "main": [
        [
          {
            "node": "S3 — Upload Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3 — Upload Body": {
      "main": [
        [
          {
            "node": "Guard IF — S3 — Upload Body Error?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guard IF — S3 — Upload Body Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Restore After S3": {
      "main": [
        [
          {
            "node": "Crypto — SHA256 Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build ErrorPipe v1": {
      "main": [
        [
          {
            "node": "Execute WF99",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard IF — HTTP — Fetch URL Error?": {
      "main": [
        [
          {
            "node": "Set — Tag http_fetch Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set — Build S3 Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Tag http_fetch Error": {
      "main": [
        [
          {
            "node": "Build ErrorPipe v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard IF — S3 — Upload Body Error?": {
      "main": [
        [
          {
            "node": "Set — Tag s3_upload Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set — Restore After S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Tag s3_upload Error": {
      "main": [
        [
          {
            "node": "Build ErrorPipe v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard IF — PG — Upsert content.urls Error?": {
      "main": [
        [
          {
            "node": "Set — Tag pg_upsert_urls Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set — Capture url_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Tag pg_upsert_urls Error": {
      "main": [
        [
          {
            "node": "Build ErrorPipe v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard IF — PG — Select Latest Fetch Error?": {
      "main": [
        [
          {
            "node": "Set — Tag pg_select_fetch Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge — Fetch Result",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set — Tag pg_select_fetch Error": {
      "main": [
        [
          {
            "node": "Build ErrorPipe v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard IF — PG — Insert url_fetches Error?": {
      "main": [
        [
          {
            "node": "Set — Tag pg_insert_fetch Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set — After Fetch Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Tag pg_insert_fetch Error": {
      "main": [
        [
          {
            "node": "Build ErrorPipe v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard IF — PG — Select Existing Doc Error?": {
      "main": [
        [
          {
            "node": "Set — Tag pg_select_doc Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge — Doc Result",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set — Tag pg_select_doc Error": {
      "main": [
        [
          {
            "node": "Build ErrorPipe v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard IF — PG — Insert content.documents Error?": {
      "main": [
        [
          {
            "node": "Set — Tag pg_insert_doc Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set — After Doc Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Tag pg_insert_doc Error": {
      "main": [
        [
          {
            "node": "Build ErrorPipe v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard IF — PG — Insert ops.jobs extract_text Error?": {
      "main": [
        [
          {
            "node": "Set — Tag pg_insert_job Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set — After Job Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Tag pg_insert_job Error": {
      "main": [
        [
          {
            "node": "Build ErrorPipe v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Default No Fetch": {
      "main": [
        [
          {
            "node": "Merge — Fetch Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Fetch Result": {
      "main": [
        [
          {
            "node": "Set — After Fetch Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Default No Doc": {
      "main": [
        [
          {
            "node": "Merge — Doc Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Doc Result": {
      "main": [
        [
          {
            "node": "Set — After Doc Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — After Job Insert": {
      "main": [
        [
          {
            "node": "OUT — SuccessEnvelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "VykeJY27VNJD_xWfy5Nx6",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "aca6b9f6-97ae-4016-823c-310edb2b84aa",
  "meta": {
    "instanceId": "49b1b765c7a60d5365a95e5c3e2d1b2e695b21e61861bbe488c27ec04546a71d"
  },
  "id": "nfjIRSFfDpPQQ8NW4UF9c",
  "tags": [
    {
      "updatedAt": "2026-02-05T21:21:27.719Z",
      "createdAt": "2026-02-05T21:21:27.719Z",
      "id": "fCHWagfhXdHBoWxZ",
      "name": "link-fetcher"
    },
    {
      "updatedAt": "2026-02-05T21:21:27.711Z",
      "createdAt": "2026-02-05T21:21:27.711Z",
      "id": "03yh93nNUMyl65MV",
      "name": "WF31"
    }
  ]
}