workflows/WF33 — Document Text Extractor.json
{
  "name": "WF33 — Document Text Extractor",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -16272,
        1648
      ],
      "id": "2f79ccd4-24e3-4799-a2a1-49ee6adfb7ef",
      "name": "IN — Execute Workflow Trigger",
      "notes": "PROD ENTRY: Receives job from WF90 with ctx{tenant_id, correlation_id, job_id, ...} + job{id, payload{document_id}, ...}. Input: WF90 item. Output: raw item."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1a2a3a4-b5b6-c7c8-d9d0-e1e2e3e4e5e6",
              "name": "ctx",
              "value": "={{ $json.ctx ?? {} }}",
              "type": "object"
            },
            {
              "id": "b2b3b4b5-c6c7-d8d9-e0e1-f2f3f4f5f6f7",
              "name": "job",
              "value": "={{ $json.job ?? {} }}",
              "type": "object"
            },
            {
              "id": "c3c4c5c6-d7d8-e9e0-f1f2-030405060708",
              "name": "ctx.tenant_id",
              "value": "={{ $json.ctx?.tenant_id ?? $json.job?.tenant_id }}",
              "type": "string"
            },
            {
              "id": "d4d5d6d7-e8e9-f0f1-0203-141516171819",
              "name": "ctx.correlation_id",
              "value": "={{ $json.ctx?.correlation_id ?? $json.job?.correlation_id }}",
              "type": "string"
            },
            {
              "id": "e5e6e7e8-f9f0-0102-1314-252627282930",
              "name": "ctx.job_id",
              "value": "={{ $json.job?.id }}",
              "type": "number"
            },
            {
              "id": "f6f7f8f9-0a0b-1213-2425-363738394041",
              "name": "ctx.workflow",
              "value": "WF33",
              "type": "string"
            },
            {
              "id": "07080910-1b1c-2324-3536-474849505152",
              "name": "ctx.contracts.errorpipe",
              "value": 1,
              "type": "number"
            },
            {
              "id": "18192021-2c2d-3435-4647-585960616263",
              "name": "job.payload.document_id",
              "value": "={{ $json.job?.payload?.document_id }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16032,
        1664
      ],
      "id": "65274323-7642-488a-b516-25d7ca7be983",
      "name": "Set — Normalize Input",
      "notes": "Extract ctx + job from trigger. Preserve tenant_id, correlation_id, job_id. Set workflow=WF33 and errorpipe=1. Input: trigger item. Output: ctx.* + job.*. WHY dotNotation: nested fields."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "29303132-3d3e-4546-5758-697071727374",
              "leftValue": "={{ $json.ctx?.tenant_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "3a3b3c3d-4e4f-5657-6869-808182838485",
              "leftValue": "={{ $json.ctx?.correlation_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "4b4c4d4e-5f60-6768-7980-919293949596",
              "leftValue": "={{ $json.job?.payload?.document_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -15808,
        1536
      ],
      "id": "0cc79cc9-1280-44da-998a-19d5efe91200",
      "name": "GUARD — Input Valid",
      "notes": "IF v3. Validate tenant_id, correlation_id, document_id all present. TRUE=valid, FALSE=error. Input: ctx + job. Output: same. WHY version=3: n8n v2.6.3 IF requirement."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c5d5e5f-7081-9293-a4b5-c6d7e8f9a0b1",
              "name": "_err.node",
              "value": "GUARD — Input Valid",
              "type": "string"
            },
            {
              "id": "6d6e6f70-8192-a3b4-c5d6-e7f8a9b0c1d2",
              "name": "_err.operation",
              "value": "validate_input",
              "type": "string"
            },
            {
              "id": "7e7f8081-9293-b4c5-d6e7-f8a9b0c1d2e3",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "8f909192-a3b4-c5d6-e7f8-a9b0c1d2e3f4",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -14256,
        3728
      ],
      "id": "1ef737ab-6751-4748-ae9d-4480a00f186a",
      "name": "ERR — Source Input Guard",
      "notes": "ErrorPipe v1: Capture error source for Input Guard failure. Input: failed item. Output: _err.* + ctx + job + original. WHY includeOtherFields=true: preserve failure data."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90a1a2a3-b4c5-d6e7-f8a9-b0c1d2e3f405",
              "name": "error_context.kind",
              "value": "validation",
              "type": "string"
            },
            {
              "id": "a1b2b3b4-c5d6-e7f8-a9b0-c1d2e3f40516",
              "name": "error_context.message",
              "value": "Missing required: tenant_id, correlation_id, or document_id",
              "type": "string"
            },
            {
              "id": "b2c3c4c5-d6e7-f8a9-b0c1-d2e3f4051627",
              "name": "error_context.status_code",
              "value": 400,
              "type": "number"
            },
            {
              "id": "c3d4d5d6-e7f8-a9b0-c1d2-e3f405162738",
              "name": "error_context.retryable",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "d4e5e6e7-f8a9-b0c1-d2e3-f40516273849",
              "name": "error_context.details.node",
              "value": "={{ $json._err?.node }}",
              "type": "string"
            },
            {
              "id": "e5f6f7f8-a9b0-c1d2-e3f4-05162738495a",
              "name": "error_context.details.operation",
              "value": "={{ $json._err?.operation }}",
              "type": "string"
            },
            {
              "id": "f60708090-b0c1-d2e3-f405-1627384950a5b",
              "name": "error_context.ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "0718191a-c1d2-e3f4-0516-27384950a5b6c",
              "name": "error_context.job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -14000,
        3728
      ],
      "id": "47c23154-0e6a-4f05-a716-b19397816069",
      "name": "ERR — Prepare ErrorPipe v1 (Input)",
      "notes": "Build error_context for WF99. Input: err source. Output: error_context.* only. WHY includeOtherFields=false: clean envelope for WF99."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gcM1ZRVCKVtzJfHOH7OTw",
          "mode": "list",
          "cachedResultUrl": "/workflow/gcM1ZRVCKVtzJfHOH7OTw",
          "cachedResultName": "WF99 — Global ERR Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -13760,
        3728
      ],
      "id": "576b7779-1705-4cb2-8f57-e2d8fdce77d1",
      "name": "Execute WF99 (Input)",
      "notes": "Call WF99 for input validation error. Input: error_context. Output: ErrorEnvelope. WHY: ErrorPipe v1 centralized logging. NO StopAndError after this!"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "content",
          "mode": "list",
          "cachedResultName": "content"
        },
        "table": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.job.payload.document_id }}"
            },
            {
              "column": "tenant_id",
              "value": "={{ $json.ctx.tenant_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -15568,
        1520
      ],
      "id": "ddd2220b-32ed-43ee-ac01-34ac76cfae63",
      "name": "DB — Load Document",
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Load document from content.documents by id + tenant_id. Input: ctx + job. Output: document row. WHY AOD=OFF: need error output for 404 handling. WHY select: no dynamic SQL."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "718293a4-b5c6-d7e8-f9a0-b1c2d3e4f506",
              "name": "_err.node",
              "value": "DB — Load Document",
              "type": "string"
            },
            {
              "id": "8293a4b5-c6d7-e8f9-a0b1-c2d3e4f50617",
              "name": "_err.operation",
              "value": "select",
              "type": "string"
            },
            {
              "id": "93a4b5c6-d7e8-f9a0-b1c2-d3e4f5061728",
              "name": "_err.table",
              "value": "content.documents",
              "type": "string"
            },
            {
              "id": "a4b5c6d7-e8f9-a0b1-c2d3-e4f506172839",
              "name": "ctx",
              "value": "={{ $('Set — Normalize Input').item.json.ctx }}",
              "type": "object"
            },
            {
              "id": "b5c6d7e8-f9a0-b1c2-d3e4-f5061728394a",
              "name": "job",
              "value": "={{ $('Set — Normalize Input').item.json.job }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -13184,
        3856
      ],
      "id": "6f163057-2967-4fbc-aab1-83627977560c",
      "name": "ERR — Source DB Load Doc",
      "notes": "ErrorPipe v1: Capture DB error for Load Document (404 or DB error). Input: error output. Output: _err.* + ctx + job + error. WHY includeOtherFields=true: preserve error details."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6d7e8f9-a0b1-c2d3-e4f5-0617283949a5b",
              "name": "error_context.kind",
              "value": "={{ $json.error?.code ? 'db' : 'business' }}",
              "type": "string"
            },
            {
              "id": "d7e8f9a0-b1c2-d3e4-f506-17283949a5b6c",
              "name": "error_context.message",
              "value": "={{ $json.error?.message || ('Document not found: id=' + $json.job.payload.document_id) }}",
              "type": "string"
            },
            {
              "id": "e8f9a0b1-c2d3-e4f5-0617-283949a5b6c7d",
              "name": "error_context.status_code",
              "value": "={{ $json.error?.code ? 500 : 404 }}",
              "type": "number"
            },
            {
              "id": "f9a0b1c2-d3e4-f506-1728-3949a5b6c7d8e",
              "name": "error_context.retryable",
              "value": "={{ $json.error?.code ? true : false }}",
              "type": "boolean"
            },
            {
              "id": "0a1b2c3d-e4f5-0617-2839-49a5b6c7d8e9f",
              "name": "error_context.details.node",
              "value": "={{ $json._err?.node }}",
              "type": "string"
            },
            {
              "id": "1b2c3d4e-f506-1728-3949-a5b6c7d8e9f00",
              "name": "error_context.details.operation",
              "value": "={{ $json._err?.operation }}",
              "type": "string"
            },
            {
              "id": "2c3d4e5f-0617-2839-49a5-b6c7d8e9f0011",
              "name": "error_context.details.table",
              "value": "={{ $json._err?.table }}",
              "type": "string"
            },
            {
              "id": "3d4e5f60-1728-3949-a5b6-c7d8e9f001122",
              "name": "error_context.ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "4e5f6071-2839-49a5-b6c7-d8e9f00112233",
              "name": "error_context.job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -12800,
        3888
      ],
      "id": "400befc2-6062-4b0e-a1a6-750168812ecf",
      "name": "ERR — Prepare ErrorPipe v1 (DB Doc)",
      "notes": "Build error_context for DB Load Doc failure. Distinguish 404 (business) vs DB error. Input: err source. Output: error_context.*. WHY includeOtherFields=false: clean envelope."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gcM1ZRVCKVtzJfHOH7OTw",
          "mode": "list",
          "cachedResultUrl": "/workflow/gcM1ZRVCKVtzJfHOH7OTw",
          "cachedResultName": "WF99 — Global ERR Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -12560,
        3888
      ],
      "id": "be585b2e-4ce1-48f2-bf19-e31f6348a100",
      "name": "Execute WF99 (DB Doc)",
      "notes": "Call WF99 for DB Load Document failure. Input: error_context. Output: ErrorEnvelope. WHY: ErrorPipe v1 centralized logging. NO StopAndError after!"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -15312,
        1648
      ],
      "id": "bbf3f30a-99b9-40ca-8f5d-84eebb5ffebc",
      "name": "Merge — Restore CTX after DB Load",
      "notes": "Restore ctx/job after DB Load Document (Carry pattern via Merge). Input1: DB result, Input2: ctx/job from Set Normalize Input. Output: document.* + ctx + job. WHY: Postgres overwrites item."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5f607182-9394-a5b6-c7d8-e9f0a1b2c3d4",
              "leftValue": "={{ $json.doc_type }}",
              "rightValue": "message",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -15072,
        1648
      ],
      "id": "302deca9-93e1-4e69-8870-35b51ce3ab8d",
      "name": "CTL — Route by doc_type: message?",
      "notes": "IF v3. Route by doc_type. TRUE=message, FALSE=file/url. Input: document + ctx + job. Output: same. WHY version=3: n8n v2.6.3 requirement."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "607182939-a4b5-c6d7-e8f9-a0b1c2d3e4f5",
              "leftValue": "={{ $json.doc_type }}",
              "rightValue": "file",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -15072,
        1936
      ],
      "id": "c0ab819f-2a38-46c7-96b8-85cc3800299b",
      "name": "CTL — Route by doc_type: file?",
      "notes": "IF v3. Route file vs url. TRUE=file, FALSE=url. Input: document + ctx + job. Output: same. WHY version=3: n8n v2.6.3 requirement."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "718293a4-b5c6-d7e8-f9a0-b1c2d3e4f506",
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -14832,
        1504
      ],
      "id": "a3cd4117-985b-420f-8922-a64f4e9ab3fb",
      "name": "GUARD — Message Has Text",
      "notes": "IF v3. Check if message doc has text. TRUE=has text, FALSE=empty (error 409). Input: document + ctx + job. Output: same. WHY version=3: n8n v2.6.3 requirement."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8293a4b5-c6d7-e8f9-a0b1-c2d3e4f50617",
              "name": "_err.node",
              "value": "GUARD — Message Has Text",
              "type": "string"
            },
            {
              "id": "93a4b5c6-d7e8-f9a0-b1c2-d3e4f5061728",
              "name": "_err.operation",
              "value": "validate_text",
              "type": "string"
            },
            {
              "id": "a4b5c6d7-e8f9-a0b1-c2d3-e4f506172839",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "b5c6d7e8-f9a0-b1c2-d3e4-f5061728394a",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            },
            {
              "id": "c6d7e8f9-a0b1-c2d3-e4f5-061728394a5b",
              "name": "document_id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -14352,
        3376
      ],
      "id": "d52c000a-231e-4992-b88a-5464eb7cbcfc",
      "name": "ERR — Source Message Empty",
      "notes": "ErrorPipe v1: Capture error for empty message text (business error 409). Input: failed guard. Output: _err.* + ctx + job + document. WHY includeOtherFields=true: preserve document data."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9a0b1c2-d3e4-f506-1728-3949a5b6c7d8",
              "name": "error_context.kind",
              "value": "business",
              "type": "string"
            },
            {
              "id": "0a1b2c3d-e4f5-0617-2839-49a5b6c7d8e9",
              "name": "error_context.message",
              "value": "Nothing to extract: document text is empty",
              "type": "string"
            },
            {
              "id": "1b2c3d4e-f506-1728-3949-a5b6c7d8e9f0",
              "name": "error_context.status_code",
              "value": 409,
              "type": "number"
            },
            {
              "id": "2c3d4e5f-0617-2839-49a5-b6c7d8e9f001",
              "name": "error_context.retryable",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "3d4e5f60-1728-3949-a5b6-c7d8e9f00112",
              "name": "error_context.details.node",
              "value": "={{ $json._err?.node }}",
              "type": "string"
            },
            {
              "id": "4e5f6071-2839-49a5-b6c7-d8e9f0011223",
              "name": "error_context.details.operation",
              "value": "={{ $json._err?.operation }}",
              "type": "string"
            },
            {
              "id": "5f607182-3949-a5b6-c7d8-e9f001122334",
              "name": "error_context.details.document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            },
            {
              "id": "60718293-49a5-b6c7-d8e9-f00112233445",
              "name": "error_context.ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "718293a4-a5b6-c7d8-e9f0-011223344556",
              "name": "error_context.job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -14112,
        3376
      ],
      "id": "f32a9a33-4fcb-49dd-8693-672c9b78319d",
      "name": "ERR — Prepare ErrorPipe v1 (Empty Text)",
      "notes": "Build error_context for empty text (business error). Input: err source. Output: error_context.*. WHY includeOtherFields=false: clean envelope for WF99."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gcM1ZRVCKVtzJfHOH7OTw",
          "mode": "list",
          "cachedResultUrl": "/workflow/gcM1ZRVCKVtzJfHOH7OTw",
          "cachedResultName": "WF99 — Global ERR Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -13872,
        3376
      ],
      "id": "b2923efa-ea81-46ce-be53-14f135cfc22d",
      "name": "Execute WF99 (Empty Text)",
      "notes": "Call WF99 for empty text error. Input: error_context. Output: ErrorEnvelope. WHY: ErrorPipe v1 centralized logging. NO StopAndError after!"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b2c3d4e-f506-1728-3949-a5b6c7d8e9f0",
              "name": "extracted_text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "2c3d4e5f-0617-2839-49a5-b6c7d8e9f001",
              "name": "document_id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "3d4e5f60-1728-3949-a5b6-c7d8e9f00112",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "4e5f6071-2839-49a5-b6c7-d8e9f0011223",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            },
            {
              "id": "msg-meta",
              "name": "extracted_meta.source",
              "value": "message_text",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -12992,
        1136
      ],
      "id": "10ddea01-5ab3-4add-ad50-918cc378830f",
      "name": "Set — Message: Extract Existing Text",
      "notes": "For message doc: map content.documents.text into unified extraction payload. Input: document + ctx + job. Output: extracted_text + extracted_meta + document_id + ctx + job."
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a strict summarizer. Return concise factual summary text only (max 1200 chars). If unclear, say unclear.\\n\\nText to summarize:\\n{{ $json.extracted_text }}"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -9632,
        1520
      ],
      "id": "ee55987a-a9b2-40b4-92d6-75ae2df61c8a",
      "name": "AI — Generate Description (Gemini)",
      "credentials": {
        "googlePalmApi": {
          "id": "4J3UGUqYNZJxtTVa",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Analyze Document node (Gemini) for summary generation from extracted_text. INPUT: unified extracted_text (+binary when available). OUTPUT: Gemini response text/json. WHY: requested replacement of text generation node with document analyzer."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e5f6071-2839-49a5-b6c7-d8e9f0011223",
              "name": "_err.node",
              "value": "AI — Generate Description (Gemini)",
              "type": "string"
            },
            {
              "id": "5f607182-3949-a5b6-c7d8-e9f001122334",
              "name": "_err.operation",
              "value": "generate_description",
              "type": "string"
            },
            {
              "id": "60718293-49a5-b6c7-d8e9-f00112233445",
              "name": "ctx",
              "value": "={{ $('Carry — Pre AI Description').item.json.ctx }}",
              "type": "object"
            },
            {
              "id": "718293a4-a5b6-c7d8-e9f0-011223344556",
              "name": "job",
              "value": "={{ $('Carry — Pre AI Description').item.json.job }}",
              "type": "object"
            },
            {
              "id": "8293a4b5-b6c7-d8e9-f001-122334455667",
              "name": "document_id",
              "value": "={{ $('Carry — Pre AI Description').item.json.document_id }}",
              "type": "number"
            },
            {
              "id": "93a4b5c6-c7d8-e9f0-0112-233445566778",
              "name": "extracted_text",
              "value": "={{ $('Carry — Pre AI Description').item.json.extracted_text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -8688,
        3600
      ],
      "id": "4e930536-680c-4c19-beb2-230b2e12dcbd",
      "name": "ERR — Source AI Description",
      "notes": "ErrorPipe v1: Capture AI error for description generation. Input: error output. Output: _err.* + ctx + job + document_id + extracted_text + error. WHY includeOtherFields=true: preserve error details."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4b5c6d7-d8e9-f001-1223-344556677889",
              "name": "error_context.kind",
              "value": "upstream",
              "type": "string"
            },
            {
              "id": "b5c6d7e8-e9f0-0112-2334-45566778899a",
              "name": "error_context.message",
              "value": "={{ $json.error?.message || 'AI description generation failed' }}",
              "type": "string"
            },
            {
              "id": "c6d7e8f9-f001-1223-3445-56677889a0b1",
              "name": "error_context.status_code",
              "value": 502,
              "type": "number"
            },
            {
              "id": "d7e8f9a0-0112-2334-4556-6778899a0b1c2",
              "name": "error_context.retryable",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "e8f9a0b1-1223-3445-5667-78899a0b1c2d3",
              "name": "error_context.details.node",
              "value": "={{ $json._err?.node }}",
              "type": "string"
            },
            {
              "id": "f9a0b1c2-2334-4556-6778-899a0b1c2d3e4",
              "name": "error_context.details.operation",
              "value": "={{ $json._err?.operation }}",
              "type": "string"
            },
            {
              "id": "0a1b2c3d-3445-5667-7889-9a0b1c2d3e4f5",
              "name": "error_context.details.document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            },
            {
              "id": "1b2c3d4e-4556-6778-899a-0b1c2d3e4f506",
              "name": "error_context.ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "2c3d4e5f-5667-7889-9a0b-1c2d3e4f50617",
              "name": "error_context.job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -8336,
        3616
      ],
      "id": "a5fb912a-e932-4091-9fad-eaab6c36468e",
      "name": "ERR — Prepare ErrorPipe v1 (AI Desc)",
      "notes": "Build error_context for AI description failure (upstream error, retryable). Input: err source. Output: error_context.*. WHY includeOtherFields=false: clean envelope."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gcM1ZRVCKVtzJfHOH7OTw",
          "mode": "list",
          "cachedResultUrl": "/workflow/gcM1ZRVCKVtzJfHOH7OTw",
          "cachedResultName": "WF99 — Global ERR Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -8032,
        3648
      ],
      "id": "6b8b56c0-49d3-473c-b1f6-15f80ebee9ac",
      "name": "Execute WF99 (AI Desc)",
      "notes": "Call WF99 for AI description failure. Input: error_context. Output: ErrorEnvelope. WHY: ErrorPipe v1 centralized logging. NO StopAndError after!"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "718293a4-a5b6-c7d8-e9f0-011223344556",
              "name": "description",
              "value": "={{ $json.text || $json.message || $json.response || $json.output || $json.result || $json.candidates?.[0]?.content?.parts?.[0]?.text || \"Summary not available\" }}",
              "type": "string"
            },
            {
              "id": "8293a4b5-b6c7-d8e9-f001-122334455667",
              "name": "extracted_text",
              "value": "={{ $json.extracted_text || $('Carry — Pre AI Description').item.json.extracted_text }}",
              "type": "string"
            },
            {
              "id": "93a4b5c6-c7d8-e9f0-0112-233445566778",
              "name": "document_id",
              "value": "={{ $json.document_id || $('Carry — Pre AI Description').item.json.document_id }}",
              "type": "number"
            },
            {
              "id": "a4b5c6d7-d8e9-f001-1223-344556677889",
              "name": "ctx",
              "value": "={{ $json.ctx || $('Carry — Pre AI Description').item.json.ctx }}",
              "type": "object"
            },
            {
              "id": "b5c6d7e8-e9f0-0112-2334-45566778899a",
              "name": "job",
              "value": "={{ $json.job || $('Carry — Pre AI Description').item.json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -9008,
        1712
      ],
      "id": "5c95667a-40ea-4e69-9086-2bb6e52ad9aa",
      "name": "Set — Extract Description from AI Response",
      "notes": "Extract description from AI response and restore carried fields. Input: merged AI+carry item. Output: description + extracted_text + document_id + ctx + job."
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $json.extracted_text }}"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -8784,
        1728
      ],
      "id": "cb0545ac-56e8-49ec-8b18-c08416044457",
      "name": "Crypto — Compute SHA256",
      "notes": "Compute SHA256 hash from extracted_text using explicit Value field. INPUT: unified extracted_text. OUTPUT: hash in data. WHY: required field must be explicitly filled."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93a4b5c6-c7d8-e9f0-0112-233445566778",
              "name": "text_sha256_bytea",
              "value": "={{ '\\\\x' + $json.hash }}",
              "type": "string"
            },
            {
              "id": "a4b5c6d7-d8e9-f001-1223-344556677889",
              "name": "description",
              "value": "={{ $json.description || $('Set — Extract Description from AI Response').item.json.description }}",
              "type": "string"
            },
            {
              "id": "b5c6d7e8-e9f0-0112-2334-45566778899a",
              "name": "extracted_text",
              "value": "={{ $json.extracted_text || $('Set — Extract Description from AI Response').item.json.extracted_text || $('Carry — Pre AI Description').item.json.extracted_text }}",
              "type": "string"
            },
            {
              "id": "c6d7e8f9-f001-1223-3445-56677889a0b1",
              "name": "document_id",
              "value": "={{ $json.document_id || $('Set — Extract Description from AI Response').item.json.document_id || $('Carry — Pre AI Description').item.json.document_id }}",
              "type": "number"
            },
            {
              "id": "d7e8f9a0-0112-2334-4556-6778899a0b1c2",
              "name": "ctx",
              "value": "={{ $json.ctx || $('Set — Extract Description from AI Response').item.json.ctx || $('Carry — Pre AI Description').item.json.ctx }}",
              "type": "object"
            },
            {
              "id": "e8f9a0b1-1223-3445-5667-78899a0b1c2d3",
              "name": "job",
              "value": "={{ $json.job || $('Set — Extract Description from AI Response').item.json.job || $('Carry — Pre AI Description').item.json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -8544,
        1728
      ],
      "id": "bb73b963-d860-43eb-b292-946dccd1a357",
      "name": "Set — Prepare Bytea Format",
      "notes": "Convert hash to Postgres bytea format (\\\\x prefix). Restore description/extracted_text/document_id/ctx/job. Input: hash + description + extracted_text + document_id + ctx + job. Output: text_sha256_bytea + all. WHY: Postgres bytea requires \\\\x prefix."
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "content",
          "mode": "list",
          "cachedResultName": "content"
        },
        "table": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $json.extracted_text }}",
            "description": "={{ $json.description }}",
            "text_sha256": "={{ $json.text_sha256_bytea }}",
            "status": "succeeded"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "text_sha256",
              "displayName": "text_sha256",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "pending",
                  "value": "pending"
                },
                {
                  "name": "succeeded",
                  "value": "succeeded"
                },
                {
                  "name": "failed",
                  "value": "failed"
                }
              ]
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -8288,
        1504
      ],
      "id": "a417be57-6435-4321-895e-8778b43180aa",
      "name": "DB — Update Document (Success)",
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Update content.documents: text, description, text_sha256, status=succeeded. Match by id. Input: text_sha256_bytea + description + extracted_text + document_id + ctx + job. Output: updated row. WHY AOD=OFF: need error output. WHY update op: no dynamic SQL."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5c6d7e8-e9f0-0112-2334-45566778899a",
              "name": "_err.node",
              "value": "DB — Update Document (Success)",
              "type": "string"
            },
            {
              "id": "c6d7e8f9-f001-1223-3445-56677889a0b1",
              "name": "_err.operation",
              "value": "update",
              "type": "string"
            },
            {
              "id": "d7e8f9a0-0112-2334-4556-6778899a0b1c2",
              "name": "_err.table",
              "value": "content.documents",
              "type": "string"
            },
            {
              "id": "e8f9a0b1-1223-3445-5667-78899a0b1c2d3",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "f9a0b1c2-2334-4556-6778-899a0b1c2d3e4",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            },
            {
              "id": "0a1b2c3d-3445-5667-7889-9a0b1c2d3e4f5",
              "name": "document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7840,
        3312
      ],
      "id": "f576fa3a-0bf0-491c-be8f-baba0d9181a0",
      "name": "ERR — Source DB Update Doc",
      "notes": "ErrorPipe v1: Capture DB error for Update Document. Input: error output. Output: _err.* + ctx + job + document_id + error. WHY includeOtherFields=true: preserve error details."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6d7e8f9-f001-1223-3445-56677889a0b1",
              "name": "error_context.kind",
              "value": "db",
              "type": "string"
            },
            {
              "id": "d7e8f9a0-0112-2334-4556-6778899a0b1c2",
              "name": "error_context.message",
              "value": "={{ $json.error?.message || 'Failed to update document' }}",
              "type": "string"
            },
            {
              "id": "e8f9a0b1-1223-3445-5667-78899a0b1c2d3",
              "name": "error_context.status_code",
              "value": 500,
              "type": "number"
            },
            {
              "id": "f9a0b1c2-2334-4556-6778-899a0b1c2d3e4",
              "name": "error_context.retryable",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "0a1b2c3d-3445-5667-7889-9a0b1c2d3e4f5",
              "name": "error_context.details.node",
              "value": "={{ $json._err?.node }}",
              "type": "string"
            },
            {
              "id": "1b2c3d4e-4556-6778-899a-0b1c2d3e4f506",
              "name": "error_context.details.operation",
              "value": "={{ $json._err?.operation }}",
              "type": "string"
            },
            {
              "id": "2c3d4e5f-5667-7889-9a0b-1c2d3e4f50617",
              "name": "error_context.details.table",
              "value": "={{ $json._err?.table }}",
              "type": "string"
            },
            {
              "id": "3d4e5f60-6778-899a-0b1c-2d3e4f5061728",
              "name": "error_context.details.document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            },
            {
              "id": "4e5f6071-7889-9a0b-1c2d-3e4f506172839",
              "name": "error_context.ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "5f607182-899a-0b1c-2d3e-4f5061728394a",
              "name": "error_context.job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7552,
        3312
      ],
      "id": "8b83a271-f2c2-43ac-9380-5b82da60ad77",
      "name": "ERR — Prepare ErrorPipe v1 (DB Update)",
      "notes": "Build error_context for DB Update Document failure (DB error, retryable). Input: err source. Output: error_context.*. WHY includeOtherFields=false: clean envelope."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gcM1ZRVCKVtzJfHOH7OTw",
          "mode": "list",
          "cachedResultUrl": "/workflow/gcM1ZRVCKVtzJfHOH7OTw",
          "cachedResultName": "WF99 — Global ERR Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -7312,
        3312
      ],
      "id": "b74fbcdd-261f-4484-9241-ca7acd599e0a",
      "name": "Execute WF99 (DB Update)",
      "notes": "Call WF99 for DB Update Document failure. Input: error_context. Output: ErrorEnvelope. WHY: ErrorPipe v1 centralized logging. NO StopAndError after!"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -7984,
        1728
      ],
      "id": "aace7579-065d-42d2-b60c-493bdf27bb4d",
      "name": "Merge — Restore CTX after DB Update",
      "notes": "Restore ctx/job after DB Update (Carry pattern via Merge). Input1: DB result, Input2: ctx/job from Set Prepare Bytea Format. Output: updated document.* + ctx + job. WHY: Postgres overwrites item."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9a0b1c2-2334-4556-6778-899a0b1c2d3e4",
              "name": "enqueue_payload.document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            },
            {
              "id": "0a1b2c3d-3445-5667-7889-9a0b1c2d3e4f5",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "1b2c3d4e-4556-6778-899a-0b1c2d3e4f506",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7744,
        1952
      ],
      "id": "ed3c8434-abb8-43fc-b4b8-aa341556f7f7",
      "name": "Set — Prepare Enqueue Payload",
      "notes": "Build enqueue_payload object for chunk_document job. No object literals (use dotNotation). Input: updated document + ctx + job. Output: enqueue_payload.document_id + ctx + job. WHY: prepare for ops.jobs insert."
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "ops",
          "mode": "list",
          "cachedResultName": "ops"
        },
        "table": {
          "__rl": true,
          "value": "jobs",
          "mode": "list",
          "cachedResultName": "jobs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $json.ctx.tenant_id }}",
            "job_type": "chunk_document",
            "payload": "={{ $json.enqueue_payload }}",
            "correlation_id": "={{ $json.ctx.correlation_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_type",
              "displayName": "job_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "chunk_document",
                  "value": "chunk_document"
                },
                {
                  "name": "embed_chunks",
                  "value": "embed_chunks"
                },
                {
                  "name": "extract_text",
                  "value": "extract_text"
                },
                {
                  "name": "fetch_tg_file",
                  "value": "fetch_tg_file"
                },
                {
                  "name": "fetch_url",
                  "value": "fetch_url"
                }
              ]
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7488,
        1808
      ],
      "id": "c08332fc-1010-4720-bb2c-c97b5717bf2d",
      "name": "DB — Enqueue chunk_document Job",
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Insert chunk_document job in ops.jobs. Payload is object (not string). Input: enqueue_payload + ctx + job. Output: inserted row. WHY AOD=OFF: need error output. WHY insert op: no dynamic SQL."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b2c3d4e-4556-6778-899a-0b1c2d3e4f506",
              "name": "_err.node",
              "value": "DB — Enqueue chunk_document Job",
              "type": "string"
            },
            {
              "id": "2c3d4e5f-5667-7889-9a0b-1c2d3e4f50617",
              "name": "_err.operation",
              "value": "insert",
              "type": "string"
            },
            {
              "id": "3d4e5f60-6778-899a-0b1c-2d3e4f5061728",
              "name": "_err.table",
              "value": "ops.jobs",
              "type": "string"
            },
            {
              "id": "4e5f6071-7889-9a0b-1c2d-3e4f506172839",
              "name": "ctx",
              "value": "={{ $('Set — Prepare Enqueue Payload').item.json.ctx }}",
              "type": "object"
            },
            {
              "id": "5f607182-899a-0b1c-2d3e-4f5061728394a",
              "name": "job",
              "value": "={{ $('Set — Prepare Enqueue Payload').item.json.job }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6944,
        3344
      ],
      "id": "954f9b23-d172-4f9f-8f50-945994db6eb1",
      "name": "ERR — Source DB Enqueue",
      "notes": "ErrorPipe v1: Capture DB error for Enqueue chunk_document. Input: error output. Output: _err.* + ctx + job + error. WHY includeOtherFields=true: preserve error details."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c3d4e5f-5667-7889-9a0b-1c2d3e4f50617",
              "name": "error_context.kind",
              "value": "db",
              "type": "string"
            },
            {
              "id": "3d4e5f60-6778-899a-0b1c-2d3e4f5061728",
              "name": "error_context.message",
              "value": "={{ $json.error?.message || 'Failed to enqueue chunk_document job' }}",
              "type": "string"
            },
            {
              "id": "4e5f6071-7889-9a0b-1c2d-3e4f506172839",
              "name": "error_context.status_code",
              "value": 500,
              "type": "number"
            },
            {
              "id": "5f607182-899a-0b1c-2d3e-4f5061728394a",
              "name": "error_context.retryable",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "607182939-a0b1-c2d3-e4f5-061728394a5b6",
              "name": "error_context.details.node",
              "value": "={{ $json._err?.node }}",
              "type": "string"
            },
            {
              "id": "718293a4b-b1c2-d3e4-f506-1728394a5b6c7",
              "name": "error_context.details.operation",
              "value": "={{ $json._err?.operation }}",
              "type": "string"
            },
            {
              "id": "8293a4b5c-c2d3-e4f5-0617-28394a5b6c7d8",
              "name": "error_context.details.table",
              "value": "={{ $json._err?.table }}",
              "type": "string"
            },
            {
              "id": "93a4b5c6d-d3e4-f506-1728-394a5b6c7d8e9",
              "name": "error_context.ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "a4b5c6d7e-e4f5-0617-2839-4a5b6c7d8e9f0",
              "name": "error_context.job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6640,
        3360
      ],
      "id": "c918ab8e-1207-4b3a-be92-1b98cbff335f",
      "name": "ERR — Prepare ErrorPipe v1 (DB Enqueue)",
      "notes": "Build error_context for DB Enqueue failure (DB error, retryable). Input: err source. Output: error_context.*. WHY includeOtherFields=false: clean envelope."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gcM1ZRVCKVtzJfHOH7OTw",
          "mode": "list",
          "cachedResultUrl": "/workflow/gcM1ZRVCKVtzJfHOH7OTw",
          "cachedResultName": "WF99 — Global ERR Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -6400,
        3360
      ],
      "id": "e003223d-7f62-4e18-bb47-56c4d92806e1",
      "name": "Execute WF99 (DB Enqueue)",
      "notes": "Call WF99 for DB Enqueue failure. Input: error_context. Output: ErrorEnvelope. WHY: ErrorPipe v1 centralized logging. NO StopAndError after!"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -7104,
        2064
      ],
      "id": "ec0baf9d-ce22-4aa1-9511-bcdfa5592a98",
      "name": "Merge — Restore CTX after Enqueue",
      "notes": "Restore ctx/job after DB Enqueue (Carry pattern via Merge). Input1: DB result, Input2: ctx/job from Set Prepare Enqueue Payload. Output: enqueued job.* + ctx + job. WHY: Postgres overwrites item."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f607182-899a-0b1c-2d3e-4f5061728394a",
              "name": "ok",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "607182939-a0b1-c2d3-e4f5-061728394a5b6",
              "name": "status_code",
              "value": 200,
              "type": "number"
            },
            {
              "id": "718293a4b-b1c2-d3e4-f506-1728394a5b6c7",
              "name": "ctx",
              "value": "={{ $('Set — Prepare Enqueue Payload').item.json.ctx }}",
              "type": "object"
            },
            {
              "id": "8293a4b5c-c2d3-e4f5-0617-28394a5b6c7d8",
              "name": "result.document_id",
              "value": "={{ $('Set — Prepare Enqueue Payload').item.json.enqueue_payload.document_id }}",
              "type": "number"
            },
            {
              "id": "93a4b5c6d-d3e4-f506-1728-394a5b6c7d8e9",
              "name": "result.extracted",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "a4b5c6d7e-e4f5-0617-2839-4a5b6c7d8e9f0",
              "name": "result.enqueued_chunk_job",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6816,
        2624
      ],
      "id": "6c66e9a4-13d9-402c-b985-4307785b1f02",
      "name": "OUT — Success Envelope",
      "notes": "Build SuccessEnvelope for WF90. ok=true, status_code=200, ctx preserved, result with document_id/extracted/enqueued_chunk_job. Input: enqueued job + ctx. Output: SuccessEnvelope. WHY: contract compliance."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "passThrough"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -6240,
        2912
      ],
      "id": "bc997ed0-6620-47bd-a29d-0abbf09e6840",
      "name": "Merge — Final (Success + All Errors)",
      "notes": "Merge all paths: success (OUT — Success Envelope) + all error paths (WF99 outputs). PassThrough mode merges first available. Input0: success, Input1-6: error paths. Output: first available item. WHY: combine all branches."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "file-doc",
              "name": "document_id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "file-fuid",
              "name": "file_unique_id",
              "value": "={{ $json.file_unique_id }}",
              "type": "string"
            },
            {
              "id": "file-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "file-job",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -14832,
        1936
      ],
      "id": "ae70020f-7783-48f4-b007-6810d917ea3f",
      "name": "Set — File Ref from Document",
      "notes": "Build file reference and unified carry fields from content.documents row. Input: document + ctx + job. Output: file_unique_id + document_id + ctx + job."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "url-doc",
              "name": "document_id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "url-text",
              "name": "extracted_text",
              "value": "",
              "type": "string"
            },
            {
              "id": "url-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "url-job",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            },
            {
              "id": "url-meta",
              "name": "extracted_meta.reason",
              "value": "url_not_implemented",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -14832,
        2128
      ],
      "id": "fb157030-0cbd-4baf-9979-2c838ab1fd2a",
      "name": "Set — URL Placeholder Unified",
      "notes": "URL extraction placeholder unified output: extracted_text empty with reason marker. Keeps pipeline deterministic until URL extractor workflow is implemented."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16272,
        2848
      ],
      "id": "a9bb85f7-03fb-41ab-a434-5eeca8165e42",
      "name": "TEST — Manual Trigger",
      "notes": "Manual test entrypoint for T1/T2/T3 fixture seeding and execution through production path."
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    test_case: 'T1',\n    ctx: {\n      tenant_id: '00000000-0000-0000-0000-000000000331',\n      correlation_id: '33111111-1111-1111-1111-111111111111',\n      job_id: 331001,\n      workflow: 'WF33-TEST',\n      contracts: { errorpipe: 1 }\n    },\n    job: {\n      id: 331001,\n      tenant_id: '00000000-0000-0000-0000-000000000331',\n      job_type: 'extract_text',\n      correlation_id: '33111111-1111-1111-1111-111111111111',\n      payload: { document_id: 331001 }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14752,
        2880
      ],
      "id": "d466311b-b250-48c7-8ca0-3091cece7919",
      "name": "TEST — Build Worker Requests",
      "notes": "Single worker request item (T1) to prevent combinatorial growth in test execution path."
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "tg",
          "mode": "list",
          "cachedResultName": "tg"
        },
        "table": {
          "__rl": true,
          "value": "files",
          "mode": "list",
          "cachedResultName": "files"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "file_unique_id",
              "value": "={{ $json.file_unique_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -14544,
        1792
      ],
      "id": "1127166f-adde-43e8-9f0c-0397641d4868",
      "name": "DB — Select tg.files by file_unique_id",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Load tg.files by file_unique_id to resolve sha256/mime/file_name for blob lookup."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -14352,
        1952
      ],
      "id": "cd91ce99-7422-4e39-bcab-8f13cd89912f",
      "name": "Merge — Restore CTX after tg.files",
      "notes": "Carry/restore after tg.files select overwrite."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "wf33-file-has-sha",
              "leftValue": "={{ $json.sha256 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -14160,
        2032
      ],
      "id": "5e229dc4-81e0-4948-9a04-c5bc8731bbe6",
      "name": "GUARD — File Has sha256",
      "notes": "Require sha256 in tg.files to locate blob object."
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "content",
          "mode": "list",
          "cachedResultName": "content"
        },
        "table": {
          "__rl": true,
          "value": "blob_objects",
          "mode": "list",
          "cachedResultName": "blob_objects"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "sha256",
              "value": "={{ $json.sha256 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -13936,
        1776
      ],
      "id": "552b5f48-3198-4132-87bf-0ab04a855007",
      "name": "DB — Select blob_objects by sha256",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Lookup blob object by sha256 to get storage_key."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -13600,
        1808
      ],
      "id": "6fe22819-082c-405b-89d6-9000ac6c43bc",
      "name": "Merge — Restore CTX after blob lookup",
      "notes": "Carry/restore after blob_objects select overwrite."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "wf33-file-has-key",
              "leftValue": "={{ $json.storage_key }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -13392,
        1872
      ],
      "id": "5cc417da-82d1-4634-928a-cf495bfc3428",
      "name": "GUARD — Blob Has storage_key",
      "notes": "Require blob storage_key before S3 download."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -12912,
        1856
      ],
      "id": "caca87f5-b750-4214-b459-154d43052d21",
      "name": "Merge — Restore CTX after S3",
      "notes": "Carry/restore after S3 download overwrite."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-file-ext",
              "name": "file_ext",
              "value": "={{ (($json.file_name || $json.storage_key || \"\").split(\".\").pop() || \"\").toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "wf33-file-mime",
              "name": "file_mime",
              "value": "={{ ($json.mime_type || \"\").toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "wf33-file-docid",
              "name": "document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            },
            {
              "id": "wf33-file-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-file-job",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -12656,
        1856
      ],
      "id": "ba7583e9-5302-4cf0-8308-83fb445490b9",
      "name": "Set — Detect File Type",
      "notes": "Compute file_ext/file_mime for extractor routing and keep binary payload. INPUT: file metadata + binary + context. OUTPUT: typed routing fields + preserved binary. WHY: extractor/analyzer nodes require binary."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file_mime.includes(\"pdf\") || $json.file_ext === \"pdf\" }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "wf33-sw-pdf"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ [\"txt\",\"log\",\"md\"].includes($json.file_ext) || $json.file_mime.startsWith(\"text/\") }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "wf33-sw-text"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file_ext === \"csv\" || $json.file_mime.includes(\"csv\") }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "wf33-sw-csv"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "csv"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file_ext === \"html\" || $json.file_ext === \"htm\" || $json.file_mime.includes(\"html\") }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "wf33-sw-html"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "html"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file_ext === \"json\" || $json.file_mime.includes(\"json\") }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "wf33-sw-json"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "json"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file_ext === \"ics\" || $json.file_mime.includes(\"calendar\") }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "wf33-sw-ics"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ics"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file_ext === \"rtf\" || $json.file_mime.includes(\"rtf\") }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "wf33-sw-rtf"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "rtf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file_ext === \"xlsx\" }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "wf33-sw-xlsx"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "xlsx"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file_ext === \"xls\" }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "wf33-sw-xls"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "xls"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file_ext === \"ods\" }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "wf33-sw-ods"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ods"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ [\"docx\",\"pptx\",\"doc\",\"ppt\"].includes($json.file_ext) || $json.file_mime.includes(\"word\") || $json.file_mime.includes(\"presentation\") || $json.file_mime.includes(\"msword\") }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "wf33-sw-conv"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "convert"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -12432,
        1888
      ],
      "id": "d37fdfaa-133a-40b3-b13d-d43861c1ff9b",
      "name": "SWITCH — Route by File Type",
      "notes": "Switch by MIME/extension after S3 download. Routes only supported types to matching Extract From File operation; doc/docx/ppt/pptx to Convert File To Json; unknown types to Gemini Analyze Document fallback."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-extract-txt",
              "name": "extracted_text",
              "value": "={{ typeof $json.text === \"string\" ? $json.text : (typeof $json.data === \"string\" ? $json.data : JSON.stringify($json)) }}",
              "type": "string"
            },
            {
              "id": "wf33-extract-meta",
              "name": "extracted_meta.extract_source",
              "value": "extract_from_file",
              "type": "string"
            },
            {
              "id": "wf33-extract-docid",
              "name": "document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            },
            {
              "id": "wf33-extract-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-extract-job",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -11712,
        1648
      ],
      "id": "ab373dfa-7c6c-45d0-8e93-68e38064b3ac",
      "name": "Set — Unified from Extract",
      "notes": "Map any Extract From File output shape to unified extracted_text deterministically; fallback to JSON.stringify for table-like outputs."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-exterr-node",
              "name": "_err.node",
              "value": "Extract — Extract From File",
              "type": "string"
            },
            {
              "id": "wf33-exterr-op",
              "name": "_err.operation",
              "value": "extract",
              "type": "string"
            },
            {
              "id": "wf33-exterr-table",
              "name": "_err.table",
              "value": "",
              "type": "string"
            },
            {
              "id": "wf33-exterr-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-exterr-job",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            },
            {
              "id": "wf33-exterr-docid",
              "name": "document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -11760,
        2368
      ],
      "id": "236fb273-a959-43ee-97f8-2b433c97e6cb",
      "name": "ERR — Source Extract File",
      "notes": "Capture extractor error details for unsupported/fatal routing."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "wf33-unsupported",
              "leftValue": "={{ ((($json.error?.message||\"\")+\" \"+($json.error?.description||\"\")).toLowerCase().includes(\"unsupported\") || (($json.error?.message||\"\")+\" \"+($json.error?.description||\"\")).toLowerCase().includes(\"not support\")) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -11568,
        2368
      ],
      "id": "ce16e545-cde6-4afc-9134-6d5d828de8a6",
      "name": "IF — Extract Error Is Unsupported",
      "notes": "Expected unsupported-type errors route to converter; other errors go to WF99."
    },
    {
      "parameters": {},
      "type": "@mazix/n8n-nodes-converter-documents.convertFileToJson",
      "typeVersion": 5,
      "position": [
        -11392,
        2208
      ],
      "id": "cdbe6664-1760-4f95-a639-4dcfefbfd8d5",
      "name": "Convert — File To Json",
      "retryOnFail": true,
      "onError": "continueErrorOutput",
      "notes": "Fallback extraction for pptx and unsupported formats via converter community node."
    },
    {
      "parameters": {
        "jsCode": "const out=[];\nfor (const item of $input.all()) {\n  const src=item.json;\n  const clone=JSON.parse(JSON.stringify(src));\n  out.push({json:{\n    extracted_text: JSON.stringify(clone),\n    extracted_meta:{extract_source:'convert_file_to_json',converted_json:clone},\n    document_id: src.document_id,\n    ctx: src.ctx,\n    job: src.job\n  }});\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11200,
        2064
      ],
      "id": "a4b5b6e6-833b-432a-8dcc-909b298f63f1",
      "name": "CODE — Flatten Converted JSON",
      "notes": "Small deterministic transformer: converter JSON -> extracted_text string + extracted_meta.converted_json."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-conv-node",
              "name": "_err.node",
              "value": "Convert — File To Json",
              "type": "string"
            },
            {
              "id": "wf33-conv-op",
              "name": "_err.operation",
              "value": "convert",
              "type": "string"
            },
            {
              "id": "wf33-conv-table",
              "name": "_err.table",
              "value": "",
              "type": "string"
            },
            {
              "id": "wf33-conv-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-conv-job",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            },
            {
              "id": "wf33-conv-doc",
              "name": "document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -10464,
        2992
      ],
      "id": "e15e3880-269b-4ca4-939a-5f7216c35776",
      "name": "ERR — Source Convert File",
      "notes": "Capture converter errors for ErrorPipe."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -10976,
        1936
      ],
      "id": "028cef3d-c08a-48f4-b8d5-a003fb7364b4",
      "name": "Merge — File Extract Unified",
      "notes": "Merge extraction outputs using append mode (valid in current n8n build). Input: Extract/Convert/AI-fallback unified items. Output: single extracted stream."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-fileio-kind",
              "name": "error_context.kind",
              "value": "={{ $json._err?.operation === \"validate_file_ref\" ? \"business\" : \"io\" }}",
              "type": "string"
            },
            {
              "id": "wf33-fileio-msg",
              "name": "error_context.message",
              "value": "={{ $json.error?.message || ($json._err?.operation === \"validate_file_ref\" ? \"File/blob reference missing\" : \"File extraction I/O failed\") }}",
              "type": "string"
            },
            {
              "id": "wf33-fileio-status",
              "name": "error_context.status_code",
              "value": "={{ $json._err?.operation === \"validate_file_ref\" ? 404 : 500 }}",
              "type": "number"
            },
            {
              "id": "wf33-fileio-retry",
              "name": "error_context.retryable",
              "value": "={{ $json._err?.operation === \"validate_file_ref\" ? false : true }}",
              "type": "boolean"
            },
            {
              "id": "wf33-fileio-node",
              "name": "error_context.details.node",
              "value": "={{ $json._err?.node }}",
              "type": "string"
            },
            {
              "id": "wf33-fileio-op",
              "name": "error_context.details.operation",
              "value": "={{ $json._err?.operation }}",
              "type": "string"
            },
            {
              "id": "wf33-fileio-table",
              "name": "error_context.details.table",
              "value": "={{ $json._err?.table }}",
              "type": "string"
            },
            {
              "id": "wf33-fileio-doc",
              "name": "error_context.details.document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            },
            {
              "id": "wf33-fileio-ctx",
              "name": "error_context.ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-fileio-job",
              "name": "error_context.job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6752,
        4272
      ],
      "id": "ed6202ce-a794-45f1-9b49-21635b451f2a",
      "name": "ERR — Prepare ErrorPipe v1 (File I/O)",
      "notes": "Prepare ErrorPipe payload for all file path DB/S3/extractor/converter errors."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gcM1ZRVCKVtzJfHOH7OTw",
          "mode": "list",
          "cachedResultUrl": "/workflow/gcM1ZRVCKVtzJfHOH7OTw",
          "cachedResultName": "WF99 — Global ERR Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -6512,
        4272
      ],
      "id": "85eadceb-d576-45af-8a38-46441bbda6d9",
      "name": "Execute WF99 (File I/O)",
      "notes": "Call WF99 for file extraction failures and return ErrorEnvelope."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-dbf-node",
              "name": "_err.node",
              "value": "DB — Select tg.files by file_unique_id",
              "type": "string"
            },
            {
              "id": "wf33-dbf-op",
              "name": "_err.operation",
              "value": "select",
              "type": "string"
            },
            {
              "id": "wf33-dbf-table",
              "name": "_err.table",
              "value": "tg.files",
              "type": "string"
            },
            {
              "id": "wf33-dbf-ctx",
              "name": "ctx",
              "value": "={{ $('Set — File Ref from Document').item.json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-dbf-job",
              "name": "job",
              "value": "={{ $('Set — File Ref from Document').item.json.job }}",
              "type": "object"
            },
            {
              "id": "wf33-dbf-doc",
              "name": "document_id",
              "value": "={{ $('Set — File Ref from Document').item.json.document_id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -13680,
        3136
      ],
      "id": "f9e37a71-56d6-4369-a4a7-de8a5744b1d2",
      "name": "ERR — Source DB File Ref",
      "notes": "Error source for tg.files lookup failure."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-dbb-node",
              "name": "_err.node",
              "value": "DB — Select blob_objects by sha256",
              "type": "string"
            },
            {
              "id": "wf33-dbb-op",
              "name": "_err.operation",
              "value": "select",
              "type": "string"
            },
            {
              "id": "wf33-dbb-table",
              "name": "_err.table",
              "value": "content.blob_objects",
              "type": "string"
            },
            {
              "id": "wf33-dbb-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-dbb-job",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            },
            {
              "id": "wf33-dbb-doc",
              "name": "document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -12512,
        3360
      ],
      "id": "f3ad4c9b-507e-4269-ac37-5aff9f8556e2",
      "name": "ERR — Source DB Blob Ref",
      "notes": "Error source for blob_objects lookup failure."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-miss-node",
              "name": "_err.node",
              "value": "GUARD — File Has sha256 / Blob Has storage_key",
              "type": "string"
            },
            {
              "id": "wf33-miss-op",
              "name": "_err.operation",
              "value": "validate_file_ref",
              "type": "string"
            },
            {
              "id": "wf33-miss-table",
              "name": "_err.table",
              "value": "tg.files/content.blob_objects",
              "type": "string"
            },
            {
              "id": "wf33-miss-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-miss-job",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            },
            {
              "id": "wf33-miss-doc",
              "name": "document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -12752,
        3360
      ],
      "id": "ce48be86-dfec-490a-a060-074be74f83c9",
      "name": "ERR — Source Missing File Ref",
      "notes": "Managed error source when file/blob references are absent."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-s3-node",
              "name": "_err.node",
              "value": "S3 — Download Source File",
              "type": "string"
            },
            {
              "id": "wf33-s3-op",
              "name": "_err.operation",
              "value": "download",
              "type": "string"
            },
            {
              "id": "wf33-s3-table",
              "name": "_err.table",
              "value": "",
              "type": "string"
            },
            {
              "id": "wf33-s3-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-s3-job",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            },
            {
              "id": "wf33-s3-doc",
              "name": "document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -12000,
        3040
      ],
      "id": "35433bcc-ed2e-4d35-af5e-ef7b142b4bcf",
      "name": "ERR — Source S3 Download",
      "notes": "Error source for S3 download failure."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -10416,
        1856
      ],
      "id": "2277be18-b831-499a-b2ea-d9adabe1574a",
      "name": "Merge — Unified Extracted Text",
      "notes": "Join message/file/url branches into unified extraction item shape."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "wf33-if-extracted",
              "leftValue": "={{ ($json.extracted_text || \"\").trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -10048,
        1760
      ],
      "id": "c7e3308a-df04-4c45-a308-05c5513e94c1",
      "name": "GUARD — Extracted Text NonEmpty",
      "notes": "Proceed to AI only when extracted_text is non-empty; otherwise return deterministic skipped success."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-skip-ok",
              "name": "ok",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "wf33-skip-code",
              "name": "status_code",
              "value": 200,
              "type": "number"
            },
            {
              "id": "wf33-skip-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-skip-doc",
              "name": "result.document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            },
            {
              "id": "wf33-skip-ext",
              "name": "result.extracted",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "wf33-skip-r",
              "name": "result.skipped_reason",
              "value": "empty_extracted_text",
              "type": "string"
            },
            {
              "id": "wf33-skip-enq",
              "name": "result.enqueued_chunk_job",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -9632,
        2016
      ],
      "id": "03d12275-3c43-458f-b160-6542df70e053",
      "name": "OUT — Success Envelope (Skipped Empty)",
      "notes": "Return deterministic success when extracted_text is empty (message/file/url) and skip enqueue."
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    tenant_id: '00000000-0000-0000-0000-000000000331',\n    file_unique_id: 'wf33_t1_file_unique_id',\n    file_name: 'sample_document.docx',\n    mime_type: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document',\n    sha256_bytea: '\\\\x1111111111111111111111111111111111111111111111111111111111111111',\n    storage_key: 'test/media/sample_document.docx',\n    document_id: 331001\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "id": "97279737-be7b-4fc9-9085-3a0ee7004505",
      "name": "TEST — Build Fixtures",
      "position": [
        -15968,
        2736
      ],
      "notes": "Single fixture item (T1) to avoid test-item multiplication in merge chains. Seeds tenant/file/blob/document for one real extraction run."
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "core",
          "mode": "list",
          "cachedResultName": "core"
        },
        "table": {
          "__rl": true,
          "value": "tenants",
          "mode": "list",
          "cachedResultName": "tenants"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.tenant_id }}",
            "name": "WF33_TEST_TENANT",
            "is_active": true,
            "meta": {}
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "is_active",
              "displayName": "is_active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "meta",
              "displayName": "meta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "id": "9dcd07a3-c715-491c-aba6-4b720669885e",
      "name": "TEST — DB Upsert Tenant",
      "position": [
        -15776,
        2592
      ],
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Ensure test tenant exists for FK constraints. Input: fixture item. Output: tenant row upsert result."
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "tg",
          "mode": "list",
          "cachedResultName": "tg"
        },
        "table": {
          "__rl": true,
          "value": "files",
          "mode": "list",
          "cachedResultName": "files"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "file_unique_id": "={{ $('TEST — Build Fixtures').item.json.file_unique_id }}",
            "file_type": "document",
            "mime_type": "={{ $('TEST — Build Fixtures').item.json.mime_type }}",
            "file_name": "={{ $('TEST — Build Fixtures').item.json.file_name }}",
            "file_size": 1024,
            "sha256": "={{ $('TEST — Build Fixtures').item.json.sha256_bytea }}",
            "meta": {}
          },
          "matchingColumns": [
            "file_unique_id"
          ],
          "schema": [
            {
              "id": "file_unique_id",
              "displayName": "file_unique_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_type",
              "displayName": "file_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "mime_type",
              "displayName": "mime_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "file_size",
              "displayName": "file_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "sha256",
              "displayName": "sha256",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "meta",
              "displayName": "meta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "id": "265077da-123c-4e1c-b069-5bb7846506cb",
      "name": "TEST — DB Upsert tg.files",
      "position": [
        -15584,
        2752
      ],
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Seed tg.files rows used by content.documents.file_unique_id FK and sha256->blob mapping."
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "content",
          "mode": "list",
          "cachedResultName": "content"
        },
        "table": {
          "__rl": true,
          "value": "blob_objects",
          "mode": "list",
          "cachedResultName": "blob_objects"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sha256": "={{ $('TEST — Build Fixtures').item.json.sha256_bytea }}",
            "byte_size": "=1024",
            "storage_key": "={{ $('TEST — Build Fixtures').item.json.storage_key }}",
            "storage_kind": "s3",
            "meta": "{}"
          },
          "matchingColumns": [
            "sha256"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sha256",
              "displayName": "sha256",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "byte_size",
              "displayName": "byte_size",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "storage_kind",
              "displayName": "storage_kind",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "storage_key",
              "displayName": "storage_key",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "meta",
              "displayName": "meta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "id": "a8963a3f-e9b5-4763-ad9a-ccb83a37ed46",
      "name": "TEST — DB Upsert blob_objects",
      "position": [
        -15328,
        2592
      ],
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Seed content.blob_objects with S3 storage_key for extractor file download."
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "content",
          "mode": "list",
          "cachedResultName": "content"
        },
        "table": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('TEST — Build Fixtures').item.json.document_id }}",
            "tenant_id": "={{ $('TEST — Build Fixtures').item.json.tenant_id }}",
            "doc_type": "file",
            "file_unique_id": "={{ $('TEST — Build Fixtures').item.json.file_unique_id }}",
            "status": "pending",
            "title": "WF33_TEST"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "doc_type",
              "displayName": "doc_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "voice",
                  "value": "voice"
                },
                {
                  "name": "url",
                  "value": "url"
                },
                {
                  "name": "file",
                  "value": "file"
                },
                {
                  "name": "message",
                  "value": "message"
                }
              ]
            },
            {
              "id": "visibility",
              "displayName": "visibility",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "admin_only",
                  "value": "admin_only"
                },
                {
                  "name": "dm_private",
                  "value": "dm_private"
                },
                {
                  "name": "group",
                  "value": "group"
                }
              ],
              "removed": true
            },
            {
              "id": "dm_owner_user_id",
              "displayName": "dm_owner_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "message_version_id",
              "displayName": "message_version_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "file_unique_id",
              "displayName": "file_unique_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url_id",
              "displayName": "url_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source_created_at",
              "displayName": "source_created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "text_sha256",
              "displayName": "text_sha256",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "token_count",
              "displayName": "token_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "failed",
                  "value": "failed"
                },
                {
                  "name": "succeeded",
                  "value": "succeeded"
                },
                {
                  "name": "pending",
                  "value": "pending"
                }
              ]
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "meta",
              "displayName": "meta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "id": "668ae887-81f3-42e5-bffd-ac8c934b4c6d",
      "name": "TEST — DB Upsert content.documents",
      "position": [
        -14992,
        2624
      ],
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Seed file documents for T1/T2 extraction tests. Output document_ids are fed into worker requests."
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "keepSource": "json"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -12176,
        1376
      ],
      "id": "1666091b-26e5-4eec-8d09-fc655a76fa60",
      "name": "Extract — From PDF",
      "onError": "continueErrorOutput",
      "notes": "Extract From File operation=pdf. INPUT: binary data + file metadata. OUTPUT: extracted JSON/text. WHY: only for formats supported by core Extract From File."
    },
    {
      "parameters": {
        "operation": "text",
        "options": {
          "encoding": "utf8",
          "stripBOM": true,
          "keepSource": "json"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -12176,
        1536
      ],
      "id": "466fbff7-26ad-4dd4-ad21-f4f288ec6d64",
      "name": "Extract — From Text",
      "onError": "continueErrorOutput",
      "notes": "Extract From File operation=text. INPUT: binary data + file metadata. OUTPUT: extracted JSON/text. WHY: only for formats supported by core Extract From File."
    },
    {
      "parameters": {
        "options": {
          "encoding": "utf8"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -12176,
        1696
      ],
      "id": "2ba94df2-28f7-4d8c-b893-5b517409b6de",
      "name": "Extract — From CSV",
      "onError": "continueErrorOutput",
      "notes": "Extract From File operation=csv. INPUT: binary data + file metadata. OUTPUT: extracted JSON/text. WHY: only for formats supported by core Extract From File."
    },
    {
      "parameters": {
        "operation": "html",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -12176,
        1856
      ],
      "id": "4c368fe6-6267-4efe-9b04-9573be37300d",
      "name": "Extract — From HTML",
      "onError": "continueErrorOutput",
      "notes": "Extract From File operation=html. INPUT: binary data + file metadata. OUTPUT: extracted JSON/text. WHY: only for formats supported by core Extract From File."
    },
    {
      "parameters": {
        "operation": "json"
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -12176,
        2016
      ],
      "id": "ce5e4132-d954-455a-986b-cb425d774b84",
      "name": "Extract — From JSON",
      "onError": "continueErrorOutput",
      "notes": "Extract From File operation=json. INPUT: binary data + file metadata. OUTPUT: extracted JSON/text. WHY: only for formats supported by core Extract From File."
    },
    {
      "parameters": {
        "operation": "ics"
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -12176,
        2176
      ],
      "id": "1c907852-bc1f-470d-b10e-fd77bb043ca1",
      "name": "Extract — From ICS",
      "onError": "continueErrorOutput",
      "notes": "Extract From File operation=ics. INPUT: binary data + file metadata. OUTPUT: extracted JSON/text. WHY: only for formats supported by core Extract From File."
    },
    {
      "parameters": {
        "operation": "rtf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -12176,
        2320
      ],
      "id": "79fdfcda-367f-41ca-92dd-d23c46b294c5",
      "name": "Extract — From RTF",
      "onError": "continueErrorOutput",
      "notes": "Extract From File operation=rtf. INPUT: binary data + file metadata. OUTPUT: extracted JSON/text. WHY: only for formats supported by core Extract From File."
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -12176,
        2480
      ],
      "id": "f6a8fc82-0592-4aef-9e96-d55324e0e109",
      "name": "Extract — From XLSX",
      "onError": "continueErrorOutput",
      "notes": "Extract From File operation=xlsx. INPUT: binary data + file metadata. OUTPUT: extracted JSON/text. WHY: only for formats supported by core Extract From File."
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -12176,
        2640
      ],
      "id": "676a939d-ae2a-446e-937a-c6d1e85a7fb9",
      "name": "Extract — From XLS",
      "onError": "continueErrorOutput",
      "notes": "Extract From File operation=xls. INPUT: binary data + file metadata. OUTPUT: extracted JSON/text. WHY: only for formats supported by core Extract From File."
    },
    {
      "parameters": {
        "operation": "ods",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -12176,
        2784
      ],
      "id": "00ed2041-7e78-4cdd-8fc6-e7a1fbe6ade9",
      "name": "Extract — From ODS",
      "onError": "continueErrorOutput",
      "notes": "Extract From File operation=ods. INPUT: binary data + file metadata. OUTPUT: extracted JSON/text. WHY: only for formats supported by core Extract From File."
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "You are a strict JSON generator. Output ONLY one valid JSON OBJECT.\nDo NOT wrap the JSON in quotes. Do NOT use markdown/code fences.\nThe first character must be { and the last character must be }\nAnalyze the document and return ONLY this JSON object with exactly these keys:\n{\"description\":\"...\",\"transcription\":\"...\",\"language\":\"...\"}\nRules:\nNo extra keys, no comments.\ndescription: a detailed description of what is in the document, avoid using the \" character inside the text (use ' or curly quotes “ ” if needed).\ntranscription: verbatim text in windows encoding, if present in the document; if no text, \"\"\nlanguage: a language used in the document, ISO 639-1 code when possible, else \"und\"",
        "inputType": "binary",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -11072,
        2688
      ],
      "id": "0f63c9c3-c07f-497a-86b8-842829124921",
      "name": "AI — Analyze Document Fallback",
      "credentials": {
        "googlePalmApi": {
          "id": "4J3UGUqYNZJxtTVa",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Fallback extractor for unsupported file types or extractor/converter failures. INPUT: binary file. OUTPUT: strict JSON with description/transcription/language."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-aif-txt",
              "name": "extracted_text",
              "value": "={{ $json.transcription || $json.text || JSON.stringify($json) }}",
              "type": "string"
            },
            {
              "id": "wf33-aif-meta-src",
              "name": "extracted_meta.extract_source",
              "value": "gemini_analyze_document_fallback",
              "type": "string"
            },
            {
              "id": "wf33-aif-meta-raw",
              "name": "extracted_meta.gemini",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "wf33-aif-doc",
              "name": "document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            },
            {
              "id": "wf33-aif-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-aif-job",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -10752,
        2592
      ],
      "id": "4a9a2a5a-abb0-4bf9-8c0d-9bb494d6944a",
      "name": "Set — Unified from AI Fallback",
      "notes": "Map Gemini Analyze Document fallback output into unified extraction payload for shared downstream processing."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-aif-err-node",
              "name": "_err.node",
              "value": "AI — Analyze Document Fallback",
              "type": "string"
            },
            {
              "id": "wf33-aif-err-op",
              "name": "_err.operation",
              "value": "analyze_document",
              "type": "string"
            },
            {
              "id": "wf33-aif-err-table",
              "name": "_err.table",
              "value": "",
              "type": "string"
            },
            {
              "id": "wf33-aif-err-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-aif-err-job",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            },
            {
              "id": "wf33-aif-err-doc",
              "name": "document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -10544,
        3808
      ],
      "id": "a04b1cde-50ce-42a5-8319-e9c4b1baa95e",
      "name": "ERR — Source AI Fallback",
      "notes": "Error source wrapper for Gemini Analyze Document fallback failures."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "passThrough"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -11296,
        2656
      ],
      "id": "9684f59d-46d9-4e13-82dc-7e7499edc95f",
      "name": "Merge — Fallback Inputs",
      "notes": "Join three fallback entry points: unsupported mime route, Extract fatal error route, Convert error route."
    },
    {
      "parameters": {
        "bucketName": "dfassistant",
        "fileKey": "={{ $json.storage_key }}"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -13168,
        1744
      ],
      "id": "dd787075-c78b-441d-9a0e-524e69018f1e",
      "name": "S3 - Download a file",
      "credentials": {
        "s3": {
          "id": "hjNqGx5slcq2dEGk",
          "name": "S3 account"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Test/manual support node."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-carry-ai-doc",
              "name": "document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            },
            {
              "id": "wf33-carry-ai-text",
              "name": "extracted_text",
              "value": "={{ $json.extracted_text }}",
              "type": "string"
            },
            {
              "id": "wf33-carry-ai-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-carry-ai-job",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            },
            {
              "id": "wf33-carry-ai-meta",
              "name": "extracted_meta",
              "value": "={{ $json.extracted_meta || {} }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -9792,
        1728
      ],
      "id": "53dd669b-05ad-42f7-add6-fd9243195259",
      "name": "Carry — Pre AI Description",
      "notes": "Carry unified context before AI node that may overwrite fields. Input: unified extraction payload. Output: same item with guaranteed document_id/extracted_text/ctx/job."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -10368,
        800
      ],
      "id": "f1206039-f8d4-4707-bbca-1e844771a7c2",
      "name": "RULE — I/O Error Wiring Contract",
      "notes": "Node wiring rule (mandatory): for every I/O node with onError=continueErrorOutput, output 0 (success) MUST go only to the working success path; output 1 (error) MUST go only to ERR — Source <NodeName> and then ErrorPipe->WF99. Success output must never connect to ERR nodes, and error output must never connect to business-flow nodes."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -9248,
        1520
      ],
      "id": "da2f89a3-d09f-4d36-be2a-123999175d41",
      "name": "Merge — Restore CTX after AI",
      "notes": "Restore carried fields after AI response. Input1: AI output. Input2: carry item. Output: AI fields + document_id/extracted_text/ctx/job."
    }
  ],
  "pinData": {},
  "connections": {
    "IN — Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Set — Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Normalize Input": {
      "main": [
        [
          {
            "node": "GUARD — Input Valid",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge — Restore CTX after DB Load",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GUARD — Input Valid": {
      "main": [
        [
          {
            "node": "DB — Load Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Input Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source Input Guard": {
      "main": [
        [
          {
            "node": "ERR — Prepare ErrorPipe v1 (Input)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Prepare ErrorPipe v1 (Input)": {
      "main": [
        [
          {
            "node": "Execute WF99 (Input)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute WF99 (Input)": {
      "main": [
        [
          {
            "node": "Merge — Final (Success + All Errors)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DB — Load Document": {
      "main": [
        [
          {
            "node": "Merge — Restore CTX after DB Load",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source DB Load Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source DB Load Doc": {
      "main": [
        [
          {
            "node": "ERR — Prepare ErrorPipe v1 (DB Doc)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Prepare ErrorPipe v1 (DB Doc)": {
      "main": [
        [
          {
            "node": "Execute WF99 (DB Doc)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Restore CTX after DB Load": {
      "main": [
        [
          {
            "node": "CTL — Route by doc_type: message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CTL — Route by doc_type: message?": {
      "main": [
        [
          {
            "node": "GUARD — Message Has Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CTL — Route by doc_type: file?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CTL — Route by doc_type: file?": {
      "main": [
        [
          {
            "node": "Set — File Ref from Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set — URL Placeholder Unified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GUARD — Message Has Text": {
      "main": [
        [
          {
            "node": "Set — Message: Extract Existing Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Message Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source Message Empty": {
      "main": [
        [
          {
            "node": "ERR — Prepare ErrorPipe v1 (Empty Text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Prepare ErrorPipe v1 (Empty Text)": {
      "main": [
        [
          {
            "node": "Execute WF99 (Empty Text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Message: Extract Existing Text": {
      "main": [
        [
          {
            "node": "Merge — Unified Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI — Generate Description (Gemini)": {
      "main": [
        [
          {
            "node": "Merge — Restore CTX after AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source AI Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source AI Description": {
      "main": [
        [
          {
            "node": "ERR — Prepare ErrorPipe v1 (AI Desc)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Prepare ErrorPipe v1 (AI Desc)": {
      "main": [
        [
          {
            "node": "Execute WF99 (AI Desc)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Extract Description from AI Response": {
      "main": [
        [
          {
            "node": "Crypto — Compute SHA256",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto — Compute SHA256": {
      "main": [
        [
          {
            "node": "Set — Prepare Bytea Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Prepare Bytea Format": {
      "main": [
        [
          {
            "node": "DB — Update Document (Success)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge — Restore CTX after DB Update",
            "type": "main",
            "index": 1
          },
          {
            "node": "Set — Prepare Enqueue Payload",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge — Restore CTX after Enqueue",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DB — Update Document (Success)": {
      "main": [
        [
          {
            "node": "Merge — Restore CTX after DB Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source DB Update Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source DB Update Doc": {
      "main": [
        [
          {
            "node": "ERR — Prepare ErrorPipe v1 (DB Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Prepare ErrorPipe v1 (DB Update)": {
      "main": [
        [
          {
            "node": "Execute WF99 (DB Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Restore CTX after DB Update": {
      "main": [
        [
          {
            "node": "Set — Prepare Enqueue Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Prepare Enqueue Payload": {
      "main": [
        [
          {
            "node": "DB — Enqueue chunk_document Job",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge — Restore CTX after Enqueue",
            "type": "main",
            "index": 1
          },
          {
            "node": "OUT — Success Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB — Enqueue chunk_document Job": {
      "main": [
        [
          {
            "node": "Merge — Restore CTX after Enqueue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source DB Enqueue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source DB Enqueue": {
      "main": [
        [
          {
            "node": "ERR — Prepare ErrorPipe v1 (DB Enqueue)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Prepare ErrorPipe v1 (DB Enqueue)": {
      "main": [
        [
          {
            "node": "Execute WF99 (DB Enqueue)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Restore CTX after Enqueue": {
      "main": [
        [
          {
            "node": "OUT — Success Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OUT — Success Envelope": {
      "main": [
        [
          {
            "node": "Merge — Final (Success + All Errors)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST — Manual Trigger": {
      "main": [
        [
          {
            "node": "TEST — Build Fixtures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — File Ref from Document": {
      "main": [
        [
          {
            "node": "DB — Select tg.files by file_unique_id",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge — Restore CTX after tg.files",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DB — Select tg.files by file_unique_id": {
      "main": [
        [
          {
            "node": "Merge — Restore CTX after tg.files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source DB File Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Restore CTX after tg.files": {
      "main": [
        [
          {
            "node": "GUARD — File Has sha256",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GUARD — File Has sha256": {
      "main": [
        [
          {
            "node": "DB — Select blob_objects by sha256",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge — Restore CTX after blob lookup",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "ERR — Source Missing File Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB — Select blob_objects by sha256": {
      "main": [
        [
          {
            "node": "Merge — Restore CTX after blob lookup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source DB Blob Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Restore CTX after blob lookup": {
      "main": [
        [
          {
            "node": "GUARD — Blob Has storage_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GUARD — Blob Has storage_key": {
      "main": [
        [
          {
            "node": "Merge — Restore CTX after S3",
            "type": "main",
            "index": 1
          },
          {
            "node": "S3 - Download a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Missing File Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Restore CTX after S3": {
      "main": [
        [
          {
            "node": "Set — Detect File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Detect File Type": {
      "main": [
        [
          {
            "node": "SWITCH — Route by File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Unified from Extract": {
      "main": [
        [
          {
            "node": "Merge — File Extract Unified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source Extract File": {
      "main": [
        [
          {
            "node": "IF — Extract Error Is Unsupported",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Extract Error Is Unsupported": {
      "main": [
        [
          {
            "node": "Convert — File To Json",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge — Fallback Inputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert — File To Json": {
      "main": [
        [
          {
            "node": "CODE — Flatten Converted JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Convert File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE — Flatten Converted JSON": {
      "main": [
        [
          {
            "node": "Merge — File Extract Unified",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge — File Extract Unified": {
      "main": [
        [
          {
            "node": "Merge — Unified Extracted Text",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ERR — Source DB File Ref": {
      "main": [
        [
          {
            "node": "ERR — Prepare ErrorPipe v1 (File I/O)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source DB Blob Ref": {
      "main": [
        [
          {
            "node": "ERR — Prepare ErrorPipe v1 (File I/O)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source Missing File Ref": {
      "main": [
        [
          {
            "node": "ERR — Prepare ErrorPipe v1 (File I/O)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source S3 Download": {
      "main": [
        [
          {
            "node": "ERR — Prepare ErrorPipe v1 (File I/O)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Prepare ErrorPipe v1 (File I/O)": {
      "main": [
        [
          {
            "node": "Execute WF99 (File I/O)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Unified Extracted Text": {
      "main": [
        [
          {
            "node": "GUARD — Extracted Text NonEmpty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GUARD — Extracted Text NonEmpty": {
      "main": [
        [
          {
            "node": "Carry — Pre AI Description",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OUT — Success Envelope (Skipped Empty)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST — Build Fixtures": {
      "main": [
        [
          {
            "node": "TEST — DB Upsert Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST — DB Upsert Tenant": {
      "main": [
        [
          {
            "node": "TEST — DB Upsert tg.files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Input Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST — DB Upsert tg.files": {
      "main": [
        [
          {
            "node": "TEST — DB Upsert blob_objects",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Input Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST — DB Upsert blob_objects": {
      "main": [
        [
          {
            "node": "TEST — DB Upsert content.documents",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Input Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST — DB Upsert content.documents": {
      "main": [
        [
          {
            "node": "TEST — Build Worker Requests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Input Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST — Build Worker Requests": {
      "main": [
        [
          {
            "node": "Set — Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SWITCH — Route by File Type": {
      "main": [
        [
          {
            "node": "Extract — From PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract — From Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract — From CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract — From HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract — From JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract — From ICS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract — From RTF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract — From XLSX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract — From XLS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract — From ODS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert — File To Json",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge — Fallback Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract — From PDF": {
      "main": [
        [
          {
            "node": "Set — Unified from Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Extract File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract — From Text": {
      "main": [
        [
          {
            "node": "Set — Unified from Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Extract File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract — From CSV": {
      "main": [
        [
          {
            "node": "Set — Unified from Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Extract File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract — From HTML": {
      "main": [
        [
          {
            "node": "Set — Unified from Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Extract File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract — From JSON": {
      "main": [
        [
          {
            "node": "Set — Unified from Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Extract File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract — From ICS": {
      "main": [
        [
          {
            "node": "Set — Unified from Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Extract File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract — From RTF": {
      "main": [
        [
          {
            "node": "Set — Unified from Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Extract File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract — From XLSX": {
      "main": [
        [
          {
            "node": "Set — Unified from Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Extract File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract — From XLS": {
      "main": [
        [
          {
            "node": "Set — Unified from Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Extract File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract — From ODS": {
      "main": [
        [
          {
            "node": "Set — Unified from Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Extract File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Fallback Inputs": {
      "main": [
        [
          {
            "node": "AI — Analyze Document Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI — Analyze Document Fallback": {
      "main": [
        [
          {
            "node": "Set — Unified from AI Fallback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source AI Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source AI Fallback": {
      "main": [
        [
          {
            "node": "ERR — Prepare ErrorPipe v1 (File I/O)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source Convert File": {
      "main": [
        [
          {
            "node": "ERR — Prepare ErrorPipe v1 (File I/O)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3 - Download a file": {
      "main": [
        [
          {
            "node": "Merge — Restore CTX after S3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source S3 Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carry — Pre AI Description": {
      "main": [
        [
          {
            "node": "AI — Generate Description (Gemini)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge — Restore CTX after AI",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge — Restore CTX after AI": {
      "main": [
        [
          {
            "node": "Set — Extract Description from AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "687c6be4-c045-4bb7-9ae1-f254e67ccaff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "49b1b765c7a60d5365a95e5c3e2d1b2e695b21e61861bbe488c27ec04546a71d"
  },
  "id": "VxHQSdnSqx-IP0pWSJ0LX",
  "tags": []
}
