workflows/WF33 — Document Text Extractor.json
{
  "name": "WF33 — Document Text Extractor",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1392,
        8400
      ],
      "id": "b16d962b-4e90-4853-a678-d894fdb65c43",
      "name": "IN — Execute Workflow Trigger",
      "notes": "PROD ENTRY: Receives job from WF90 with ctx{tenant_id, correlation_id, job_id, ...} + job{id, payload{document_id}, ...}. Input: WF90 item. Output: raw item."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1a2a3a4-b5b6-c7c8-d9d0-e1e2e3e4e5e6",
              "name": "ctx",
              "value": "={{ $json.ctx ?? {} }}",
              "type": "object"
            },
            {
              "id": "b2b3b4b5-c6c7-d8d9-e0e1-f2f3f4f5f6f7",
              "name": "job",
              "value": "={{ $json.job ?? {} }}",
              "type": "object"
            },
            {
              "id": "c3c4c5c6-d7d8-e9e0-f1f2-030405060708",
              "name": "ctx.tenant_id",
              "value": "={{ $json.ctx?.tenant_id ?? $json.job?.tenant_id }}",
              "type": "string"
            },
            {
              "id": "d4d5d6d7-e8e9-f0f1-0203-141516171819",
              "name": "ctx.correlation_id",
              "value": "={{ $json.ctx?.correlation_id ?? $json.job?.correlation_id }}",
              "type": "string"
            },
            {
              "id": "e5e6e7e8-f9f0-0102-1314-252627282930",
              "name": "ctx.job_id",
              "value": "={{ $json.job?.id }}",
              "type": "number"
            },
            {
              "id": "f6f7f8f9-0a0b-1213-2425-363738394041",
              "name": "ctx.workflow",
              "value": "WF33",
              "type": "string"
            },
            {
              "id": "07080910-1b1c-2324-3536-474849505152",
              "name": "ctx.contracts.errorpipe",
              "value": 1,
              "type": "number"
            },
            {
              "id": "18192021-2c2d-3435-4647-585960616263",
              "name": "job.payload.document_id",
              "value": "={{ $json.job?.payload?.document_id }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        8416
      ],
      "id": "00163060-7be8-482e-9a82-334a684590cb",
      "name": "Set — Normalize Input",
      "notes": "Extract ctx + job from trigger. Preserve tenant_id, correlation_id, job_id. Set workflow=WF33 and errorpipe=1. Input: trigger item. Output: ctx.* + job.*. WHY dotNotation: nested fields."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "29303132-3d3e-4546-5758-697071727374",
              "leftValue": "={{ $json.ctx?.tenant_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "3a3b3c3d-4e4f-5657-6869-808182838485",
              "leftValue": "={{ $json.ctx?.correlation_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "4b4c4d4e-5f60-6768-7980-919293949596",
              "leftValue": "={{ $json.job?.payload?.document_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1856,
        8288
      ],
      "id": "6ac69a64-2c99-4059-b636-be72c8ba4702",
      "name": "GUARD — Input Valid",
      "notes": "IF v3. Validate tenant_id, correlation_id, document_id all present. TRUE=valid, FALSE=error. Input: ctx + job. Output: same. WHY version=3: n8n v2.6.3 IF requirement."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c5d5e5f-7081-9293-a4b5-c6d7e8f9a0b1",
              "name": "_err.node",
              "value": "GUARD — Input Valid",
              "type": "string"
            },
            {
              "id": "6d6e6f70-8192-a3b4-c5d6-e7f8a9b0c1d2",
              "name": "_err.operation",
              "value": "validate_input",
              "type": "string"
            },
            {
              "id": "7e7f8081-9293-b4c5-d6e7-f8a9b0c1d2e3",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "8f909192-a3b4-c5d6-e7f8-a9b0c1d2e3f4",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3408,
        10480
      ],
      "id": "e7de1148-688b-43c3-8cf7-c3d5ea5b8d29",
      "name": "ERR — Source Input Guard",
      "notes": "ErrorPipe v1: Capture error source for Input Guard failure. Input: failed item. Output: _err.* + ctx + job + original. WHY includeOtherFields=true: preserve failure data."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90a1a2a3-b4c5-d6e7-f8a9-b0c1d2e3f405",
              "name": "error_context.kind",
              "value": "validation",
              "type": "string"
            },
            {
              "id": "a1b2b3b4-c5d6-e7f8-a9b0-c1d2e3f40516",
              "name": "error_context.message",
              "value": "Missing required: tenant_id, correlation_id, or document_id",
              "type": "string"
            },
            {
              "id": "b2c3c4c5-d6e7-f8a9-b0c1-d2e3f4051627",
              "name": "error_context.status_code",
              "value": 400,
              "type": "number"
            },
            {
              "id": "c3d4d5d6-e7f8-a9b0-c1d2-e3f405162738",
              "name": "error_context.retryable",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "d4e5e6e7-f8a9-b0c1-d2e3-f40516273849",
              "name": "error_context.details.node",
              "value": "={{ $json._err?.node }}",
              "type": "string"
            },
            {
              "id": "e5f6f7f8-a9b0-c1d2-e3f4-05162738495a",
              "name": "error_context.details.operation",
              "value": "={{ $json._err?.operation }}",
              "type": "string"
            },
            {
              "id": "f60708090-b0c1-d2e3-f405-1627384950a5b",
              "name": "error_context.ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "0718191a-c1d2-e3f4-0516-27384950a5b6c",
              "name": "error_context.job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3664,
        10480
      ],
      "id": "58b8bc3c-c326-481e-9ec1-ab8d0c7bef9a",
      "name": "ERR — Prepare ErrorPipe v1 (Input)",
      "notes": "Build error_context for WF99. Input: err source. Output: error_context.* only. WHY includeOtherFields=false: clean envelope for WF99."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gcM1ZRVCKVtzJfHOH7OTw",
          "mode": "list",
          "cachedResultUrl": "/workflow/gcM1ZRVCKVtzJfHOH7OTw",
          "cachedResultName": "WF99 — Global ERR Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3904,
        10480
      ],
      "id": "0d3386dd-70c0-44eb-b77e-7b4a277ff15c",
      "name": "Execute WF99 (Input)",
      "notes": "Call WF99 for input validation error. Input: error_context. Output: ErrorEnvelope. WHY: ErrorPipe v1 centralized logging. NO StopAndError after this!"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "content",
          "mode": "list",
          "cachedResultName": "content"
        },
        "table": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.job.payload.document_id }}"
            },
            {
              "column": "tenant_id",
              "value": "={{ $json.ctx.tenant_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2096,
        8272
      ],
      "id": "da5d93ee-c09d-4abd-888c-58cac3eec40e",
      "name": "DB — Load Document",
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Load document from content.documents by id + tenant_id. Input: ctx + job. Output: document row. WHY AOD=OFF: need error output for 404 handling. WHY select: no dynamic SQL."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "718293a4-b5c6-d7e8-f9a0-b1c2d3e4f506",
              "name": "_err.node",
              "value": "DB — Load Document",
              "type": "string"
            },
            {
              "id": "8293a4b5-c6d7-e8f9-a0b1-c2d3e4f50617",
              "name": "_err.operation",
              "value": "select",
              "type": "string"
            },
            {
              "id": "93a4b5c6-d7e8-f9a0-b1c2-d3e4f5061728",
              "name": "_err.table",
              "value": "content.documents",
              "type": "string"
            },
            {
              "id": "a4b5c6d7-e8f9-a0b1-c2d3-e4f506172839",
              "name": "ctx",
              "value": "={{ $('Set — Normalize Input').item.json.ctx }}",
              "type": "object"
            },
            {
              "id": "b5c6d7e8-f9a0-b1c2-d3e4-f5061728394a",
              "name": "job",
              "value": "={{ $('Set — Normalize Input').item.json.job }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4480,
        10608
      ],
      "id": "1971b469-fd1d-40b0-8d6a-6fb1afd48cc9",
      "name": "ERR — Source DB Load Doc",
      "notes": "ErrorPipe v1: Capture DB error for Load Document (404 or DB error). Input: error output. Output: _err.* + ctx + job + error. WHY includeOtherFields=true: preserve error details."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6d7e8f9-a0b1-c2d3-e4f5-0617283949a5b",
              "name": "error_context.kind",
              "value": "={{ $json.error?.code ? 'db' : 'business' }}",
              "type": "string"
            },
            {
              "id": "d7e8f9a0-b1c2-d3e4-f506-17283949a5b6c",
              "name": "error_context.message",
              "value": "={{ $json.error?.message || ('Document not found: id=' + $json.job.payload.document_id) }}",
              "type": "string"
            },
            {
              "id": "e8f9a0b1-c2d3-e4f5-0617-283949a5b6c7d",
              "name": "error_context.status_code",
              "value": "={{ $json.error?.code ? 500 : 404 }}",
              "type": "number"
            },
            {
              "id": "f9a0b1c2-d3e4-f506-1728-3949a5b6c7d8e",
              "name": "error_context.retryable",
              "value": "={{ $json.error?.code ? true : false }}",
              "type": "boolean"
            },
            {
              "id": "0a1b2c3d-e4f5-0617-2839-49a5b6c7d8e9f",
              "name": "error_context.details.node",
              "value": "={{ $json._err?.node }}",
              "type": "string"
            },
            {
              "id": "1b2c3d4e-f506-1728-3949-a5b6c7d8e9f00",
              "name": "error_context.details.operation",
              "value": "={{ $json._err?.operation }}",
              "type": "string"
            },
            {
              "id": "2c3d4e5f-0617-2839-49a5-b6c7d8e9f0011",
              "name": "error_context.details.table",
              "value": "={{ $json._err?.table }}",
              "type": "string"
            },
            {
              "id": "3d4e5f60-1728-3949-a5b6-c7d8e9f001122",
              "name": "error_context.ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "4e5f6071-2839-49a5-b6c7-d8e9f00112233",
              "name": "error_context.job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4864,
        10640
      ],
      "id": "008d299d-ed32-49cb-92b8-4c88963b01c3",
      "name": "ERR — Prepare ErrorPipe v1 (DB Doc)",
      "notes": "Build error_context for DB Load Doc failure. Distinguish 404 (business) vs DB error. Input: err source. Output: error_context.*. WHY includeOtherFields=false: clean envelope."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gcM1ZRVCKVtzJfHOH7OTw",
          "mode": "list",
          "cachedResultUrl": "/workflow/gcM1ZRVCKVtzJfHOH7OTw",
          "cachedResultName": "WF99 — Global ERR Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        5104,
        10640
      ],
      "id": "6ae26e0e-8327-453f-8444-c1413c8eb9d9",
      "name": "Execute WF99 (DB Doc)",
      "notes": "Call WF99 for DB Load Document failure. Input: error_context. Output: ErrorEnvelope. WHY: ErrorPipe v1 centralized logging. NO StopAndError after!"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2352,
        8400
      ],
      "id": "f65ccb7a-9abe-422e-9f8a-27af01832802",
      "name": "Merge — Restore CTX after DB Load",
      "notes": "Restore ctx/job after DB Load Document (Carry pattern via Merge). Input1: DB result, Input2: ctx/job from Set Normalize Input. Output: document.* + ctx + job. WHY: Postgres overwrites item."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f607182-9394-a5b6-c7d8-e9f0a1b2c3d4",
              "leftValue": "={{ $json.doc_type }}",
              "rightValue": "message",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2592,
        8400
      ],
      "id": "77eda20b-c934-4a0b-ad9e-7a1f7cb982e9",
      "name": "CTL — Route by doc_type: message?",
      "notes": "IF v3. Route by doc_type. TRUE=message, FALSE=file/url. Input: document + ctx + job. Output: same. WHY version=3: n8n v2.6.3 requirement."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "607182939-a4b5-c6d7-e8f9-a0b1c2d3e4f5",
              "leftValue": "={{ $json.doc_type }}",
              "rightValue": "file",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2592,
        8688
      ],
      "id": "8cd22b16-7594-4570-a5b2-d4cb0bf46090",
      "name": "CTL — Route by doc_type: file?",
      "notes": "IF v3. Route file vs url. TRUE=file, FALSE=url. Input: document + ctx + job. Output: same. WHY version=3: n8n v2.6.3 requirement."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "718293a4-b5c6-d7e8-f9a0-b1c2d3e4f506",
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2832,
        8256
      ],
      "id": "8981e050-8d7d-45d1-931b-09a401aa031a",
      "name": "GUARD — Message Has Text",
      "notes": "IF v3. Check if message doc has text. TRUE=has text, FALSE=empty (error 409). Input: document + ctx + job. Output: same. WHY version=3: n8n v2.6.3 requirement."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8293a4b5-c6d7-e8f9-a0b1-c2d3e4f50617",
              "name": "_err.node",
              "value": "GUARD — Message Has Text",
              "type": "string"
            },
            {
              "id": "93a4b5c6-d7e8-f9a0-b1c2-d3e4f5061728",
              "name": "_err.operation",
              "value": "validate_text",
              "type": "string"
            },
            {
              "id": "a4b5c6d7-e8f9-a0b1-c2d3-e4f506172839",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "b5c6d7e8-f9a0-b1c2-d3e4-f5061728394a",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            },
            {
              "id": "c6d7e8f9-a0b1-c2d3-e4f5-061728394a5b",
              "name": "document_id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3312,
        10128
      ],
      "id": "b62f44e8-a54a-4fe9-a857-0a9ec284cc5a",
      "name": "ERR — Source Message Empty",
      "notes": "ErrorPipe v1: Capture error for empty message text (business error 409). Input: failed guard. Output: _err.* + ctx + job + document. WHY includeOtherFields=true: preserve document data."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9a0b1c2-d3e4-f506-1728-3949a5b6c7d8",
              "name": "error_context.kind",
              "value": "business",
              "type": "string"
            },
            {
              "id": "0a1b2c3d-e4f5-0617-2839-49a5b6c7d8e9",
              "name": "error_context.message",
              "value": "Nothing to extract: document text is empty",
              "type": "string"
            },
            {
              "id": "1b2c3d4e-f506-1728-3949-a5b6c7d8e9f0",
              "name": "error_context.status_code",
              "value": 409,
              "type": "number"
            },
            {
              "id": "2c3d4e5f-0617-2839-49a5-b6c7d8e9f001",
              "name": "error_context.retryable",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "3d4e5f60-1728-3949-a5b6-c7d8e9f00112",
              "name": "error_context.details.node",
              "value": "={{ $json._err?.node }}",
              "type": "string"
            },
            {
              "id": "4e5f6071-2839-49a5-b6c7-d8e9f0011223",
              "name": "error_context.details.operation",
              "value": "={{ $json._err?.operation }}",
              "type": "string"
            },
            {
              "id": "5f607182-3949-a5b6-c7d8-e9f001122334",
              "name": "error_context.details.document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            },
            {
              "id": "60718293-49a5-b6c7-d8e9-f00112233445",
              "name": "error_context.ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "718293a4-a5b6-c7d8-e9f0-011223344556",
              "name": "error_context.job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3552,
        10128
      ],
      "id": "ec78ed0f-16f8-4946-b2d1-ecefb028ee86",
      "name": "ERR — Prepare ErrorPipe v1 (Empty Text)",
      "notes": "Build error_context for empty text (business error). Input: err source. Output: error_context.*. WHY includeOtherFields=false: clean envelope for WF99."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gcM1ZRVCKVtzJfHOH7OTw",
          "mode": "list",
          "cachedResultUrl": "/workflow/gcM1ZRVCKVtzJfHOH7OTw",
          "cachedResultName": "WF99 — Global ERR Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3792,
        10128
      ],
      "id": "4fc9921e-567d-4944-b408-742fce0ab826",
      "name": "Execute WF99 (Empty Text)",
      "notes": "Call WF99 for empty text error. Input: error_context. Output: ErrorEnvelope. WHY: ErrorPipe v1 centralized logging. NO StopAndError after!"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b2c3d4e-f506-1728-3949-a5b6c7d8e9f0",
              "name": "extracted_text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "2c3d4e5f-0617-2839-49a5-b6c7d8e9f001",
              "name": "document_id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "3d4e5f60-1728-3949-a5b6-c7d8e9f00112",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "4e5f6071-2839-49a5-b6c7-d8e9f0011223",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            },
            {
              "id": "msg-meta",
              "name": "extracted_meta.source",
              "value": "message_text",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4672,
        7888
      ],
      "id": "ae85775e-e706-479a-aea8-f90a018b6dba",
      "name": "Set — Message: Extract Existing Text",
      "notes": "For message doc: map content.documents.text into unified extraction payload. Input: document + ctx + job. Output: extracted_text + extracted_meta + document_id + ctx + job."
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Строго придерживайся принципа краткого изложения фактов. Возвращай только краткий текст с изложением фактов (максимум 1200 символов). Если что-то непонятно, укажи это.\\n\\nТекст для краткого изложения:\\n={{ (typeof $json.extracted_text === 'string' ? $json.extracted_text.slice(0, 20000) : '') }}"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        8032,
        8272
      ],
      "id": "8133da05-3a85-49c6-b6f6-bc57cbacce8e",
      "name": "AI — Generate Description (Gemini)",
      "credentials": {
        "googlePalmApi": {
          "id": "4J3UGUqYNZJxtTVa",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Analyze Document node (Gemini) for summary generation from extracted_text. INPUT: unified extracted_text (+binary when available). OUTPUT: Gemini response text/json. WHY: requested replacement of text generation node with document analyzer."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e5f6071-2839-49a5-b6c7-d8e9f0011223",
              "name": "_err.node",
              "value": "AI — Generate Description (Gemini)",
              "type": "string"
            },
            {
              "id": "5f607182-3949-a5b6-c7d8-e9f001122334",
              "name": "_err.operation",
              "value": "generate_description",
              "type": "string"
            },
            {
              "id": "60718293-49a5-b6c7-d8e9-f00112233445",
              "name": "ctx",
              "value": "={{ $('Carry — Pre AI Description').item.json.ctx }}",
              "type": "object"
            },
            {
              "id": "718293a4-a5b6-c7d8-e9f0-011223344556",
              "name": "job",
              "value": "={{ $('Carry — Pre AI Description').item.json.job }}",
              "type": "object"
            },
            {
              "id": "8293a4b5-b6c7-d8e9-f001-122334455667",
              "name": "document_id",
              "value": "={{ $('Carry — Pre AI Description').item.json.document_id }}",
              "type": "number"
            },
            {
              "id": "93a4b5c6-c7d8-e9f0-0112-233445566778",
              "name": "extracted_text",
              "value": "={{ $('Carry — Pre AI Description').item.json.extracted_text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8976,
        10352
      ],
      "id": "cd08d745-d270-449c-86b0-d63bfcbab825",
      "name": "ERR — Source AI Description",
      "notes": "ErrorPipe v1: Capture AI error for description generation. Input: error output. Output: _err.* + ctx + job + document_id + extracted_text + error. WHY includeOtherFields=true: preserve error details."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4b5c6d7-d8e9-f001-1223-344556677889",
              "name": "error_context.kind",
              "value": "upstream",
              "type": "string"
            },
            {
              "id": "b5c6d7e8-e9f0-0112-2334-45566778899a",
              "name": "error_context.message",
              "value": "={{ $json.error?.message || 'AI description generation failed' }}",
              "type": "string"
            },
            {
              "id": "c6d7e8f9-f001-1223-3445-56677889a0b1",
              "name": "error_context.status_code",
              "value": 502,
              "type": "number"
            },
            {
              "id": "d7e8f9a0-0112-2334-4556-6778899a0b1c2",
              "name": "error_context.retryable",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "e8f9a0b1-1223-3445-5667-78899a0b1c2d3",
              "name": "error_context.details.node",
              "value": "={{ $json._err?.node }}",
              "type": "string"
            },
            {
              "id": "f9a0b1c2-2334-4556-6778-899a0b1c2d3e4",
              "name": "error_context.details.operation",
              "value": "={{ $json._err?.operation }}",
              "type": "string"
            },
            {
              "id": "0a1b2c3d-3445-5667-7889-9a0b1c2d3e4f5",
              "name": "error_context.details.document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            },
            {
              "id": "1b2c3d4e-4556-6778-899a-0b1c2d3e4f506",
              "name": "error_context.ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "2c3d4e5f-5667-7889-9a0b-1c2d3e4f50617",
              "name": "error_context.job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9328,
        10368
      ],
      "id": "0c440d67-ddf6-4cab-a685-c7d14f1354c1",
      "name": "ERR — Prepare ErrorPipe v1 (AI Desc)",
      "notes": "Build error_context for AI description failure (upstream error, retryable). Input: err source. Output: error_context.*. WHY includeOtherFields=false: clean envelope."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gcM1ZRVCKVtzJfHOH7OTw",
          "mode": "list",
          "cachedResultUrl": "/workflow/gcM1ZRVCKVtzJfHOH7OTw",
          "cachedResultName": "WF99 — Global ERR Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        9632,
        10400
      ],
      "id": "6c9cc964-3f84-4d0a-b59f-ef55b20f8d00",
      "name": "Execute WF99 (AI Desc)",
      "notes": "Call WF99 for AI description failure. Input: error_context. Output: ErrorEnvelope. WHY: ErrorPipe v1 centralized logging. NO StopAndError after!"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "718293a4-a5b6-c7d8-e9f0-011223344556",
              "name": "description",
              "value": "={{ $json.text || $json.message || $json.response || $json.output || $json.result || $json.candidates?.[0]?.content?.parts?.[0]?.text || \"Summary not available\" }}",
              "type": "string"
            },
            {
              "id": "8293a4b5-b6c7-d8e9-f001-122334455667",
              "name": "extracted_text",
              "value": "={{ $json.extracted_text || $('Carry — Pre AI Description').item.json.extracted_text }}",
              "type": "string"
            },
            {
              "id": "93a4b5c6-c7d8-e9f0-0112-233445566778",
              "name": "document_id",
              "value": "={{ $json.document_id || $('Carry — Pre AI Description').item.json.document_id }}",
              "type": "number"
            },
            {
              "id": "a4b5c6d7-d8e9-f001-1223-344556677889",
              "name": "ctx",
              "value": "={{ $json.ctx || $('Carry — Pre AI Description').item.json.ctx }}",
              "type": "object"
            },
            {
              "id": "b5c6d7e8-e9f0-0112-2334-45566778899a",
              "name": "job",
              "value": "={{ $json.job || $('Carry — Pre AI Description').item.json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8656,
        8464
      ],
      "id": "2b5cc00d-c4d5-4980-bd36-7cc49afa343b",
      "name": "Set — Extract Description from AI Response",
      "notes": "Extract description from AI response and restore carried fields. Input: merged AI+carry item. Output: description + extracted_text + document_id + ctx + job."
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $json.extracted_text }}",
        "dataPropertyName": "hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        8880,
        8480
      ],
      "id": "1a2ce137-93a6-47b2-a60b-4e8b19b94f89",
      "name": "Crypto — Compute SHA256",
      "notes": "Compute SHA256 hash from extracted_text using explicit Value field. INPUT: unified extracted_text. OUTPUT: hash in data. WHY: required field must be explicitly filled."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93a4b5c6-c7d8-e9f0-0112-233445566778",
              "name": "text_sha256_bytea",
              "value": "={{ '\\\\x' + $json.hash }}",
              "type": "string"
            },
            {
              "id": "a4b5c6d7-d8e9-f001-1223-344556677889",
              "name": "description",
              "value": "={{ $json.description || $('Set — Extract Description from AI Response').item.json.description }}",
              "type": "string"
            },
            {
              "id": "b5c6d7e8-e9f0-0112-2334-45566778899a",
              "name": "extracted_text",
              "value": "={{ $json.extracted_text || $('Set — Extract Description from AI Response').item.json.extracted_text || $('Carry — Pre AI Description').item.json.extracted_text }}",
              "type": "string"
            },
            {
              "id": "c6d7e8f9-f001-1223-3445-56677889a0b1",
              "name": "document_id",
              "value": "={{ $json.document_id || $('Set — Extract Description from AI Response').item.json.document_id || $('Carry — Pre AI Description').item.json.document_id }}",
              "type": "number"
            },
            {
              "id": "d7e8f9a0-0112-2334-4556-6778899a0b1c2",
              "name": "ctx",
              "value": "={{ $json.ctx || $('Set — Extract Description from AI Response').item.json.ctx || $('Carry — Pre AI Description').item.json.ctx }}",
              "type": "object"
            },
            {
              "id": "e8f9a0b1-1223-3445-5667-78899a0b1c2d3",
              "name": "job",
              "value": "={{ $json.job || $('Set — Extract Description from AI Response').item.json.job || $('Carry — Pre AI Description').item.json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9120,
        8480
      ],
      "id": "0c768ceb-a635-47b7-ab82-426077d403b8",
      "name": "Set — Prepare Bytea Format",
      "notes": "Convert hash to Postgres bytea format (\\\\x prefix). Restore description/extracted_text/document_id/ctx/job. Input: hash + description + extracted_text + document_id + ctx + job. Output: text_sha256_bytea + all. WHY: Postgres bytea requires \\\\x prefix."
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "content",
          "mode": "list",
          "cachedResultName": "content"
        },
        "table": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $json.extracted_text }}",
            "description": "={{ $json.description }}",
            "text_sha256": "={{ $json.text_sha256_bytea }}",
            "status": "succeeded",
            "id": "={{ $json.document_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "text_sha256",
              "displayName": "text_sha256",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "pending",
                  "value": "pending"
                },
                {
                  "name": "succeeded",
                  "value": "succeeded"
                },
                {
                  "name": "failed",
                  "value": "failed"
                }
              ]
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        9376,
        8256
      ],
      "id": "93d13dab-9b2c-4efa-8661-96a9bbf9582e",
      "name": "DB — Update Document (Success)",
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Update content.documents: text, description, text_sha256, status=succeeded. Match by id. Input: text_sha256_bytea + description + extracted_text + document_id + ctx + job. Output: updated row. WHY AOD=OFF: need error output. WHY update op: no dynamic SQL."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5c6d7e8-e9f0-0112-2334-45566778899a",
              "name": "_err.node",
              "value": "DB — Update Document (Success)",
              "type": "string"
            },
            {
              "id": "c6d7e8f9-f001-1223-3445-56677889a0b1",
              "name": "_err.operation",
              "value": "update",
              "type": "string"
            },
            {
              "id": "d7e8f9a0-0112-2334-4556-6778899a0b1c2",
              "name": "_err.table",
              "value": "content.documents",
              "type": "string"
            },
            {
              "id": "e8f9a0b1-1223-3445-5667-78899a0b1c2d3",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "f9a0b1c2-2334-4556-6778-899a0b1c2d3e4",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            },
            {
              "id": "0a1b2c3d-3445-5667-7889-9a0b1c2d3e4f5",
              "name": "document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9824,
        10064
      ],
      "id": "b0db688e-d54a-4853-b134-a64d57141d78",
      "name": "ERR — Source DB Update Doc",
      "notes": "ErrorPipe v1: Capture DB error for Update Document. Input: error output. Output: _err.* + ctx + job + document_id + error. WHY includeOtherFields=true: preserve error details."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6d7e8f9-f001-1223-3445-56677889a0b1",
              "name": "error_context.kind",
              "value": "db",
              "type": "string"
            },
            {
              "id": "d7e8f9a0-0112-2334-4556-6778899a0b1c2",
              "name": "error_context.message",
              "value": "={{ $json.error?.message || 'Failed to update document' }}",
              "type": "string"
            },
            {
              "id": "e8f9a0b1-1223-3445-5667-78899a0b1c2d3",
              "name": "error_context.status_code",
              "value": 500,
              "type": "number"
            },
            {
              "id": "f9a0b1c2-2334-4556-6778-899a0b1c2d3e4",
              "name": "error_context.retryable",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "0a1b2c3d-3445-5667-7889-9a0b1c2d3e4f5",
              "name": "error_context.details.node",
              "value": "={{ $json._err?.node }}",
              "type": "string"
            },
            {
              "id": "1b2c3d4e-4556-6778-899a-0b1c2d3e4f506",
              "name": "error_context.details.operation",
              "value": "={{ $json._err?.operation }}",
              "type": "string"
            },
            {
              "id": "2c3d4e5f-5667-7889-9a0b-1c2d3e4f50617",
              "name": "error_context.details.table",
              "value": "={{ $json._err?.table }}",
              "type": "string"
            },
            {
              "id": "3d4e5f60-6778-899a-0b1c-2d3e4f5061728",
              "name": "error_context.details.document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            },
            {
              "id": "4e5f6071-7889-9a0b-1c2d-3e4f506172839",
              "name": "error_context.ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "5f607182-899a-0b1c-2d3e-4f5061728394a",
              "name": "error_context.job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10112,
        10064
      ],
      "id": "79536ee0-2792-42aa-b0b2-01dfc7f23871",
      "name": "ERR — Prepare ErrorPipe v1 (DB Update)",
      "notes": "Build error_context for DB Update Document failure (DB error, retryable). Input: err source. Output: error_context.*. WHY includeOtherFields=false: clean envelope."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gcM1ZRVCKVtzJfHOH7OTw",
          "mode": "list",
          "cachedResultUrl": "/workflow/gcM1ZRVCKVtzJfHOH7OTw",
          "cachedResultName": "WF99 — Global ERR Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        10352,
        10064
      ],
      "id": "e6939477-2e50-44ca-8299-e08163453559",
      "name": "Execute WF99 (DB Update)",
      "notes": "Call WF99 for DB Update Document failure. Input: error_context. Output: ErrorEnvelope. WHY: ErrorPipe v1 centralized logging. NO StopAndError after!"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        9680,
        8480
      ],
      "id": "17460de2-1838-4ce9-8628-389c3f843f5c",
      "name": "Merge — Restore CTX after DB Update",
      "notes": "Restore ctx/job after DB Update (Carry pattern via Merge). Input1: DB result, Input2: ctx/job from Set Prepare Bytea Format. Output: updated document.* + ctx + job. WHY: Postgres overwrites item."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9a0b1c2-2334-4556-6778-899a0b1c2d3e4",
              "name": "enqueue_payload.document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            },
            {
              "id": "0a1b2c3d-3445-5667-7889-9a0b1c2d3e4f5",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "1b2c3d4e-4556-6778-899a-0b1c2d3e4f506",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9920,
        8704
      ],
      "id": "3349e32b-3b82-4bf5-bbad-6e4c116bb689",
      "name": "Set — Prepare Enqueue Payload",
      "notes": "Build enqueue_payload object for chunk_document job. No object literals (use dotNotation). Input: updated document + ctx + job. Output: enqueue_payload.document_id + ctx + job. WHY: prepare for ops.jobs insert."
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "ops",
          "mode": "list",
          "cachedResultName": "ops"
        },
        "table": {
          "__rl": true,
          "value": "jobs",
          "mode": "list",
          "cachedResultName": "jobs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $json.ctx.tenant_id }}",
            "job_type": "chunk_document",
            "payload": "={{ $json.enqueue_payload }}",
            "correlation_id": "={{ $json.ctx.correlation_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_type",
              "displayName": "job_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "chunk_document",
                  "value": "chunk_document"
                },
                {
                  "name": "embed_chunks",
                  "value": "embed_chunks"
                },
                {
                  "name": "extract_text",
                  "value": "extract_text"
                },
                {
                  "name": "fetch_tg_file",
                  "value": "fetch_tg_file"
                },
                {
                  "name": "fetch_url",
                  "value": "fetch_url"
                }
              ]
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        10176,
        8560
      ],
      "id": "67271edf-0a1e-40a6-872c-bfc7e5239cf8",
      "name": "DB — Enqueue chunk_document Job",
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Insert chunk_document job in ops.jobs. Payload is object (not string). Input: enqueue_payload + ctx + job. Output: inserted row. WHY AOD=OFF: need error output. WHY insert op: no dynamic SQL."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b2c3d4e-4556-6778-899a-0b1c2d3e4f506",
              "name": "_err.node",
              "value": "DB — Enqueue chunk_document Job",
              "type": "string"
            },
            {
              "id": "2c3d4e5f-5667-7889-9a0b-1c2d3e4f50617",
              "name": "_err.operation",
              "value": "insert",
              "type": "string"
            },
            {
              "id": "3d4e5f60-6778-899a-0b1c-2d3e4f5061728",
              "name": "_err.table",
              "value": "ops.jobs",
              "type": "string"
            },
            {
              "id": "4e5f6071-7889-9a0b-1c2d-3e4f506172839",
              "name": "ctx",
              "value": "={{ $('Set — Prepare Enqueue Payload').item.json.ctx }}",
              "type": "object"
            },
            {
              "id": "5f607182-899a-0b1c-2d3e-4f5061728394a",
              "name": "job",
              "value": "={{ $('Set — Prepare Enqueue Payload').item.json.job }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10720,
        10096
      ],
      "id": "4c82d29c-5162-457f-9d0b-a1fb27e5071d",
      "name": "ERR — Source DB Enqueue",
      "notes": "ErrorPipe v1: Capture DB error for Enqueue chunk_document. Input: error output. Output: _err.* + ctx + job + error. WHY includeOtherFields=true: preserve error details."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c3d4e5f-5667-7889-9a0b-1c2d3e4f50617",
              "name": "error_context.kind",
              "value": "db",
              "type": "string"
            },
            {
              "id": "3d4e5f60-6778-899a-0b1c-2d3e4f5061728",
              "name": "error_context.message",
              "value": "={{ $json.error?.message || 'Failed to enqueue chunk_document job' }}",
              "type": "string"
            },
            {
              "id": "4e5f6071-7889-9a0b-1c2d-3e4f506172839",
              "name": "error_context.status_code",
              "value": 500,
              "type": "number"
            },
            {
              "id": "5f607182-899a-0b1c-2d3e-4f5061728394a",
              "name": "error_context.retryable",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "607182939-a0b1-c2d3-e4f5-061728394a5b6",
              "name": "error_context.details.node",
              "value": "={{ $json._err?.node }}",
              "type": "string"
            },
            {
              "id": "718293a4b-b1c2-d3e4-f506-1728394a5b6c7",
              "name": "error_context.details.operation",
              "value": "={{ $json._err?.operation }}",
              "type": "string"
            },
            {
              "id": "8293a4b5c-c2d3-e4f5-0617-28394a5b6c7d8",
              "name": "error_context.details.table",
              "value": "={{ $json._err?.table }}",
              "type": "string"
            },
            {
              "id": "93a4b5c6d-d3e4-f506-1728-394a5b6c7d8e9",
              "name": "error_context.ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "a4b5c6d7e-e4f5-0617-2839-4a5b6c7d8e9f0",
              "name": "error_context.job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11024,
        10112
      ],
      "id": "ac512ac4-a83a-484b-a665-fb2fe149ee22",
      "name": "ERR — Prepare ErrorPipe v1 (DB Enqueue)",
      "notes": "Build error_context for DB Enqueue failure (DB error, retryable). Input: err source. Output: error_context.*. WHY includeOtherFields=false: clean envelope."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gcM1ZRVCKVtzJfHOH7OTw",
          "mode": "list",
          "cachedResultUrl": "/workflow/gcM1ZRVCKVtzJfHOH7OTw",
          "cachedResultName": "WF99 — Global ERR Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        11264,
        10112
      ],
      "id": "abada27d-d49c-4cb6-90fd-e195d55d8a1e",
      "name": "Execute WF99 (DB Enqueue)",
      "notes": "Call WF99 for DB Enqueue failure. Input: error_context. Output: ErrorEnvelope. WHY: ErrorPipe v1 centralized logging. NO StopAndError after!"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        10560,
        8816
      ],
      "id": "94bc6cd1-9c50-419a-b702-716df9cddbd1",
      "name": "Merge — Restore CTX after Enqueue",
      "notes": "Restore ctx/job after DB Enqueue (Carry pattern via Merge). Input1: DB result, Input2: ctx/job from Set Prepare Enqueue Payload. Output: enqueued job.* + ctx + job. WHY: Postgres overwrites item."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f607182-899a-0b1c-2d3e-4f5061728394a",
              "name": "ok",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "607182939-a0b1-c2d3-e4f5-061728394a5b6",
              "name": "status_code",
              "value": 200,
              "type": "number"
            },
            {
              "id": "718293a4b-b1c2-d3e4-f506-1728394a5b6c7",
              "name": "ctx",
              "value": "={{ $('Set — Prepare Enqueue Payload').item.json.ctx }}",
              "type": "object"
            },
            {
              "id": "8293a4b5c-c2d3-e4f5-0617-28394a5b6c7d8",
              "name": "result.document_id",
              "value": "={{ $('Set — Prepare Enqueue Payload').item.json.enqueue_payload.document_id }}",
              "type": "number"
            },
            {
              "id": "93a4b5c6d-d3e4-f506-1728-394a5b6c7d8e9",
              "name": "result.extracted",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "a4b5c6d7e-e4f5-0617-2839-4a5b6c7d8e9f0",
              "name": "result.enqueued_chunk_job",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10848,
        9376
      ],
      "id": "c890727f-c93f-4d14-940d-ed14ffab7c61",
      "name": "OUT — Success Envelope",
      "notes": "Build SuccessEnvelope for WF90. ok=true, status_code=200, ctx preserved, result with document_id/extracted/enqueued_chunk_job. Input: enqueued job + ctx. Output: SuccessEnvelope. WHY: contract compliance."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        11424,
        9664
      ],
      "id": "0cf1702a-39b0-4215-a3ed-f16e0830a549",
      "name": "Merge — Final (Success + All Errors)",
      "notes": "Merge all paths: success (OUT — Success Envelope) + all error paths (WF99 outputs). PassThrough mode merges first available. Input0: success, Input1-6: error paths. Output: first available item. WHY: combine all branches."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "file-doc",
              "name": "document_id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "file-fuid",
              "name": "file_unique_id",
              "value": "={{ $json.file_unique_id }}",
              "type": "string"
            },
            {
              "id": "file-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "file-job",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2832,
        8688
      ],
      "id": "d8c02b83-5033-4f1b-9a12-ef2a76100823",
      "name": "Set — File Ref from Document",
      "notes": "Build file reference and unified carry fields from content.documents row. Input: document + ctx + job. Output: file_unique_id + document_id + ctx + job."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "url-doc",
              "name": "document_id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "url-text",
              "name": "extracted_text",
              "value": "",
              "type": "string"
            },
            {
              "id": "url-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "url-job",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            },
            {
              "id": "url-meta",
              "name": "extracted_meta.reason",
              "value": "url_not_implemented",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2832,
        8880
      ],
      "id": "37fa4a89-8aed-4f22-bd0a-e5d7062d29d3",
      "name": "Set — URL Placeholder Unified",
      "notes": "URL extraction placeholder unified output: extracted_text empty with reason marker. Keeps pipeline deterministic until URL extractor workflow is implemented."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1392,
        9600
      ],
      "id": "950306b1-d605-4154-83fe-11c33389899b",
      "name": "TEST — Manual Trigger",
      "notes": "Manual test entrypoint for T1/T2/T3 fixture seeding and execution through production path."
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    test_case: 'T1',\n    ctx: {\n      tenant_id: '00000000-0000-0000-0000-000000000331',\n      correlation_id: '33111111-1111-1111-1111-111111111111',\n      job_id: 331001,\n      workflow: 'WF33-TEST',\n      contracts: { errorpipe: 1 }\n    },\n    job: {\n      id: 331001,\n      tenant_id: '00000000-0000-0000-0000-000000000331',\n      job_type: 'extract_text',\n      correlation_id: '33111111-1111-1111-1111-111111111111',\n      payload: { document_id: 331001 }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        9632
      ],
      "id": "f59ade69-1cbc-4362-921e-1e38703a5b08",
      "name": "TEST — Build Worker Requests",
      "notes": "Single worker request item (T1) to prevent combinatorial growth in test execution path."
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "tg",
          "mode": "list",
          "cachedResultName": "tg"
        },
        "table": {
          "__rl": true,
          "value": "files",
          "mode": "list",
          "cachedResultName": "files"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "file_unique_id",
              "value": "={{ $json.file_unique_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3120,
        8544
      ],
      "id": "3d716afb-e671-46f1-a45d-b81bf6b208d0",
      "name": "DB — Select tg.files by file_unique_id",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Load tg.files by file_unique_id to resolve sha256/mime/file_name for blob lookup."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3312,
        8704
      ],
      "id": "bdb86e45-a4ab-44ad-81f7-4b04d05bc352",
      "name": "Merge — Restore CTX after tg.files",
      "notes": "Carry/restore after tg.files select overwrite."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "wf33-file-has-sha",
              "leftValue": "={{ $json.sha256 }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3504,
        8784
      ],
      "id": "6bacb222-c4a5-40f1-bc18-a5a4f99afc0f",
      "name": "GUARD — File Has sha256",
      "notes": "Require sha256 in tg.files to locate blob object."
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "content",
          "mode": "list",
          "cachedResultName": "content"
        },
        "table": {
          "__rl": true,
          "value": "blob_objects",
          "mode": "list",
          "cachedResultName": "blob_objects"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "sha256",
              "value": "={{ $json.sha256 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3728,
        8528
      ],
      "id": "526b0679-de61-4102-896a-4dc913243300",
      "name": "DB — Select blob_objects by sha256",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Lookup blob object by sha256 to get storage_key."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4064,
        8560
      ],
      "id": "7952fc07-c9b8-4fd3-88a1-d70ad81ee907",
      "name": "Merge — Restore CTX after blob lookup",
      "notes": "Carry/restore after blob_objects select overwrite."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "wf33-file-has-key",
              "leftValue": "={{ $json.storage_key }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4272,
        8624
      ],
      "id": "c5a2b91c-4cbc-4951-9bc5-03719062c063",
      "name": "GUARD — Blob Has storage_key",
      "notes": "Require blob storage_key before S3 download."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4752,
        8608
      ],
      "id": "2c647f55-53c0-430c-bb9d-f25846a26371",
      "name": "Merge — Restore CTX after S3",
      "notes": "Carry/restore after S3 download overwrite."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-file-ext",
              "name": "file_ext",
              "value": "={{ \"\" }}",
              "type": "string"
            },
            {
              "id": "wf33-file-mime",
              "name": "file_mime",
              "value": "={{ (($binary.data.mimeType || $json.mime_type || \"\").toLowerCase()) }}",
              "type": "string"
            },
            {
              "id": "wf33-file-docid",
              "name": "document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            },
            {
              "id": "wf33-file-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-file-job",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5008,
        8608
      ],
      "id": "0dff2d2c-3c08-4ecf-8cfb-f7a16e3e82a2",
      "name": "Set — Detect File Type",
      "notes": "Read MIME from S3 binary metadata ($binary.data.mimeType) for routing. Keep ctx/job/document_id + binary."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.file_mime || \"\").toLowerCase().includes(\"pdf\") }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "wf33-sw-pdf"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.file_mime || \"\").toLowerCase().startsWith(\"text/\") }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "wf33-sw-text"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.file_mime || \"\").toLowerCase().includes(\"csv\") }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "wf33-sw-csv"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "csv"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.file_mime || \"\").toLowerCase().includes(\"html\") }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "wf33-sw-html"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "html"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.file_mime || \"\").toLowerCase().includes(\"json\") }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "wf33-sw-json"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "json"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.file_mime || \"\").toLowerCase().includes(\"calendar\") || ($json.file_mime || \"\").toLowerCase().includes(\"ics\") }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "wf33-sw-ics"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ics"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.file_mime || \"\").toLowerCase().includes(\"rtf\") }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "wf33-sw-rtf"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "rtf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.file_mime || \"\").toLowerCase().includes(\"spreadsheetml.sheet\") }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "wf33-sw-xlsx"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "xlsx"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.file_mime || \"\").toLowerCase().includes(\"ms-excel\") }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "wf33-sw-xls"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "xls"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.file_mime || \"\").toLowerCase().includes(\"opendocument.spreadsheet\") }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "wf33-sw-ods"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ods"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.file_mime || \"\").toLowerCase().includes(\"word\") || ($json.file_mime || \"\").toLowerCase().includes(\"presentation\") || ($json.file_mime || \"\").toLowerCase().includes(\"msword\") || ($json.file_mime || \"\").toLowerCase().includes(\"officedocument\") }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "wf33-sw-conv"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "convert"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        5232,
        8640
      ],
      "id": "6c5f7507-4612-42fd-8d5c-02dcd61a2baf",
      "name": "SWITCH — Route by File Type",
      "notes": "Switch by MIME from S3 download binary metadata ($binary.data.mimeType), aligned with WF42 Media Kind Router pattern. No file-name/extension routing."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-extract-txt",
              "name": "extracted_text",
              "value": "={{ typeof $json.text === \"string\" ? $json.text : (typeof $json.data === \"string\" ? $json.data : JSON.stringify($json)) }}",
              "type": "string"
            },
            {
              "id": "wf33-extract-meta",
              "name": "extracted_meta.extract_source",
              "value": "extract_from_file",
              "type": "string"
            },
            {
              "id": "wf33-extract-docid",
              "name": "document_id",
              "value": "={{ $json.document_id || $('Merge — Restore CTX after S3').item.json.document_id }}",
              "type": "number"
            },
            {
              "id": "wf33-extract-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx || $('Merge — Restore CTX after S3').item.json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-extract-job",
              "name": "job",
              "value": "={{ $json.job || $('Merge — Restore CTX after S3').item.json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5952,
        8400
      ],
      "id": "1a3229d8-dc55-43e5-aa2b-04118ce68a88",
      "name": "Set — Unified from Extract",
      "notes": "Map any Extract From File output shape to unified extracted_text deterministically; fallback to JSON.stringify for table-like outputs."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-exterr-node",
              "name": "_err.node",
              "value": "{{ $json.error?.node?.name || 'Extract — (unknown)' }}",
              "type": "string"
            },
            {
              "id": "wf33-exterr-op",
              "name": "_err.operation",
              "value": "extract",
              "type": "string"
            },
            {
              "id": "wf33-exterr-table",
              "name": "_err.table",
              "value": "",
              "type": "string"
            },
            {
              "id": "wf33-exterr-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx || $('Merge — Restore CTX after S3').item.json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-exterr-job",
              "name": "job",
              "value": "={{ $json.job || $('Merge — Restore CTX after S3').item.json.job }}",
              "type": "object"
            },
            {
              "id": "wf33-exterr-docid",
              "name": "document_id",
              "value": "={{ $json.document_id || $('Merge — Restore CTX after S3').item.json.document_id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5904,
        9120
      ],
      "id": "6bcac47f-b7b4-4ff2-99ff-f618628fb245",
      "name": "ERR — Source Extract File",
      "notes": "Capture extractor error details for unsupported/fatal routing."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "wf33-unsupported",
              "leftValue": "={{ ((($json.error?.message||\"\")+\" \"+($json.error?.description||\"\")).toLowerCase().includes(\"unsupported\") || (($json.error?.message||\"\")+\" \"+($json.error?.description||\"\")).toLowerCase().includes(\"not support\")) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6080,
        9120
      ],
      "id": "026ab1b0-2448-4ac3-b5ad-02b968efe483",
      "name": "IF — Extract Error Is Unsupported",
      "notes": "Expected unsupported-type errors route to converter; other errors go to WF99."
    },
    {
      "parameters": {},
      "type": "@mazix/n8n-nodes-converter-documents.convertFileToJson",
      "typeVersion": 5,
      "position": [
        6464,
        8864
      ],
      "id": "7cfcef92-17e9-432d-982f-b4ce8dfdcd71",
      "name": "Convert — File To Json",
      "retryOnFail": true,
      "onError": "continueErrorOutput",
      "notes": "Fallback extraction for pptx and unsupported formats via converter community node."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-conv-unified-text",
              "name": "extracted_text",
              "value": "={{ typeof $json === \"string\" ? $json : JSON.stringify($json) }}",
              "type": "string"
            },
            {
              "id": "wf33-conv-unified-meta-src",
              "name": "extracted_meta.extract_source",
              "value": "convert_file_to_json",
              "type": "string"
            },
            {
              "id": "wf33-conv-unified-meta-json",
              "name": "extracted_meta.converted_json",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "wf33-conv-unified-doc",
              "name": "document_id",
              "value": "={{ $json.document_id || $(\"Carry — Pre Convert File\").item.json.document_id }}",
              "type": "number"
            },
            {
              "id": "wf33-conv-unified-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx || $(\"Carry — Pre Convert File\").item.json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-conv-unified-job",
              "name": "job",
              "value": "={{ $json.job || $(\"Carry — Pre Convert File\").item.json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6832,
        8864
      ],
      "id": "8e6ba823-6dbe-4eae-b79f-653d041a0e2a",
      "name": "Set — Unified from Convert",
      "notes": "Map Convert File To Json output to unified extraction contract without Code. Input: converted JSON + restored ctx/job/document_id. Output: extracted_text JSON string + extracted_meta.converted_json + context fields."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-conv-node",
              "name": "_err.node",
              "value": "Convert — File To Json",
              "type": "string"
            },
            {
              "id": "wf33-conv-op",
              "name": "_err.operation",
              "value": "convert",
              "type": "string"
            },
            {
              "id": "wf33-conv-table",
              "name": "_err.table",
              "value": "",
              "type": "string"
            },
            {
              "id": "wf33-conv-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx || $('Carry — Pre Convert File').item.json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-conv-job",
              "name": "job",
              "value": "={{ $json.job || $('Carry — Pre Convert File').item.json.job }}",
              "type": "object"
            },
            {
              "id": "wf33-conv-doc",
              "name": "document_id",
              "value": "={{ $json.document_id || $('Carry — Pre Convert File').item.json.document_id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7520,
        10816
      ],
      "id": "28a0c8e7-ad30-48b7-a3b0-30e90295c12d",
      "name": "ERR — Source Convert File",
      "notes": "Capture converter errors for ErrorPipe."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        7008,
        8672
      ],
      "id": "38b0fea0-f269-4914-a9bf-0c28b381162b",
      "name": "Merge — File Extract Unified",
      "notes": "Merge extraction outputs using append mode (valid in current n8n build). Input: Extract/Convert/AI-fallback unified items. Output: single extracted stream."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-fileio-kind",
              "name": "error_context.kind",
              "value": "={{ $json._err?.operation === \"validate_file_ref\" ? \"business\" : \"io\" }}",
              "type": "string"
            },
            {
              "id": "wf33-fileio-msg",
              "name": "error_context.message",
              "value": "={{ $json.error?.message || ($json._err?.operation === \"validate_file_ref\" ? \"File/blob reference missing\" : \"File extraction I/O failed\") }}",
              "type": "string"
            },
            {
              "id": "wf33-fileio-status",
              "name": "error_context.status_code",
              "value": "={{ $json._err?.operation === \"validate_file_ref\" ? 404 : 500 }}",
              "type": "number"
            },
            {
              "id": "wf33-fileio-retry",
              "name": "error_context.retryable",
              "value": "={{ $json._err?.operation === \"validate_file_ref\" ? false : true }}",
              "type": "boolean"
            },
            {
              "id": "wf33-fileio-node",
              "name": "error_context.details.node",
              "value": "={{ $json._err?.node }}",
              "type": "string"
            },
            {
              "id": "wf33-fileio-op",
              "name": "error_context.details.operation",
              "value": "={{ $json._err?.operation }}",
              "type": "string"
            },
            {
              "id": "wf33-fileio-table",
              "name": "error_context.details.table",
              "value": "={{ $json._err?.table }}",
              "type": "string"
            },
            {
              "id": "wf33-fileio-doc",
              "name": "error_context.details.document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            },
            {
              "id": "wf33-fileio-ctx",
              "name": "error_context.ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-fileio-job",
              "name": "error_context.job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10912,
        11024
      ],
      "id": "1635bfbc-18ac-4e55-8f78-2699200822b1",
      "name": "ERR — Prepare ErrorPipe v1 (File I/O)",
      "notes": "Prepare ErrorPipe payload for all file path DB/S3/extractor/converter errors."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gcM1ZRVCKVtzJfHOH7OTw",
          "mode": "list",
          "cachedResultUrl": "/workflow/gcM1ZRVCKVtzJfHOH7OTw",
          "cachedResultName": "WF99 — Global ERR Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        11152,
        11024
      ],
      "id": "bb4bcdc5-92d9-4fd7-86a4-0860ce42c755",
      "name": "Execute WF99 (File I/O)",
      "notes": "Call WF99 for file extraction failures and return ErrorEnvelope."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-dbf-node",
              "name": "_err.node",
              "value": "DB — Select tg.files by file_unique_id",
              "type": "string"
            },
            {
              "id": "wf33-dbf-op",
              "name": "_err.operation",
              "value": "select",
              "type": "string"
            },
            {
              "id": "wf33-dbf-table",
              "name": "_err.table",
              "value": "tg.files",
              "type": "string"
            },
            {
              "id": "wf33-dbf-ctx",
              "name": "ctx",
              "value": "={{ $('Set — File Ref from Document').item.json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-dbf-job",
              "name": "job",
              "value": "={{ $('Set — File Ref from Document').item.json.job }}",
              "type": "object"
            },
            {
              "id": "wf33-dbf-doc",
              "name": "document_id",
              "value": "={{ $('Set — File Ref from Document').item.json.document_id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3984,
        9888
      ],
      "id": "da51e536-ee06-4bb6-87b1-41d7e6197c1b",
      "name": "ERR — Source DB File Ref",
      "notes": "Error source for tg.files lookup failure."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-dbb-node",
              "name": "_err.node",
              "value": "DB — Select blob_objects by sha256",
              "type": "string"
            },
            {
              "id": "wf33-dbb-op",
              "name": "_err.operation",
              "value": "select",
              "type": "string"
            },
            {
              "id": "wf33-dbb-table",
              "name": "_err.table",
              "value": "content.blob_objects",
              "type": "string"
            },
            {
              "id": "wf33-dbb-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-dbb-job",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            },
            {
              "id": "wf33-dbb-doc",
              "name": "document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5152,
        10112
      ],
      "id": "91c2baad-b80d-4489-bc45-4e2c7434f743",
      "name": "ERR — Source DB Blob Ref",
      "notes": "Error source for blob_objects lookup failure."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-miss-node",
              "name": "_err.node",
              "value": "GUARD — File Has sha256 / Blob Has storage_key",
              "type": "string"
            },
            {
              "id": "wf33-miss-op",
              "name": "_err.operation",
              "value": "validate_file_ref",
              "type": "string"
            },
            {
              "id": "wf33-miss-table",
              "name": "_err.table",
              "value": "tg.files/content.blob_objects",
              "type": "string"
            },
            {
              "id": "wf33-miss-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-miss-job",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            },
            {
              "id": "wf33-miss-doc",
              "name": "document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4912,
        10112
      ],
      "id": "24dc560e-3191-4076-b915-6f3620f576cf",
      "name": "ERR — Source Missing File Ref",
      "notes": "Managed error source when file/blob references are absent."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-s3-node",
              "name": "_err.node",
              "value": "S3 — Download Source File",
              "type": "string"
            },
            {
              "id": "wf33-s3-op",
              "name": "_err.operation",
              "value": "download",
              "type": "string"
            },
            {
              "id": "wf33-s3-table",
              "name": "_err.table",
              "value": "",
              "type": "string"
            },
            {
              "id": "wf33-s3-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-s3-job",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            },
            {
              "id": "wf33-s3-doc",
              "name": "document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5664,
        9792
      ],
      "id": "d8c62db8-ec2b-489f-a6a8-80f8a46138f4",
      "name": "ERR — Source S3 Download",
      "notes": "Error source for S3 download failure."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        7248,
        8608
      ],
      "id": "d48b3bea-2d81-4878-a180-e07e516af6f5",
      "name": "Merge — Unified Extracted Text",
      "notes": "Join message/file/url branches into unified extraction item shape."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "wf33-if-extracted",
              "leftValue": "={{ ($json.extracted_text || \"\").trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7744,
        8624
      ],
      "id": "40a2d56e-6476-49c8-af98-eb8c0d87c62f",
      "name": "GUARD — Extracted Text NonEmpty",
      "notes": "Proceed to AI only when extracted_text is non-empty; otherwise return deterministic skipped success."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-skip-ok",
              "name": "ok",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "wf33-skip-code",
              "name": "status_code",
              "value": 200,
              "type": "number"
            },
            {
              "id": "wf33-skip-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-skip-doc",
              "name": "result.document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            },
            {
              "id": "wf33-skip-ext",
              "name": "result.extracted",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "wf33-skip-r",
              "name": "result.skipped_reason",
              "value": "empty_extracted_text",
              "type": "string"
            },
            {
              "id": "wf33-skip-enq",
              "name": "result.enqueued_chunk_job",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8032,
        8768
      ],
      "id": "3d56aee6-c891-44f2-9a10-ae79b2aca67a",
      "name": "OUT — Success Envelope (Skipped Empty)",
      "notes": "Return deterministic success when extracted_text is empty (message/file/url) and skip enqueue."
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    tenant_id: '00000000-0000-0000-0000-000000000331',\n    file_unique_id: 'wf33_t1_file_unique_id',\n    file_name: 'sample_document.xlsx',\n    mime_type: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document',\n    sha256_bytea: '\\\\x1111111111111111111111111111111111111111111111111111111111111111',\n    storage_key: 'test/media/sample_document.xlsx',\n    document_id: 331001\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "id": "7ccbfc8f-ad1f-4e67-886f-d574244d246f",
      "name": "TEST — Build Fixtures",
      "position": [
        1696,
        9488
      ],
      "notes": "Single fixture item (T1) to avoid test-item multiplication in merge chains. Seeds tenant/file/blob/document for one real extraction run."
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "core",
          "mode": "list",
          "cachedResultName": "core"
        },
        "table": {
          "__rl": true,
          "value": "tenants",
          "mode": "list",
          "cachedResultName": "tenants"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.tenant_id }}",
            "name": "WF33_TEST_TENANT",
            "is_active": true,
            "meta": {}
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "is_active",
              "displayName": "is_active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "meta",
              "displayName": "meta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "id": "b6aafdcc-872c-4592-9598-37da0bbf093a",
      "name": "TEST — DB Upsert Tenant",
      "position": [
        1888,
        9344
      ],
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Ensure test tenant exists for FK constraints. Input: fixture item. Output: tenant row upsert result."
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "tg",
          "mode": "list",
          "cachedResultName": "tg"
        },
        "table": {
          "__rl": true,
          "value": "files",
          "mode": "list",
          "cachedResultName": "files"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "file_unique_id": "={{ $('TEST — Build Fixtures').item.json.file_unique_id }}",
            "file_type": "document",
            "mime_type": "={{ $('TEST — Build Fixtures').item.json.mime_type }}",
            "file_name": "={{ $('TEST — Build Fixtures').item.json.file_name }}",
            "file_size": 1024,
            "sha256": "={{ $('TEST — Build Fixtures').item.json.sha256_bytea }}",
            "meta": {}
          },
          "matchingColumns": [
            "file_unique_id"
          ],
          "schema": [
            {
              "id": "file_unique_id",
              "displayName": "file_unique_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_type",
              "displayName": "file_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "mime_type",
              "displayName": "mime_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "file_size",
              "displayName": "file_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "sha256",
              "displayName": "sha256",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "meta",
              "displayName": "meta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "id": "64e1a96a-b3d7-4590-bc59-0781aa19d413",
      "name": "TEST — DB Upsert tg.files",
      "position": [
        2080,
        9504
      ],
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Seed tg.files rows used by content.documents.file_unique_id FK and sha256->blob mapping."
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "content",
          "mode": "list",
          "cachedResultName": "content"
        },
        "table": {
          "__rl": true,
          "value": "blob_objects",
          "mode": "list",
          "cachedResultName": "blob_objects"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sha256": "={{ $('TEST — Build Fixtures').item.json.sha256_bytea }}",
            "byte_size": "=1024",
            "storage_key": "={{ $('TEST — Build Fixtures').item.json.storage_key }}",
            "storage_kind": "s3",
            "meta": "{}"
          },
          "matchingColumns": [
            "sha256"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sha256",
              "displayName": "sha256",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "byte_size",
              "displayName": "byte_size",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "storage_kind",
              "displayName": "storage_kind",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "storage_key",
              "displayName": "storage_key",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "meta",
              "displayName": "meta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "id": "80485c1c-2af7-4af5-985b-7615f1d40412",
      "name": "TEST — DB Upsert blob_objects",
      "position": [
        2336,
        9344
      ],
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Seed content.blob_objects with S3 storage_key for extractor file download."
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "content",
          "mode": "list",
          "cachedResultName": "content"
        },
        "table": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('TEST — Build Fixtures').item.json.document_id }}",
            "tenant_id": "={{ $('TEST — Build Fixtures').item.json.tenant_id }}",
            "doc_type": "file",
            "file_unique_id": "={{ $('TEST — Build Fixtures').item.json.file_unique_id }}",
            "status": "pending",
            "title": "WF33_TEST"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "doc_type",
              "displayName": "doc_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "voice",
                  "value": "voice"
                },
                {
                  "name": "url",
                  "value": "url"
                },
                {
                  "name": "file",
                  "value": "file"
                },
                {
                  "name": "message",
                  "value": "message"
                }
              ]
            },
            {
              "id": "visibility",
              "displayName": "visibility",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "admin_only",
                  "value": "admin_only"
                },
                {
                  "name": "dm_private",
                  "value": "dm_private"
                },
                {
                  "name": "group",
                  "value": "group"
                }
              ],
              "removed": true
            },
            {
              "id": "dm_owner_user_id",
              "displayName": "dm_owner_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "message_version_id",
              "displayName": "message_version_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "file_unique_id",
              "displayName": "file_unique_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url_id",
              "displayName": "url_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source_created_at",
              "displayName": "source_created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "text_sha256",
              "displayName": "text_sha256",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "token_count",
              "displayName": "token_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "failed",
                  "value": "failed"
                },
                {
                  "name": "succeeded",
                  "value": "succeeded"
                },
                {
                  "name": "pending",
                  "value": "pending"
                }
              ]
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "meta",
              "displayName": "meta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "id": "1c94fef6-60ba-4609-af21-868bfbcf4022",
      "name": "TEST — DB Upsert content.documents",
      "position": [
        2672,
        9376
      ],
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Seed file documents for T1/T2 extraction tests. Output document_ids are fed into worker requests."
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "keepSource": "json"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        5488,
        8128
      ],
      "id": "4adc54c5-b9c9-421e-a2e7-961592b2c079",
      "name": "Extract — From PDF",
      "onError": "continueErrorOutput",
      "notes": "Extract From File operation=pdf. INPUT: binary data + file metadata. OUTPUT: extracted JSON/text. WHY: only for formats supported by core Extract From File."
    },
    {
      "parameters": {
        "operation": "text",
        "options": {
          "encoding": "windows1251",
          "keepSource": "json"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        5488,
        8288
      ],
      "id": "fbbe6c95-db35-46ba-82ac-420cd66264d1",
      "name": "Extract — From Text",
      "onError": "continueErrorOutput",
      "notes": "Extract From File operation=text. INPUT: binary data + file metadata. OUTPUT: extracted JSON/text. WHY: only for formats supported by core Extract From File."
    },
    {
      "parameters": {
        "options": {
          "encoding": "utf8"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        5488,
        8448
      ],
      "id": "294c317e-21e4-4c41-a9bb-486abe70aaad",
      "name": "Extract — From CSV",
      "onError": "continueErrorOutput",
      "notes": "Extract From File operation=csv. INPUT: binary data + file metadata. OUTPUT: extracted JSON/text. WHY: only for formats supported by core Extract From File."
    },
    {
      "parameters": {
        "operation": "html",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        5488,
        8608
      ],
      "id": "4184ad20-440e-403b-af44-484e87bdc4fb",
      "name": "Extract — From HTML",
      "onError": "continueErrorOutput",
      "notes": "Extract From File operation=html. INPUT: binary data + file metadata. OUTPUT: extracted JSON/text. WHY: only for formats supported by core Extract From File."
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {
          "encoding": "windows1251"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        5488,
        8768
      ],
      "id": "0926ab25-cb8f-404d-baea-db5cbf17e57d",
      "name": "Extract — From JSON",
      "onError": "continueErrorOutput",
      "notes": "Extract From File operation=json. INPUT: binary data + file metadata. OUTPUT: extracted JSON/text. WHY: only for formats supported by core Extract From File."
    },
    {
      "parameters": {
        "operation": "fromIcs",
        "options": {
          "encoding": "windows1251"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        5488,
        8928
      ],
      "id": "c7eee04a-9d41-4742-aa99-5d31eaa3dcf7",
      "name": "Extract — From ICS",
      "onError": "continueErrorOutput",
      "notes": "Extract From File operation=ics. INPUT: binary data + file metadata. OUTPUT: extracted JSON/text. WHY: only for formats supported by core Extract From File."
    },
    {
      "parameters": {
        "operation": "rtf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        5488,
        9072
      ],
      "id": "49a25a7c-f8a2-440e-ab43-bb41725d60f5",
      "name": "Extract — From RTF",
      "onError": "continueErrorOutput",
      "notes": "Extract From File operation=rtf. INPUT: binary data + file metadata. OUTPUT: extracted JSON/text. WHY: only for formats supported by core Extract From File."
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        5488,
        9232
      ],
      "id": "feb15571-6f38-45a6-b959-9d4b2e1d5dde",
      "name": "Extract — From XLSX",
      "onError": "continueErrorOutput",
      "notes": "Extract From File operation=xlsx. INPUT: binary data + file metadata. OUTPUT: extracted JSON/text. WHY: only for formats supported by core Extract From File."
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        5488,
        9392
      ],
      "id": "18291467-623e-4b00-952a-8636e57e82b9",
      "name": "Extract — From XLS",
      "onError": "continueErrorOutput",
      "notes": "Extract From File operation=xls. INPUT: binary data + file metadata. OUTPUT: extracted JSON/text. WHY: only for formats supported by core Extract From File."
    },
    {
      "parameters": {
        "operation": "ods",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        5488,
        9536
      ],
      "id": "658a70ad-34cd-4cc8-a48f-7554638a7eec",
      "name": "Extract — From ODS",
      "onError": "continueErrorOutput",
      "notes": "Extract From File operation=ods. INPUT: binary data + file metadata. OUTPUT: extracted JSON/text. WHY: only for formats supported by core Extract From File."
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "You are a strict JSON generator. Output ONLY one valid JSON OBJECT.\nDo NOT wrap the JSON in quotes. Do NOT use markdown/code fences.\nThe first character must be { and the last character must be }\nAnalyze the document and return ONLY this JSON object with exactly these keys:\n{\"description\":\"...\",\"transcription\":\"...\",\"language\":\"...\"}\nRules:\nNo extra keys, no comments.\ndescription: a detailed description of what is in the document, avoid using the \" character inside the text (use ' or curly quotes “ ” if needed).\ntranscription: verbatim text in windows encoding, if present in the document; if no text, \"\"\nlanguage: a language used in the document, ISO 639-1 code when possible, else \"und\"",
        "inputType": "binary",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        6592,
        9440
      ],
      "id": "5f1754d6-3787-4e92-b13a-509226818b80",
      "name": "AI — Analyze Document Fallback",
      "credentials": {
        "googlePalmApi": {
          "id": "4J3UGUqYNZJxtTVa",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Fallback extractor for unsupported file types or extractor/converter failures. INPUT: binary file. OUTPUT: strict JSON with description/transcription/language."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-aif-txt",
              "name": "extracted_text",
              "value": "={{ $json.transcription || $json.text || JSON.stringify($json) }}",
              "type": "string"
            },
            {
              "id": "wf33-aif-meta-src",
              "name": "extracted_meta.extract_source",
              "value": "gemini_analyze_document_fallback",
              "type": "string"
            },
            {
              "id": "wf33-aif-meta-raw",
              "name": "extracted_meta.gemini",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "wf33-aif-doc",
              "name": "document_id",
              "value": "={{ $json.document_id || $('Merge — Restore CTX after S3').item.json.document_id }}",
              "type": "number"
            },
            {
              "id": "wf33-aif-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx || $('Merge — Restore CTX after S3').item.json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-aif-job",
              "name": "job",
              "value": "={{ $json.job || $('Merge — Restore CTX after S3').item.json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7168,
        9344
      ],
      "id": "c719ce0d-c1ef-4d7e-8a1b-9d890aefd3f5",
      "name": "Set — Unified from AI Fallback",
      "notes": "Map Gemini Analyze Document fallback output into unified extraction payload for shared downstream processing."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-aif-err-node",
              "name": "_err.node",
              "value": "AI — Analyze Document Fallback",
              "type": "string"
            },
            {
              "id": "wf33-aif-err-op",
              "name": "_err.operation",
              "value": "analyze_document",
              "type": "string"
            },
            {
              "id": "wf33-aif-err-table",
              "name": "_err.table",
              "value": "",
              "type": "string"
            },
            {
              "id": "wf33-aif-err-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-aif-err-job",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            },
            {
              "id": "wf33-aif-err-doc",
              "name": "document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7008,
        10656
      ],
      "id": "106a5902-54b3-42d8-a713-27db3946a6a2",
      "name": "ERR — Source AI Fallback",
      "notes": "Error source wrapper for Gemini Analyze Document fallback failures."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "passThrough"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        6368,
        9408
      ],
      "id": "730bf20e-d1f0-47d8-9cc8-0bcf561f7cdc",
      "name": "Merge — Fallback Inputs",
      "notes": "Join three fallback entry points: unsupported mime route, Extract fatal error route, Convert error route."
    },
    {
      "parameters": {
        "bucketName": "dfassistant",
        "fileKey": "={{ $json.storage_key }}"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        4496,
        8496
      ],
      "id": "6f0d3c8e-d831-40ae-a821-f05b747f0b26",
      "name": "S3 - Download a file",
      "credentials": {
        "s3": {
          "id": "hjNqGx5slcq2dEGk",
          "name": "S3 account"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Test/manual support node."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-carry-ai-doc",
              "name": "document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            },
            {
              "id": "wf33-carry-ai-text",
              "name": "extracted_text",
              "value": "={{ $json.extracted_text }}",
              "type": "string"
            },
            {
              "id": "wf33-carry-ai-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-carry-ai-job",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            },
            {
              "id": "wf33-carry-ai-meta",
              "name": "extracted_meta",
              "value": "={{ $json.extracted_meta || {} }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7872,
        8480
      ],
      "id": "897afd34-2e11-4adb-9731-940ae832cc43",
      "name": "Carry — Pre AI Description",
      "notes": "Carry unified context before AI node that may overwrite fields. Input: unified extraction payload. Output: same item with guaranteed document_id/extracted_text/ctx/job."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        8416,
        8272
      ],
      "id": "219981fb-0b9b-4b09-a419-0303645fe793",
      "name": "Merge — Restore CTX after AI",
      "notes": "Restore carried fields after AI response. Input1: AI output. Input2: carry item. Output: AI fields + document_id/extracted_text/ctx/job."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-carry-conv-doc",
              "name": "document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            },
            {
              "id": "wf33-carry-conv-ctx",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "wf33-carry-conv-job",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6304,
        9008
      ],
      "id": "b953a83e-548e-42e6-b6ab-c58c7c57227f",
      "name": "Carry — Pre Convert File",
      "notes": "Carry context before Convert node that may overwrite json fields. Input: file item from switch/unsupported branch. Output: same item with guaranteed ctx/job/document_id."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        6672,
        9120
      ],
      "id": "f9cb044f-4ec8-47a5-ba0d-c89108dd26da",
      "name": "Merge — Restore CTX after Convert",
      "notes": "Restore ctx/job/document_id after Convert output. Input1: Convert output. Input2: carried context. Output: converted payload + restored context."
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "document_id"
            },
            {
              "fieldToAggregate": "ctx"
            },
            {
              "fieldToAggregate": "job"
            },
            {
              "fieldToAggregate": "extracted_text"
            },
            {
              "fieldToAggregate": "extracted_meta"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        7408,
        8592
      ],
      "id": "a581af9a-ab59-4d6f-96c3-e0c8b8642c67",
      "name": "Aggregate — Collapse Extracted Items",
      "notes": "Collapse fan-out outputs (for example XLSX multi-sheet) into one aggregated item before DB update/enqueue. Collects document_id/ctx/job/extracted_text/meta arrays."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf33-col-doc",
              "name": "document_id",
              "value": "={{ Array.isArray($json.document_id) ? $json.document_id[0] : $json.document_id }}",
              "type": "number"
            },
            {
              "id": "wf33-col-ctx",
              "name": "ctx",
              "value": "={{ Array.isArray($json.ctx) ? ($json.ctx[0] || {}) : ($json.ctx || {}) }}",
              "type": "object"
            },
            {
              "id": "wf33-col-job",
              "name": "job",
              "value": "={{ Array.isArray($json.job) ? ($json.job[0] || {}) : ($json.job || {}) }}",
              "type": "object"
            },
            {
              "id": "wf33-col-text",
              "name": "extracted_text",
              "value": "=={{ (() => {\n  const parts = (Array.isArray($json.extracted_text) ? $json.extracted_text : [$json.extracted_text])\n    .filter(v => typeof v === \"string\" && v.trim() !== \"\");\n  const joined = parts.join(\"\\n\\n\");\n\n  const metas = Array.isArray($json.extracted_meta) ? $json.extracted_meta : [$json.extracted_meta];\n  const isTabular = metas.some(m => m && m.is_tabular === true);\n\n  // кап только для табличных, чтобы не резать PDF/текстовые документы\n  return isTabular ? joined.slice(0, 200000) : joined;\n})() }}",
              "type": "string"
            },
            {
              "id": "wf33-col-meta",
              "name": "extracted_meta",
              "value": "={{ ({ ...(Array.isArray($json.extracted_meta) ? ($json.extracted_meta[0] || {}) : ($json.extracted_meta || {})), parts_count: (Array.isArray($json.extracted_text) ? $json.extracted_text : [$json.extracted_text]).filter(v => typeof v === \"string\" && v.trim() !== \"\").length }) }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7568,
        8560
      ],
      "id": "90c3fb9d-413b-4973-9540-86d75a576d43",
      "name": "Set — Collapse Aggregated Fields",
      "notes": "Normalize Aggregate arrays to one unified item for downstream pipeline: pick first document_id/ctx/job and concatenate extracted_text parts."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ed7d7c68-d2e6-4b8c-9fb8-735f343a81aa",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2304,
        8176
      ],
      "id": "3b0ddb1d-39be-4a78-bfa4-a18a2930d8d5",
      "name": "IF — Doc Found?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gcM1ZRVCKVtzJfHOH7OTw",
          "mode": "list",
          "cachedResultUrl": "/workflow/gcM1ZRVCKVtzJfHOH7OTw",
          "cachedResultName": "WF99 — Global ERR Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3552,
        10736
      ],
      "id": "be4b488d-63c6-4df2-8aaa-35fb14812c9a",
      "name": "Execute WF99 (Empty Text)1",
      "notes": "Call WF99 for empty text error. Input: error_context. Output: ErrorEnvelope. WHY: ErrorPipe v1 centralized logging. NO StopAndError after!"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9a0b1c2-d3e4-f506-1728-3949a5b6c7d8",
              "name": "error_context.kind",
              "value": "business",
              "type": "string"
            },
            {
              "id": "0a1b2c3d-e4f5-0617-2839-49a5b6c7d8e9",
              "name": "error_context.message",
              "value": "Document not found",
              "type": "string"
            },
            {
              "id": "1b2c3d4e-f506-1728-3949-a5b6c7d8e9f0",
              "name": "error_context.status_code",
              "value": 404,
              "type": "number"
            },
            {
              "id": "2c3d4e5f-0617-2839-49a5-b6c7d8e9f001",
              "name": "error_context.retryable",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "3d4e5f60-1728-3949-a5b6-c7d8e9f00112",
              "name": "error_context.details.node",
              "value": "={{ $json._err?.node }}",
              "type": "string"
            },
            {
              "id": "4e5f6071-2839-49a5-b6c7-d8e9f0011223",
              "name": "error_context.details.operation",
              "value": "={{ $json._err?.operation }}",
              "type": "string"
            },
            {
              "id": "5f607182-3949-a5b6-c7d8-e9f001122334",
              "name": "error_context.details.document_id",
              "value": "={{ $json.document_id }}",
              "type": "number"
            },
            {
              "id": "60718293-49a5-b6c7-d8e9-f00112233445",
              "name": "error_context.ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "718293a4-a5b6-c7d8-e9f0-011223344556",
              "name": "error_context.job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3312,
        10736
      ],
      "id": "5aec8c81-0781-47c6-b805-4d6edcc15007",
      "name": "ERR — Prepare ErrorPipe v1 (DB Doc)1",
      "notes": "Build error_context for empty text (business error). Input: err source. Output: error_context.*. WHY includeOtherFields=false: clean envelope for WF99."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c5d5e5f-7081-9293-a4b5-c6d7e8f9a0b1",
              "name": "_err.node",
              "value": "GUARD — Documen Found",
              "type": "string"
            },
            {
              "id": "6d6e6f70-8192-a3b4-c5d6-e7f8a9b0c1d2",
              "name": "_err.operation",
              "value": "select",
              "type": "string"
            },
            {
              "id": "7e7f8081-9293-b4c5-d6e7-f8a9b0c1d2e3",
              "name": "ctx",
              "value": "={{ $json.ctx }}",
              "type": "object"
            },
            {
              "id": "8f909192-a3b4-c5d6-e7f8-a9b0c1d2e3f4",
              "name": "job",
              "value": "={{ $json.job }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3088,
        10736
      ],
      "id": "01bd21b8-c10f-4bdd-b98e-85cc36ad7c8e",
      "name": "ERR — Source Input Guard1",
      "notes": "ErrorPipe v1: Capture error source for Input Guard failure. Input: failed item. Output: _err.* + ctx + job + original. WHY includeOtherFields=true: preserve failure data."
    }
  ],
  "pinData": {},
  "connections": {
    "IN — Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Set — Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Normalize Input": {
      "main": [
        [
          {
            "node": "GUARD — Input Valid",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge — Restore CTX after DB Load",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GUARD — Input Valid": {
      "main": [
        [
          {
            "node": "DB — Load Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Input Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source Input Guard": {
      "main": [
        [
          {
            "node": "ERR — Prepare ErrorPipe v1 (Input)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Prepare ErrorPipe v1 (Input)": {
      "main": [
        [
          {
            "node": "Execute WF99 (Input)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute WF99 (Input)": {
      "main": [
        [
          {
            "node": "Merge — Final (Success + All Errors)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DB — Load Document": {
      "main": [
        [
          {
            "node": "IF — Doc Found?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source DB Load Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source DB Load Doc": {
      "main": [
        [
          {
            "node": "ERR — Prepare ErrorPipe v1 (DB Doc)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Prepare ErrorPipe v1 (DB Doc)": {
      "main": [
        [
          {
            "node": "Execute WF99 (DB Doc)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Restore CTX after DB Load": {
      "main": [
        [
          {
            "node": "CTL — Route by doc_type: message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CTL — Route by doc_type: message?": {
      "main": [
        [
          {
            "node": "GUARD — Message Has Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CTL — Route by doc_type: file?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CTL — Route by doc_type: file?": {
      "main": [
        [
          {
            "node": "Set — File Ref from Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set — URL Placeholder Unified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GUARD — Message Has Text": {
      "main": [
        [
          {
            "node": "Set — Message: Extract Existing Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Message Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source Message Empty": {
      "main": [
        [
          {
            "node": "ERR — Prepare ErrorPipe v1 (Empty Text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Prepare ErrorPipe v1 (Empty Text)": {
      "main": [
        [
          {
            "node": "Execute WF99 (Empty Text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Message: Extract Existing Text": {
      "main": [
        [
          {
            "node": "Merge — Unified Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI — Generate Description (Gemini)": {
      "main": [
        [
          {
            "node": "Merge — Restore CTX after AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source AI Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source AI Description": {
      "main": [
        [
          {
            "node": "ERR — Prepare ErrorPipe v1 (AI Desc)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Prepare ErrorPipe v1 (AI Desc)": {
      "main": [
        [
          {
            "node": "Execute WF99 (AI Desc)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Extract Description from AI Response": {
      "main": [
        [
          {
            "node": "Crypto — Compute SHA256",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto — Compute SHA256": {
      "main": [
        [
          {
            "node": "Set — Prepare Bytea Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Prepare Bytea Format": {
      "main": [
        [
          {
            "node": "DB — Update Document (Success)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge — Restore CTX after DB Update",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DB — Update Document (Success)": {
      "main": [
        [
          {
            "node": "Merge — Restore CTX after DB Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source DB Update Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source DB Update Doc": {
      "main": [
        [
          {
            "node": "ERR — Prepare ErrorPipe v1 (DB Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Prepare ErrorPipe v1 (DB Update)": {
      "main": [
        [
          {
            "node": "Execute WF99 (DB Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Restore CTX after DB Update": {
      "main": [
        [
          {
            "node": "Set — Prepare Enqueue Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Prepare Enqueue Payload": {
      "main": [
        [
          {
            "node": "DB — Enqueue chunk_document Job",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge — Restore CTX after Enqueue",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DB — Enqueue chunk_document Job": {
      "main": [
        [
          {
            "node": "Merge — Restore CTX after Enqueue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source DB Enqueue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source DB Enqueue": {
      "main": [
        [
          {
            "node": "ERR — Prepare ErrorPipe v1 (DB Enqueue)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Prepare ErrorPipe v1 (DB Enqueue)": {
      "main": [
        [
          {
            "node": "Execute WF99 (DB Enqueue)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Restore CTX after Enqueue": {
      "main": [
        [
          {
            "node": "OUT — Success Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OUT — Success Envelope": {
      "main": [
        [
          {
            "node": "Merge — Final (Success + All Errors)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST — Manual Trigger": {
      "main": [
        [
          {
            "node": "TEST — Build Fixtures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — File Ref from Document": {
      "main": [
        [
          {
            "node": "DB — Select tg.files by file_unique_id",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge — Restore CTX after tg.files",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DB — Select tg.files by file_unique_id": {
      "main": [
        [
          {
            "node": "Merge — Restore CTX after tg.files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source DB File Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Restore CTX after tg.files": {
      "main": [
        [
          {
            "node": "GUARD — File Has sha256",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GUARD — File Has sha256": {
      "main": [
        [
          {
            "node": "DB — Select blob_objects by sha256",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge — Restore CTX after blob lookup",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "ERR — Source Missing File Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB — Select blob_objects by sha256": {
      "main": [
        [
          {
            "node": "Merge — Restore CTX after blob lookup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source DB Blob Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Restore CTX after blob lookup": {
      "main": [
        [
          {
            "node": "GUARD — Blob Has storage_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GUARD — Blob Has storage_key": {
      "main": [
        [
          {
            "node": "Merge — Restore CTX after S3",
            "type": "main",
            "index": 1
          },
          {
            "node": "S3 - Download a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Missing File Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Restore CTX after S3": {
      "main": [
        [
          {
            "node": "Set — Detect File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Detect File Type": {
      "main": [
        [
          {
            "node": "SWITCH — Route by File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Unified from Extract": {
      "main": [
        [
          {
            "node": "Merge — File Extract Unified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source Extract File": {
      "main": [
        [
          {
            "node": "IF — Extract Error Is Unsupported",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Extract Error Is Unsupported": {
      "main": [
        [
          {
            "node": "Carry — Pre Convert File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge — Fallback Inputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert — File To Json": {
      "main": [
        [
          {
            "node": "Merge — Restore CTX after Convert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Convert File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — File Extract Unified": {
      "main": [
        [
          {
            "node": "Merge — Unified Extracted Text",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ERR — Source DB File Ref": {
      "main": [
        [
          {
            "node": "ERR — Prepare ErrorPipe v1 (File I/O)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source DB Blob Ref": {
      "main": [
        [
          {
            "node": "ERR — Prepare ErrorPipe v1 (File I/O)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source Missing File Ref": {
      "main": [
        [
          {
            "node": "ERR — Prepare ErrorPipe v1 (File I/O)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source S3 Download": {
      "main": [
        [
          {
            "node": "ERR — Prepare ErrorPipe v1 (File I/O)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Prepare ErrorPipe v1 (File I/O)": {
      "main": [
        [
          {
            "node": "Execute WF99 (File I/O)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Unified Extracted Text": {
      "main": [
        [
          {
            "node": "Aggregate — Collapse Extracted Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GUARD — Extracted Text NonEmpty": {
      "main": [
        [
          {
            "node": "Carry — Pre AI Description",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OUT — Success Envelope (Skipped Empty)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST — Build Fixtures": {
      "main": [
        [
          {
            "node": "TEST — DB Upsert Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST — DB Upsert Tenant": {
      "main": [
        [
          {
            "node": "TEST — DB Upsert tg.files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Input Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST — DB Upsert tg.files": {
      "main": [
        [
          {
            "node": "TEST — DB Upsert blob_objects",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Input Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST — DB Upsert blob_objects": {
      "main": [
        [
          {
            "node": "TEST — DB Upsert content.documents",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Input Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST — DB Upsert content.documents": {
      "main": [
        [
          {
            "node": "TEST — Build Worker Requests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Input Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SWITCH — Route by File Type": {
      "main": [
        [
          {
            "node": "Extract — From PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract — From Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract — From CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract — From HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract — From JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract — From ICS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract — From RTF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract — From XLSX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract — From XLS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract — From ODS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Carry — Pre Convert File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge — Fallback Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract — From PDF": {
      "main": [
        [
          {
            "node": "Set — Unified from Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Extract File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract — From Text": {
      "main": [
        [
          {
            "node": "Set — Unified from Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Extract File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract — From CSV": {
      "main": [
        [
          {
            "node": "Set — Unified from Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Extract File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract — From HTML": {
      "main": [
        [
          {
            "node": "Set — Unified from Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Extract File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract — From JSON": {
      "main": [
        [
          {
            "node": "Set — Unified from Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Extract File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract — From ICS": {
      "main": [
        [
          {
            "node": "Set — Unified from Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Extract File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract — From RTF": {
      "main": [
        [
          {
            "node": "Set — Unified from Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Extract File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract — From XLSX": {
      "main": [
        [
          {
            "node": "Set — Unified from Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Extract File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract — From XLS": {
      "main": [
        [
          {
            "node": "Set — Unified from Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Extract File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract — From ODS": {
      "main": [
        [
          {
            "node": "Set — Unified from Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Extract File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Fallback Inputs": {
      "main": [
        [
          {
            "node": "AI — Analyze Document Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI — Analyze Document Fallback": {
      "main": [
        [
          {
            "node": "Set — Unified from AI Fallback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source AI Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source AI Fallback": {
      "main": [
        [
          {
            "node": "ERR — Prepare ErrorPipe v1 (File I/O)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source Convert File": {
      "main": [
        [
          {
            "node": "ERR — Prepare ErrorPipe v1 (File I/O)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3 - Download a file": {
      "main": [
        [
          {
            "node": "Merge — Restore CTX after S3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source S3 Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carry — Pre AI Description": {
      "main": [
        [
          {
            "node": "AI — Generate Description (Gemini)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge — Restore CTX after AI",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge — Restore CTX after AI": {
      "main": [
        [
          {
            "node": "Set — Extract Description from AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carry — Pre Convert File": {
      "main": [
        [
          {
            "node": "Convert — File To Json",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge — Restore CTX after Convert",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge — Restore CTX after Convert": {
      "main": [
        [
          {
            "node": "Set — Unified from Convert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate — Collapse Extracted Items": {
      "main": [
        [
          {
            "node": "Set — Collapse Aggregated Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Collapse Aggregated Fields": {
      "main": [
        [
          {
            "node": "GUARD — Extracted Text NonEmpty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Unified from Convert": {
      "main": [
        [
          {
            "node": "Merge — File Extract Unified",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "IF — Doc Found?": {
      "main": [
        [
          {
            "node": "Merge — Restore CTX after DB Load",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR — Source Input Guard1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Prepare ErrorPipe v1 (DB Doc)1": {
      "main": [
        [
          {
            "node": "Execute WF99 (Empty Text)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR — Source Input Guard1": {
      "main": [
        [
          {
            "node": "ERR — Prepare ErrorPipe v1 (DB Doc)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST — Build Worker Requests": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "VykeJY27VNJD_xWfy5Nx6",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "4a32eec0-15f9-4276-b23d-16ec4b4f957a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "49b1b765c7a60d5365a95e5c3e2d1b2e695b21e61861bbe488c27ec04546a71d"
  },
  "id": "VxHQSdnSqx-IP0pWSJ0LX",
  "tags": []
}