workflows/WF90 — Job Runner (ops.jobs executor).json
{
  "name": "WF90 — Job Runner (ops.jobs executor)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 59
            }
          ]
        }
      },
      "id": "eb1e816d-bcf9-435c-b4e6-c2269b823c7b",
      "name": "⏰ Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2864,
        512
      ],
      "notes": "PURPOSE: Poll for pending jobs every 10 seconds.\nINPUT: None (time-based trigger).\nOUTPUT: Empty item to start job processing.\nWHY 10s: Balance between responsiveness and DB load."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-batch-size",
              "name": "cfg.batch_size",
              "value": 50,
              "type": "number"
            },
            {
              "id": "cfg-runner-id",
              "name": "cfg.runner_id",
              "value": "={{ 'WF90_' + $execution.id }}",
              "type": "string"
            },
            {
              "id": "cfg-workflow",
              "name": "cfg.workflow",
              "value": "WF90",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "fef089eb-e22a-4c92-b68c-4cea2fa4604e",
      "name": "📋 Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2640,
        512
      ],
      "notes": "PURPOSE: Set runtime configuration.\nINPUT: Trigger item.\nOUTPUT: Config object with batch_size, runner_id, workflow name.\nWHY: Centralize config for easy adjustment."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err-type",
              "name": "error.type",
              "value": "WF90_DB_SELECT_FAILED",
              "type": "string"
            },
            {
              "id": "err-message",
              "name": "error.message",
              "value": "={{ $json.message || 'Failed to select pending jobs from ops.jobs' }}",
              "type": "string"
            },
            {
              "id": "err-workflow",
              "name": "error.workflow",
              "value": "WF90",
              "type": "string"
            },
            {
              "id": "err-node",
              "name": "error.node",
              "value": "Select Pending Jobs",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "01ea2663-7d36-471c-8961-97f6610c6b0f",
      "name": "❌ ErrorPipe v1 (Select)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2224,
        832
      ],
      "notes": "PURPOSE: Format error for WF99 when SELECT fails.\nINPUT: Postgres error output.\nOUTPUT: Standardized error envelope.\nWHY: WF90 own I/O failure requires WF99 escalation."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gcM1ZRVCKVtzJfHOH7OTw",
          "mode": "list",
          "cachedResultUrl": "/workflow/gcM1ZRVCKVtzJfHOH7OTw",
          "cachedResultName": "WF99 — Global ERR Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "9d6196af-18de-490f-adcd-4a305426f87d",
      "name": "🚨 Call WF99 (Select Err)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2000,
        1008
      ],
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Escalate DB SELECT error.\nOUTPUT success→Graceful End. OUTPUT error→StopAndError."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-jobs",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c76dd7f8-4caf-4c4c-af64-eaf1d7490c55",
      "name": "🔀 Has Jobs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2208,
        512
      ],
      "notes": "PURPOSE: Check if any pending jobs were found.\nINPUT: Result from SELECT (may be empty array).\nOUTPUT TRUE: Jobs to process.\nOUTPUT FALSE: No jobs, end gracefully.\nWHY: Avoid errors on empty result."
    },
    {
      "parameters": {},
      "id": "c7040b27-09c9-4775-a9ab-087bef85648a",
      "name": "✅ No Jobs (OK)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1936,
        240
      ],
      "notes": "PURPOSE: Clean exit when no pending jobs.\nINPUT: Empty branch.\nOUTPUT: None.\nWHY: Explicit end point for clarity."
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "3a083274-3c71-43c4-bdef-94658396b4c9",
      "name": "🔄 Split Jobs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1968,
        624
      ],
      "notes": "PURPOSE: Process jobs one at a time sequentially.\nINPUT: Array of job rows.\nOUTPUT: One job per iteration.\nWHY batchSize=1: Reduce DB contention, ensure atomic claim per job."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "job-id",
              "name": "job.id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "job-tenant",
              "name": "job.tenant_id",
              "value": "={{ $json.tenant_id }}",
              "type": "string"
            },
            {
              "id": "job-type",
              "name": "job.job_type",
              "value": "={{ $json.job_type }}",
              "type": "string"
            },
            {
              "id": "job-payload",
              "name": "job.payload",
              "value": "={{ $json.payload }}",
              "type": "object"
            },
            {
              "id": "job-correlation",
              "name": "job.correlation_id",
              "value": "={{ $json.correlation_id }}",
              "type": "string"
            },
            {
              "id": "job-attempts",
              "name": "job.attempts",
              "value": "={{ $json.attempts }}",
              "type": "number"
            },
            {
              "id": "job-max-attempts",
              "name": "job.max_attempts",
              "value": "={{ $json.max_attempts }}",
              "type": "number"
            },
            {
              "id": "ctx-runner",
              "name": "ctx.runner_id",
              "value": "={{ 'WF90_' + $execution.id }}",
              "type": "string"
            },
            {
              "id": "ctx-workflow",
              "name": "ctx.workflow",
              "value": "WF90",
              "type": "string"
            },
            {
              "id": "ctx-started",
              "name": "ctx.started_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "878a2d8b-dfd2-46d0-b3a5-b4c84a2c8add",
      "name": "📸 Snapshot Job",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1760,
        512
      ],
      "notes": "PURPOSE: Preserve job data before claim attempt.\nINPUT: Single job row from split.\nOUTPUT: Structured job/ctx object.\nWHY: DB UPDATE will overwrite $json, need snapshot for later merge."
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "ops",
          "mode": "list",
          "cachedResultName": "ops"
        },
        "table": {
          "__rl": true,
          "value": "jobs",
          "mode": "list",
          "cachedResultName": "jobs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "running",
            "locked_at": "={{ $now.toISO() }}",
            "locked_by": "={{ $json.ctx.runner_id }}",
            "attempts": "={{ $json.job.attempts + 1 }}",
            "updated_at": "={{ $now.toISO() }}",
            "id": "={{ $json.job.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "locked_at",
              "displayName": "locked_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "locked_by",
              "displayName": "locked_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "attempts",
              "displayName": "attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "outputColumns": [
            "id"
          ]
        }
      },
      "id": "8d61c3ee-cac4-4e62-9330-c4f77d4b51eb",
      "name": "🔒 Claim Job (UPDATE)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1584,
        304
      ],
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Atomically claim job by setting status=running.\nINPUT: Job snapshot with id.\nOUTPUT: Update count (1=claimed, 0=race lost).\nWHY WHERE status=queued: Prevents double-claim race condition.\nWHY outputColumns=updateCount: Check if claim succeeded."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err-type",
              "name": "error.type",
              "value": "WF90_DB_CLAIM_FAILED",
              "type": "string"
            },
            {
              "id": "err-message",
              "name": "error.message",
              "value": "={{ $json.message || 'Failed to claim job in ops.jobs' }}",
              "type": "string"
            },
            {
              "id": "err-workflow",
              "name": "error.workflow",
              "value": "WF90",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "da532fd6-a30b-43bb-a468-ec1762e1129b",
      "name": "❌ ErrorPipe v1 (Claim)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1296,
        1008
      ],
      "notes": "PURPOSE: Format error for WF99 when CLAIM fails.\nINPUT: Postgres error output.\nOUTPUT: Standardized error envelope.\nWHY: DB failure requires escalation."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WF99 — Global ERR Handler",
          "mode": "list",
          "cachedResultUrl": "/workflow/WF99%20%E2%80%94%20Global%20ERR%20Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "6d74b809-3244-41c6-b6b0-78dfe99f8cf3",
      "name": "🚨 Call WF99 (Claim Err)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1072,
        1008
      ],
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Escalate DB CLAIM error.\nOUTPUT success→Graceful End. OUTPUT error→StopAndError."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "19b50d9e-17ae-4752-bc4b-6cfd97b05f9f",
      "name": "🔗 Merge Restore (Claim)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1312,
        320
      ],
      "notes": "PURPOSE: Restore job snapshot after claim attempt.\nINPUT 1: Claim result (updateCount).\nINPUT 2: Original job snapshot.\nOUTPUT: Combined item with both claim result and job data.\nWHY: Postgres node overwrites $json, need original data back."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "claim-success",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "debb83c6-82d3-495a-bcfc-ff166894e033",
      "name": "🔀 Claimed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1088,
        320
      ],
      "notes": "PURPOSE: Check if claim was successful (updateCount > 0).\nINPUT: Merge result with updateCount.\nOUTPUT TRUE: Job claimed, proceed to dispatch.\nOUTPUT FALSE: Race lost, skip to next job.\nWHY: Prevents double-processing."
    },
    {
      "parameters": {},
      "id": "9bfd343a-852c-4ac8-9dcd-0d982ea23a1b",
      "name": "⏭️ Race Lost (Skip)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -832,
        688
      ],
      "notes": "PURPOSE: Skip job when claim failed (another runner took it).\nINPUT: IF false branch.\nOUTPUT: Loop back to next job.\nWHY: Normal race condition, not an error."
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "ops",
          "mode": "list",
          "cachedResultName": "ops"
        },
        "table": {
          "__rl": true,
          "value": "job_runs",
          "mode": "list",
          "cachedResultName": "job_runs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $json.job.id }}",
            "status": "running",
            "started_at": "={{ $now.toISO() }}",
            "metrics": "={{ JSON.stringify({ runner_id: $json.ctx.runner_id, workflow: 'WF90', attempt: $json.job.attempts + 1 }) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "started_at",
              "displayName": "started_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "metrics",
              "displayName": "metrics",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "json",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {
          "outputColumns": [
            "*"
          ]
        }
      },
      "id": "d2830053-82ca-48f8-a6a3-32019f7ef01c",
      "name": "📝 Insert job_runs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -800,
        288
      ],
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Create telemetry record for this job execution.\nINPUT: Job data with runner context.\nOUTPUT: Inserted row with id.\nWHY: Track execution history for debugging/monitoring."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "7c5f0424-69fe-47af-8672-c35e40c71444",
      "name": "🔗 Merge (Insert Run)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -592,
        512
      ],
      "notes": "PURPOSE: Restore job data after job_runs INSERT.\nINPUT 1: Insert result (job_run.id).\nINPUT 2: Job snapshot from before insert.\nOUTPUT: Combined data for dispatch.\nWHY: Keep job_run.id for later UPDATE."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "run-id",
              "name": "job_run_id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "id": "8fb6bbd1-2bd0-4338-8613-b28f793ca03b",
      "name": "📌 Set job_run_id",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        544
      ],
      "notes": "PURPOSE: Store job_run_id for telemetry update.\nINPUT: Merged result with INSERT response.\nOUTPUT: All data plus job_run_id.\nWHY: Need job_run.id to update finished_at later."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.job_type }}",
                    "rightValue": "normalize_update",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7d8e2684-974a-4760-a5c6-2835e8013844"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF20"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.job_type }}",
                    "rightValue": "fetch_tg_file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "965e54a7-3654-40c1-b165-f8f6e32b638d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF30"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.job_type }}",
                    "rightValue": "fetch_url",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bdb23011-548b-4331-ba8b-163cc5c4cf36"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF31"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.job_type }}",
                    "rightValue": "build_document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5c66fd27-4381-4c4f-90c0-412879893b64"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "build_doc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.job_type }}",
                    "rightValue": "extract_text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "72b925cc-9e3f-497f-b8e6-7c4a5a62e0f7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "extract"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.job_type }}",
                    "rightValue": "chunk_document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cb00f6ba-4d17-446f-89ec-4976d20df3f3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF41"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.job_type }}",
                    "rightValue": "embed_chunks",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "be7c7f6f-0ffc-4c91-8099-5af3354cda9a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF41_embed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.job_type }}",
                    "rightValue": "answer_query",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "77184d3a-bf8e-4f80-8a8c-3e760da2a985"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF50"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.job_type }}",
                    "rightValue": "reembed_model_migration",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ec4043cc-480b-408e-b75c-846a446828cd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF92"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.job_type }}",
                    "rightValue": "upsert_membership",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "770db169-dbf0-4480-90c2-873a56eaf3c2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF20_mem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.job_type }}",
                    "rightValue": "test_job",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d2b034f3-d229-4671-b723-0f4560049b32"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "test"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "a8497ab9-a536-4085-990c-69631fef3e08",
      "name": "🔀 Route by job_type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -272,
        480
      ],
      "notes": "PURPOSE: Route job to correct worker workflow based on job_type.\nINPUT: Job data with job_type enum.\nOUTPUTS: WF20, WF30, WF31, build_doc, extract, WF41, WF50, WF92, test, fallback.\nWHY: Each job_type has a specialized worker.\nWHY fallbackOutput: Handle unknown job_types gracefully."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "req-ctx-tenant",
              "name": "req.ctx.tenant_id",
              "value": "={{ $json.job.tenant_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-trace",
              "name": "req.ctx.trace_id",
              "value": "={{ $json.job.correlation_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-correlation",
              "name": "req.ctx.correlation_id",
              "value": "={{ $json.job.correlation_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-job-id",
              "name": "req.ctx.job_id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-ctx-workflow",
              "name": "req.ctx.workflow",
              "value": "WF90",
              "type": "string"
            },
            {
              "id": "req-job-id",
              "name": "req.job.id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-job-type",
              "name": "req.job.job_type",
              "value": "={{ $json.job.job_type }}",
              "type": "string"
            },
            {
              "id": "req-job-payload",
              "name": "req.job.payload",
              "value": "={{ $json.job.payload }}",
              "type": "object"
            },
            {
              "id": "meta-job-run-id",
              "name": "_meta.job_run_id",
              "value": "={{ $json.job_run_id }}",
              "type": "number"
            },
            {
              "id": "meta-attempts",
              "name": "_meta.attempts",
              "value": "={{ $json.job.attempts + 1 }}",
              "type": "number"
            },
            {
              "id": "meta-max-attempts",
              "name": "_meta.max_attempts",
              "value": "={{ $json.job.max_attempts }}",
              "type": "number"
            },
            {
              "id": "meta-started",
              "name": "_meta.started_at",
              "value": "={{ $json.ctx.started_at }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "30513bc6-b7a2-4f89-afe0-8ec9000ee240",
      "name": "📦 Prepare WF20 Req",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        -160
      ],
      "notes": "PURPOSE: Build request envelope for WF20 worker.\nINPUT: Job data from switch.\nOUTPUT: Standardized req object with ctx + job.\nWHY: Consistent contract for all worker workflows."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "-0hFbxSj-HB7MD1sbkWF0",
          "mode": "list",
          "cachedResultUrl": "/workflow/-0hFbxSj-HB7MD1sbkWF0",
          "cachedResultName": "WF20 — Update Processor (Normalize & Persist)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "2c508f6e-fcdd-4554-bd0c-32d3c0df134b",
      "name": "▶️ Execute WF20",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        464,
        -192
      ],
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Dispatch normalize_update job to WF20.\nINPUT: Request envelope with ctx and job.\nOUTPUT: Success envelope from worker OR error.\nWHY waitForSubWorkflow: Need result to update job status."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "req-ctx-tenant",
              "name": "req.ctx.tenant_id",
              "value": "={{ $json.job.tenant_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-correlation",
              "name": "req.ctx.correlation_id",
              "value": "={{ $json.job.correlation_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-job-id",
              "name": "req.ctx.job_id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-ctx-workflow",
              "name": "req.ctx.workflow",
              "value": "WF90",
              "type": "string"
            },
            {
              "id": "req-job-id",
              "name": "req.job.id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-job-type",
              "name": "req.job.job_type",
              "value": "={{ $json.job.job_type }}",
              "type": "string"
            },
            {
              "id": "req-job-payload",
              "name": "req.job.payload",
              "value": "={{ $json.job.payload }}",
              "type": "object"
            },
            {
              "id": "meta-job-run-id",
              "name": "_meta.job_run_id",
              "value": "={{ $json.job_run_id }}",
              "type": "number"
            },
            {
              "id": "meta-attempts",
              "name": "_meta.attempts",
              "value": "={{ $json.job.attempts + 1 }}",
              "type": "number"
            },
            {
              "id": "meta-max-attempts",
              "name": "_meta.max_attempts",
              "value": "={{ $json.job.max_attempts }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "bac22433-d777-4001-a35a-d66a49af23fd",
      "name": "📦 Prepare WF30 Req",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        0
      ],
      "notes": "PURPOSE: Build request for WF30 fetch_tg_file worker."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WF30 — File Fetcher",
          "mode": "list",
          "cachedResultUrl": "/workflow/WF30%20%E2%80%94%20File%20Fetcher"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "8a671f5a-223b-411f-ad79-8b6560a5aa5f",
      "name": "▶️ Execute WF30",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        464,
        -32
      ],
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Dispatch fetch_tg_file job to WF30."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "req-ctx-tenant",
              "name": "req.ctx.tenant_id",
              "value": "={{ $json.job.tenant_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-correlation",
              "name": "req.ctx.correlation_id",
              "value": "={{ $json.job.correlation_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-job-id",
              "name": "req.ctx.job_id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-ctx-workflow",
              "name": "req.ctx.workflow",
              "value": "WF90",
              "type": "string"
            },
            {
              "id": "req-job-id",
              "name": "req.job.id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-job-type",
              "name": "req.job.job_type",
              "value": "={{ $json.job.job_type }}",
              "type": "string"
            },
            {
              "id": "req-job-payload",
              "name": "req.job.payload",
              "value": "={{ $json.job.payload }}",
              "type": "object"
            },
            {
              "id": "meta-job-run-id",
              "name": "_meta.job_run_id",
              "value": "={{ $json.job_run_id }}",
              "type": "number"
            },
            {
              "id": "meta-attempts",
              "name": "_meta.attempts",
              "value": "={{ $json.job.attempts + 1 }}",
              "type": "number"
            },
            {
              "id": "meta-max-attempts",
              "name": "_meta.max_attempts",
              "value": "={{ $json.job.max_attempts }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "6615bfeb-1bda-4bfc-82e0-8569868b68f9",
      "name": "📦 Prepare WF31 Req",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        160
      ],
      "notes": "PURPOSE: Build request for WF31 fetch_url worker."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nfjIRSFfDpPQQ8NW4UF9c",
          "mode": "list",
          "cachedResultUrl": "/workflow/nfjIRSFfDpPQQ8NW4UF9c",
          "cachedResultName": "WF31 — Link Fetcher"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "c4e0eac9-2236-4f4c-ab75-91515cc30ea9",
      "name": "▶️ Execute WF31",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        464,
        128
      ],
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Dispatch fetch_url job to WF31."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.payload.doc_type }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF20"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.payload.doc_type }}",
                    "rightValue": "file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF30"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.payload.doc_type }}",
                    "rightValue": "url",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF31"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "e88b344a-b09e-4d78-b773-e00909797e60",
      "name": "🔀 build_doc Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        32,
        432
      ],
      "notes": "PURPOSE: Route build_document by payload.doc_type.\nINPUT: Job with payload.doc_type.\nOUTPUTS: WF20 (message), WF30 (file), WF31 (url).\nWHY: build_document is dispatched to content-type-specific workers."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.payload.extract_kind }}",
                    "rightValue": "voice_probe",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "33a17af0-4d3c-4e17-8225-05b51bc07934"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF35"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.payload.extract_kind }}",
                    "rightValue": "voice_transcribe",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6ea7bead-60bf-45a8-9e2a-c28e55a225af"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF34"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.payload.extract_kind }}",
                    "rightValue": "audio_transcribe",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "addf8185-2ac8-4c50-a8dd-754690b995ac"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF34_audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.payload.extract_kind }}",
                    "rightValue": "doc_text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "308263b2-44f5-4acf-a768-cf9c83f63a9e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF40"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.payload.extract_kind }}",
                    "rightValue": "url_text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8cc26204-4304-42fd-8af0-6c4a7ede5bb9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF40_url"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.payload.extract_kind }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith",
                      "singleValue": true
                    },
                    "id": "fb427281-d6e0-4a6b-bc58-f7ce7f48f1ee"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF42_image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.payload.extract_kind }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith",
                      "singleValue": true
                    },
                    "id": "78ce7220-67f0-4c8f-bd66-c24aec154c6c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF42_video"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "339015dc-615f-4e3f-980b-62a0b61840f4",
      "name": "🔀 extract Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -48,
        800
      ],
      "notes": "PURPOSE: Route extract_text by payload.extract_kind.\nOUTPUTS: WF35(voice_probe), WF34(voice/audio_transcribe), WF40(doc_text/url_text), WF42(image*/video*).\nFIX: startsWith rightValue was '' → now 'image'/'video'. Added video rule."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "req-ctx-tenant",
              "name": "req.ctx.tenant_id",
              "value": "={{ $json.job.tenant_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-correlation",
              "name": "req.ctx.correlation_id",
              "value": "={{ $json.job.correlation_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-job-id",
              "name": "req.ctx.job_id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-ctx-workflow",
              "name": "req.ctx.workflow",
              "value": "WF90",
              "type": "string"
            },
            {
              "id": "req-job-id",
              "name": "req.job.id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-job-type",
              "name": "req.job.job_type",
              "value": "={{ $json.job.job_type }}",
              "type": "string"
            },
            {
              "id": "req-job-payload",
              "name": "req.job.payload",
              "value": "={{ $json.job.payload }}",
              "type": "object"
            },
            {
              "id": "meta-job-run-id",
              "name": "_meta.job_run_id",
              "value": "={{ $json.job_run_id }}",
              "type": "number"
            },
            {
              "id": "meta-attempts",
              "name": "_meta.attempts",
              "value": "={{ $json.job.attempts + 1 }}",
              "type": "number"
            },
            {
              "id": "meta-max-attempts",
              "name": "_meta.max_attempts",
              "value": "={{ $json.job.max_attempts }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "bfd8f13c-c12c-42f6-b4ce-e09f45d390f1",
      "name": "📦 Prepare WF50 Req",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        1024
      ],
      "notes": "PURPOSE: Build request for WF50 answer_query worker."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WF50 — Answer Query",
          "mode": "name"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "4dbaabd3-c06b-4243-8ddf-e09a633ff984",
      "name": "▶️ Execute WF50",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        480,
        1120
      ],
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Dispatch answer_query job to WF50."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "req-ctx-tenant",
              "name": "req.ctx.tenant_id",
              "value": "={{ $json.job.tenant_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-correlation",
              "name": "req.ctx.correlation_id",
              "value": "={{ $json.job.correlation_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-job-id",
              "name": "req.ctx.job_id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-ctx-workflow",
              "name": "req.ctx.workflow",
              "value": "WF90",
              "type": "string"
            },
            {
              "id": "req-job-id",
              "name": "req.job.id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-job-type",
              "name": "req.job.job_type",
              "value": "={{ $json.job.job_type }}",
              "type": "string"
            },
            {
              "id": "req-job-payload",
              "name": "req.job.payload",
              "value": "={{ $json.job.payload }}",
              "type": "object"
            },
            {
              "id": "meta-job-run-id",
              "name": "_meta.job_run_id",
              "value": "={{ $json.job_run_id }}",
              "type": "number"
            },
            {
              "id": "meta-attempts",
              "name": "_meta.attempts",
              "value": "={{ $json.job.attempts + 1 }}",
              "type": "number"
            },
            {
              "id": "meta-max-attempts",
              "name": "_meta.max_attempts",
              "value": "={{ $json.job.max_attempts }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "743886d2-4b50-42b1-9615-e4d1e2962ee6",
      "name": "📦 Prepare WF92 Req",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        1152
      ],
      "notes": "PURPOSE: Build request for WF92 reembed worker."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WF92 — Re-embed Migration",
          "mode": "name"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "470d4940-ef75-4392-9354-545e3de0ed3c",
      "name": "▶️ Execute WF92",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        480,
        1280
      ],
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Dispatch reembed_model_migration to WF92."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err-type",
              "name": "error.type",
              "value": "WF90_UNKNOWN_JOB_TYPE",
              "type": "string"
            },
            {
              "id": "err-message",
              "name": "error.message",
              "value": "={{ 'Unknown job_type: ' + $json.job.job_type }}",
              "type": "string"
            },
            {
              "id": "result-status",
              "name": "result.status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "meta-job-run-id",
              "name": "_meta.job_run_id",
              "value": "={{ $json.job_run_id }}",
              "type": "number"
            },
            {
              "id": "meta-job-id",
              "name": "_meta.job_id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "id": "4b243b27-6133-4f06-b92e-520769356d90",
      "name": "❓ Unknown job_type",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        1440
      ],
      "notes": "PURPOSE: Handle unrecognized job_type (fallback).\nINPUT: Job with unknown type.\nOUTPUT: Error object for job failure marking.\nWHY: Unknown types should fail gracefully, not crash WF90."
    },
    {
      "parameters": {
        "numberInputs": 10
      },
      "id": "44343324-c2cc-4321-9fb6-e752839a29c8",
      "name": "🔗 Merge All Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1360,
        384
      ],
      "notes": "PURPOSE: Collect results from all dispatch branches.\nINPUT: Results from all Execute Workflow nodes + error branches.\nOUTPUT: Single result item per job.\nWHY mode=chooseBranch: Takes whichever branch completes."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-error",
              "leftValue": "={{ $json.error || $json.message }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5de263dd-da69-42de-b39c-d6a43aaac97e",
      "name": "🔀 Child Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1728,
        848
      ],
      "notes": "PURPOSE: Determine if child workflow failed.\nINPUT: Result from dispatch.\nOUTPUT TRUE: Child failed, mark job failed/retry.\nOUTPUT FALSE: Child succeeded, mark job succeeded.\nWHY: Different handling for success vs failure."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "job-status",
              "name": "final_status",
              "value": "succeeded",
              "type": "string"
            },
            {
              "id": "job-id",
              "name": "job_id",
              "value": "={{ $json.req?.ctx?.job_id || $json._meta?.job_id || $json.job?.id }}",
              "type": "number"
            },
            {
              "id": "job-run-id",
              "name": "job_run_id",
              "value": "={{ $json._meta?.job_run_id || $json.job_run_id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "id": "95be595e-9feb-46b2-94a3-e8aeb07f3f6e",
      "name": "✅ Prepare Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2112,
        1280
      ],
      "notes": "PURPOSE: Prepare data for marking job as succeeded.\nINPUT: Success result from child.\nOUTPUT: final_status=succeeded + job_id."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "can-retry",
              "leftValue": "={{ ($json._meta?.attempts || 1) }}",
              "rightValue": "={{ ($json._meta?.max_attempts || 10) }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eeef06ee-b3a5-4f11-ab6e-480aca28ee37",
      "name": "🔀 Can Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2048,
        944
      ],
      "notes": "PURPOSE: Check if job has retries remaining.\nINPUT: Failed result with attempt count.\nOUTPUT TRUE: attempts < max_attempts, schedule retry.\nOUTPUT FALSE: Max attempts reached, mark dead.\nWHY: Implement retry backoff strategy."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "job-status",
              "name": "final_status",
              "value": "queued",
              "type": "string"
            },
            {
              "id": "job-id",
              "name": "job_id",
              "value": "={{ $json.req?.ctx?.job_id || $json._meta?.job_id || $json.job?.id }}",
              "type": "number"
            },
            {
              "id": "job-run-id",
              "name": "job_run_id",
              "value": "={{ $json._meta?.job_run_id || $json.job_run_id }}",
              "type": "number"
            },
            {
              "id": "next-run",
              "name": "next_run_at",
              "value": "={{ $now.plus({ minutes: Math.pow(2, $json._meta?.attempts || 1) }).toISO() }}",
              "type": "string"
            },
            {
              "id": "err-summary",
              "name": "error_summary",
              "value": "={{ JSON.stringify({ message: $json.error?.message || $json.message || 'Unknown error', attempt: $json._meta?.attempts || 1, timestamp: $now.toISO() }) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "id": "cd13df2d-dc23-4665-a42c-4818693c73f5",
      "name": "🔄 Prepare Retry",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2368,
        960
      ],
      "notes": "PURPOSE: Prepare data for retry scheduling.\nINPUT: Failed result with retry capacity.\nOUTPUT: final_status=queued, next_run_at with exponential backoff.\nWHY Math.pow(2, attempts): Exponential backoff (2,4,8,16 min)."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "job-status",
              "name": "final_status",
              "value": "dead",
              "type": "string"
            },
            {
              "id": "job-id",
              "name": "job_id",
              "value": "={{ $json.req?.ctx?.job_id || $json._meta?.job_id || $json.job?.id }}",
              "type": "number"
            },
            {
              "id": "job-run-id",
              "name": "job_run_id",
              "value": "={{ $json._meta?.job_run_id || $json.job_run_id }}",
              "type": "number"
            },
            {
              "id": "err-summary",
              "name": "error_summary",
              "value": "={{ JSON.stringify({ message: $json.error?.message || $json.message || 'Max attempts exceeded', attempts: $json._meta?.attempts || 1, timestamp: $now.toISO() }) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "id": "b5667a50-ed9d-4d3a-a3b0-07be3c34d4c9",
      "name": "💀 Prepare Dead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2464,
        1248
      ],
      "notes": "PURPOSE: Prepare data for marking job as dead.\nINPUT: Failed result with max attempts reached.\nOUTPUT: final_status=dead, error_summary.\nWHY: Job exhausted all retries, needs manual intervention."
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "dfdd7b40-9573-444b-9d8f-71ab82b178a0",
      "name": "🔗 Merge Final Status",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2656,
        1008
      ],
      "notes": "PURPOSE: Combine success/retry/dead branches.\nWHY numberInputs=3: Three possible paths converge here."
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "ops",
          "mode": "list",
          "cachedResultName": "ops"
        },
        "table": {
          "__rl": true,
          "value": "jobs",
          "mode": "list",
          "cachedResultName": "jobs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.job_id }}",
            "status": "={{ $json.final_status }}",
            "next_run_at": "={{ $json.next_run_at || null }}",
            "locked_at": "={{ null }}",
            "locked_by": "={{ null }}",
            "last_error": "={{ $json.error_summary ? JSON.parse($json.error_summary) : null }}",
            "updated_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "job_type",
              "displayName": "job_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "telegram_update",
                  "value": "telegram_update"
                },
                {
                  "name": "test_job",
                  "value": "test_job"
                },
                {
                  "name": "reembed_model_migration",
                  "value": "reembed_model_migration"
                },
                {
                  "name": "answer_query",
                  "value": "answer_query"
                },
                {
                  "name": "embed_chunks",
                  "value": "embed_chunks"
                },
                {
                  "name": "chunk_document",
                  "value": "chunk_document"
                },
                {
                  "name": "build_document",
                  "value": "build_document"
                },
                {
                  "name": "extract_text",
                  "value": "extract_text"
                },
                {
                  "name": "fetch_url",
                  "value": "fetch_url"
                },
                {
                  "name": "fetch_tg_file",
                  "value": "fetch_tg_file"
                },
                {
                  "name": "upsert_membership",
                  "value": "upsert_membership"
                },
                {
                  "name": "normalize_update",
                  "value": "normalize_update"
                }
              ],
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "dead",
                  "value": "dead"
                },
                {
                  "name": "failed",
                  "value": "failed"
                },
                {
                  "name": "succeeded",
                  "value": "succeeded"
                },
                {
                  "name": "running",
                  "value": "running"
                },
                {
                  "name": "queued",
                  "value": "queued"
                }
              ]
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "attempts",
              "displayName": "attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "max_attempts",
              "displayName": "max_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "next_run_at",
              "displayName": "next_run_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "locked_at",
              "displayName": "locked_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "locked_by",
              "displayName": "locked_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_error",
              "displayName": "last_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "11aac088-58b0-4511-bf20-a0c4e0aa0798",
      "name": "📝 Update Job Final",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2880,
        1232
      ],
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Update job with final status.\nINPUT: Final status (succeeded/queued/dead).\nOUTPUT: Update confirmation.\nWHY: Marks job complete or schedules retry."
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "ops",
          "mode": "list",
          "cachedResultName": "ops"
        },
        "table": {
          "__rl": true,
          "value": "job_runs",
          "mode": "list",
          "cachedResultName": "job_runs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "finished_at": "={{ $now.toISO() }}",
            "status": "={{ $json.final_status === 'queued' ? 'failed' : $json.final_status }}",
            "error": "={{ $json.error_summary ? JSON.parse($json.error_summary) : null }}",
            "id": "={{ $json.job_run_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "started_at",
              "displayName": "started_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "finished_at",
              "displayName": "finished_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "dead",
                  "value": "dead"
                },
                {
                  "name": "failed",
                  "value": "failed"
                },
                {
                  "name": "succeeded",
                  "value": "succeeded"
                },
                {
                  "name": "running",
                  "value": "running"
                },
                {
                  "name": "queued",
                  "value": "queued"
                }
              ]
            },
            {
              "id": "metrics",
              "displayName": "metrics",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7fd3fbee-7dbf-4eea-8e66-4cf5228196af",
      "name": "📝 Update job_runs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3072,
        1072
      ],
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Update job_runs telemetry with final status.\nINPUT: job_run_id and final status.\nOUTPUT: Update confirmation.\nWHY: Complete telemetry record."
    },
    {
      "parameters": {},
      "id": "9987f74a-d5f8-4929-9b23-87875da304a9",
      "name": "↩️ Loop Back",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3840,
        1760
      ],
      "notes": "PURPOSE: Complete one job iteration, loop to next.\nINPUT: Job processing complete.\nOUTPUT: Back to Split node for next job.\nWHY: Sequential processing of batch."
    },
    {
      "parameters": {},
      "id": "26e9fe2e-1264-4136-b118-5b27171edde7",
      "name": "🧪 Test Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2864,
        1104
      ],
      "notes": "PURPOSE: Manual trigger for test execution.\nINPUT: Manual click.\nOUTPUT: Start test branch.\nWHY: Tests should not run in prod path."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ true }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "T1_Happy"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ true }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "T2_Edge"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ true }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "T3_Fail"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "415689b2-0daa-45d1-abd6-642a4c2fcd1c",
      "name": "🧪 Test Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2640,
        1104
      ],
      "notes": "PURPOSE: Route to test case (T1/T2/T3).\nSelect one at a time via switch output.\nT1=Happy, T2=Edge(unknown type handled by test_worker), T3=Fail(retry→dead)."
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "ops",
          "mode": "list",
          "cachedResultName": "ops"
        },
        "table": {
          "__rl": true,
          "value": "jobs",
          "mode": "list",
          "cachedResultName": "jobs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ '00000000-0000-0000-0000-000000000000' }}",
            "job_type": "test_job",
            "status": "queued",
            "priority": 100,
            "payload": "={{ JSON.stringify({ test: 'T1_Happy', timestamp: $now.toISO() }) }}",
            "next_run_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "job_type",
              "displayName": "job_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "json",
              "canBeUsedToMatch": false
            },
            {
              "id": "next_run_at",
              "displayName": "next_run_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "a9c1b07e-8eb2-4da5-845e-3cb911f8be18",
      "name": "🧪 T1: Insert Test Job",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2416,
        1104
      ],
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "notes": "PURPOSE: T1 Happy Path - Insert test job.\nINPUT: Test trigger.\nOUTPUT: Inserted job id.\nWHY: Tests job insertion and subsequent processing."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "test-result",
              "name": "test.result",
              "value": "T1_PASSED: Job inserted",
              "type": "string"
            },
            {
              "id": "test-job-id",
              "name": "test.job_id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "c1020372-3953-4422-af4b-862cd2bcf2bf",
      "name": "🧪 T1 Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2208,
        1168
      ],
      "notes": "PURPOSE: Record T1 test result.\nINPUT: Insert result.\nOUTPUT: Test passed message.\nWHY: Verify job was created for WF90 to pick up."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1040,
        1408
      ],
      "id": "8cb7fa8b-c21b-4642-8c23-2cac95b07c27",
      "name": "✅ Finish",
      "notes": "PURPOSE: Clean exit when batch processing complete.\nINPUT: Split Jobs done.\nOUTPUT: None."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err-type",
              "name": "error.type",
              "value": "WF90_DB_UPDATE_JOB_FAILED",
              "type": "string"
            },
            {
              "id": "err-message",
              "name": "error.message",
              "value": "={{ $json.message || 'Failed to Update job in ops.jobs' }}",
              "type": "string"
            },
            {
              "id": "err-workflow",
              "name": "error.workflow",
              "value": "WF90",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "d1ea6e13-1932-4843-820c-d0c38146bc0c",
      "name": "❌ ErrorPipe Update Job Final",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3088,
        1376
      ],
      "notes": "PURPOSE: Format error for WF99 when UPDATE ops.jobs fails."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err-type",
              "name": "error.type",
              "value": "WF90_DB_UPDATE_JOB_RUNS_FAILED",
              "type": "string"
            },
            {
              "id": "err-message",
              "name": "error.message",
              "value": "={{ $json.message || 'Failed to Update job runs in ops.job_runs' }}",
              "type": "string"
            },
            {
              "id": "err-workflow",
              "name": "error.workflow",
              "value": "WF90",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "6ed192cd-8464-4f4c-af96-06b43f063391",
      "name": "❌ ErrorPipe Update job_runs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3488,
        960
      ],
      "notes": "PURPOSE: Format error for WF99 when UPDATE ops.job_runs fails."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WF99 — Global ERR Handler",
          "mode": "list",
          "cachedResultUrl": "/workflow/WF99%20%E2%80%94%20Global%20ERR%20Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "41c12bdc-b408-4726-b699-81a8335a72e0",
      "name": "🚨 Call WF99 (Update Job)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3376,
        1472
      ],
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Escalate DB UPDATE jobs error.\nOUTPUT success→Graceful End. OUTPUT error→StopAndError."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WF99 — Global ERR Handler",
          "mode": "list",
          "cachedResultUrl": "/workflow/WF99%20%E2%80%94%20Global%20ERR%20Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "65a60397-d688-451f-921a-210104b602b0",
      "name": "🚨 Call WF99 (Update Job_runs)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3712,
        1040
      ],
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Escalate DB UPDATE job_runs error.\nOUTPUT success→Graceful End. OUTPUT error→StopAndError."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err-type",
              "name": "error.type",
              "value": "WF90_DB_INSERT_JOB_RUNS_FAILED",
              "type": "string"
            },
            {
              "id": "err-message",
              "name": "error.message",
              "value": "={{ $json.message || 'Failed to Insert job runs in ops.job_runs' }}",
              "type": "string"
            },
            {
              "id": "err-workflow",
              "name": "error.workflow",
              "value": "WF90",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "5a3b5cb9-01d3-4545-8e6f-affb98d9e865",
      "name": "❌ ErrorPipe Insert job_runs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        1728
      ],
      "notes": "PURPOSE: Format error for WF99 when INSERT ops.job_runs fails."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WF99 — Global ERR Handler",
          "mode": "list",
          "cachedResultUrl": "/workflow/WF99%20%E2%80%94%20Global%20ERR%20Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "6d8ebefc-16f5-49ce-86d0-0681ddbba47d",
      "name": "🚨 Call WF99 (Insert job_runs)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -176,
        1728
      ],
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Escalate DB INSERT job_runs error.\nOUTPUT success→Graceful End. OUTPUT error→StopAndError."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WF42 — Media Describe (Vision)",
          "mode": "name"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "c39e1be3-6c84-4e8c-9484-69f808e256a7",
      "name": "▶️ Execute WF42",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        480,
        960
      ],
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Dispatch media describe (image/video) to WF42.\nINPUT: Request envelope.\nOUTPUT: Success/error.\nWHY: WF42 handles vision/media description."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "req-ctx-tenant",
              "name": "req.ctx.tenant_id",
              "value": "={{ $json.job.tenant_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-correlation",
              "name": "req.ctx.correlation_id",
              "value": "={{ $json.job.correlation_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-job-id",
              "name": "req.ctx.job_id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-ctx-workflow",
              "name": "req.ctx.workflow",
              "value": "WF90",
              "type": "string"
            },
            {
              "id": "req-job-id",
              "name": "req.job.id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-job-type",
              "name": "req.job.job_type",
              "value": "={{ $json.job.job_type }}",
              "type": "string"
            },
            {
              "id": "req-job-payload",
              "name": "req.job.payload",
              "value": "={{ $json.job.payload }}",
              "type": "object"
            },
            {
              "id": "meta-job-run-id",
              "name": "_meta.job_run_id",
              "value": "={{ $json.job_run_id }}",
              "type": "number"
            },
            {
              "id": "meta-attempts",
              "name": "_meta.attempts",
              "value": "={{ $json.job.attempts + 1 }}",
              "type": "number"
            },
            {
              "id": "meta-max-attempts",
              "name": "_meta.max_attempts",
              "value": "={{ $json.job.max_attempts }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "a102381d-10ab-4473-a5e6-6e34290f6ff1",
      "name": "📦 Prepare WF42 Req",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        880
      ],
      "notes": "PURPOSE: Build request for WF42 media describe worker.\nINPUT: Job with image/video extract_kind.\nOUTPUT: Standardized req.\nWHY: WF42 handles vision/media description."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "req-ctx-tenant",
              "name": "req.ctx.tenant_id",
              "value": "={{ $json.job.tenant_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-correlation",
              "name": "req.ctx.correlation_id",
              "value": "={{ $json.job.correlation_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-job-id",
              "name": "req.ctx.job_id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-ctx-workflow",
              "name": "req.ctx.workflow",
              "value": "WF90",
              "type": "string"
            },
            {
              "id": "req-job-id",
              "name": "req.job.id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-job-type",
              "name": "req.job.job_type",
              "value": "={{ $json.job.job_type }}",
              "type": "string"
            },
            {
              "id": "req-job-payload",
              "name": "req.job.payload",
              "value": "={{ $json.job.payload }}",
              "type": "object"
            },
            {
              "id": "meta-job-run-id",
              "name": "_meta.job_run_id",
              "value": "={{ $json.job_run_id }}",
              "type": "number"
            },
            {
              "id": "meta-attempts",
              "name": "_meta.attempts",
              "value": "={{ $json.job.attempts + 1 }}",
              "type": "number"
            },
            {
              "id": "meta-max-attempts",
              "name": "_meta.max_attempts",
              "value": "={{ $json.job.max_attempts }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "07b7c969-68bf-4824-b9f0-5b140f805882",
      "name": "📦 Prepare WF34 Req",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        496
      ],
      "notes": "PURPOSE: Build request for WF34 voice transcriber.\nINPUT: Job with voice_transcribe/audio_transcribe.\nOUTPUT: Standardized req for WF34."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BVoncVIaUvz0wqgC0yc2y",
          "mode": "list",
          "cachedResultUrl": "/workflow/BVoncVIaUvz0wqgC0yc2y",
          "cachedResultName": "WF34 — Voice Transcriber (Full STT)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "159ea646-53ad-47f1-8449-3eba7a2fcb74",
      "name": "▶️ Execute WF34",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        464,
        496
      ],
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Dispatch voice/audio transcription to WF34.\nINPUT: Request envelope.\nOUTPUT: Success/error from worker."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "req-ctx-tenant",
              "name": "req.ctx.tenant_id",
              "value": "={{ $json.job.tenant_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-correlation",
              "name": "req.ctx.correlation_id",
              "value": "={{ $json.job.correlation_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-job-id",
              "name": "req.ctx.job_id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-ctx-workflow",
              "name": "req.ctx.workflow",
              "value": "WF90",
              "type": "string"
            },
            {
              "id": "req-job-id",
              "name": "req.job.id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-job-type",
              "name": "req.job.job_type",
              "value": "={{ $json.job.job_type }}",
              "type": "string"
            },
            {
              "id": "req-job-payload",
              "name": "req.job.payload",
              "value": "={{ $json.job.payload }}",
              "type": "object"
            },
            {
              "id": "meta-job-run-id",
              "name": "_meta.job_run_id",
              "value": "={{ $json.job_run_id }}",
              "type": "number"
            },
            {
              "id": "meta-attempts",
              "name": "_meta.attempts",
              "value": "={{ $json.job.attempts + 1 }}",
              "type": "number"
            },
            {
              "id": "meta-max-attempts",
              "name": "_meta.max_attempts",
              "value": "={{ $json.job.max_attempts }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "6e1f444b-fd4c-4dfc-8fbc-b10d4396c8d7",
      "name": "📦 Prepare WF35 Req",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        320
      ],
      "notes": "PURPOSE: Build request for WF35 voice probe.\nINPUT: Job with voice_probe.\nOUTPUT: Standardized req for WF35."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KbQJKDHMQ_S11UtY2rgO_",
          "mode": "list",
          "cachedResultUrl": "/workflow/KbQJKDHMQ_S11UtY2rgO_",
          "cachedResultName": "WF35 — Voice Probe"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "367a1696-96bc-4be6-a471-050427ceac02",
      "name": "▶️ Execute WF35",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        464,
        320
      ],
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Dispatch voice probe to WF35.\nINPUT: Request envelope.\nOUTPUT: Success/error from worker."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "req-ctx-tenant",
              "name": "req.ctx.tenant_id",
              "value": "={{ $json.job.tenant_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-correlation",
              "name": "req.ctx.correlation_id",
              "value": "={{ $json.job.correlation_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-job-id",
              "name": "req.ctx.job_id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-ctx-workflow",
              "name": "req.ctx.workflow",
              "value": "WF90",
              "type": "string"
            },
            {
              "id": "req-job-id",
              "name": "req.job.id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-job-type",
              "name": "req.job.job_type",
              "value": "={{ $json.job.job_type }}",
              "type": "string"
            },
            {
              "id": "req-job-payload",
              "name": "req.job.payload",
              "value": "={{ $json.job.payload }}",
              "type": "object"
            },
            {
              "id": "meta-job-run-id",
              "name": "_meta.job_run_id",
              "value": "={{ $json.job_run_id }}",
              "type": "number"
            },
            {
              "id": "meta-attempts",
              "name": "_meta.attempts",
              "value": "={{ $json.job.attempts + 1 }}",
              "type": "number"
            },
            {
              "id": "meta-max-attempts",
              "name": "_meta.max_attempts",
              "value": "={{ $json.job.max_attempts }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "2841ad78-97e2-4cef-9929-596c7e0d9965",
      "name": "📦 Prepare WF40 Req",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        640
      ],
      "notes": "PURPOSE: Build request for WF40 content extractor.\nINPUT: Job with doc_text/url_text.\nOUTPUT: Standardized req for WF40."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "r61sEB6snYIQ2XaPg804W",
          "mode": "list",
          "cachedResultUrl": "/workflow/r61sEB6snYIQ2XaPg804W",
          "cachedResultName": "WF40 — Document Builder"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "ab4121e7-5297-43d4-bdfc-47504682b484",
      "name": "▶️ Execute WF40",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        464,
        656
      ],
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Dispatch text extraction to WF40.\nINPUT: Request envelope.\nOUTPUT: Success/error from worker."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "req-ctx-tenant",
              "name": "req.ctx.tenant_id",
              "value": "={{ $json.job.tenant_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-correlation",
              "name": "req.ctx.correlation_id",
              "value": "={{ $json.job.correlation_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-job-id",
              "name": "req.ctx.job_id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-ctx-workflow",
              "name": "req.ctx.workflow",
              "value": "WF90",
              "type": "string"
            },
            {
              "id": "req-job-id",
              "name": "req.job.id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-job-type",
              "name": "req.job.job_type",
              "value": "={{ $json.job.job_type }}",
              "type": "string"
            },
            {
              "id": "req-job-payload",
              "name": "req.job.payload",
              "value": "={{ $json.job.payload }}",
              "type": "object"
            },
            {
              "id": "meta-job-run-id",
              "name": "_meta.job_run_id",
              "value": "={{ $json.job_run_id }}",
              "type": "number"
            },
            {
              "id": "meta-attempts",
              "name": "_meta.attempts",
              "value": "={{ $json.job.attempts + 1 }}",
              "type": "number"
            },
            {
              "id": "meta-max-attempts",
              "name": "_meta.max_attempts",
              "value": "={{ $json.job.max_attempts }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "ae215753-98e1-4426-9700-11bc31107347",
      "name": "📦 Prepare WF41 Req",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        768
      ],
      "notes": "PURPOSE: Build request for WF41 chunk & embed.\nINPUT: Job with chunk_document/embed_chunks.\nOUTPUT: Standardized req for WF41."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WF41 — Chunk & Embed",
          "mode": "list",
          "cachedResultUrl": "/workflow/WF41%20%E2%80%94%20Chunk%20&%20Embed"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "840c8fd4-3795-46c2-8d58-95e232452740",
      "name": "▶️ Execute WF41",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        480,
        816
      ],
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Dispatch chunk/embed job to WF41.\nINPUT: Request envelope.\nOUTPUT: Success/error from worker."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.req?.job?.payload?.fail }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fail"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "35078bbc-39ff-4baa-9aea-9cac65939b48",
      "name": "🧪 Test Worker Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        272,
        1664
      ],
      "notes": "PURPOSE: Route test_job by payload.fail flag.\nINPUT: Test job request.\nOUTPUT fail: Simulate failure.\nOUTPUT extra: Simulate success.\nWHY: Allows testing both paths without external workers."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ok-status",
              "name": "result.status",
              "value": "ok",
              "type": "string"
            },
            {
              "id": "ok-msg",
              "name": "result.message",
              "value": "test_job completed successfully",
              "type": "string"
            },
            {
              "id": "meta-job-run-id",
              "name": "_meta.job_run_id",
              "value": "={{ $json.req?._meta?.job_run_id || $json._meta?.job_run_id }}",
              "type": "number"
            },
            {
              "id": "meta-job-id",
              "name": "_meta.job_id",
              "value": "={{ $json.req?.ctx?.job_id || $json._meta?.job_id }}",
              "type": "number"
            },
            {
              "id": "meta-attempts",
              "name": "_meta.attempts",
              "value": "={{ $json._meta?.attempts || 1 }}",
              "type": "number"
            },
            {
              "id": "meta-max-attempts",
              "name": "_meta.max_attempts",
              "value": "={{ $json._meta?.max_attempts || 10 }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "ad401f3e-95d7-4611-b749-a19b95b62561",
      "name": "🧪 Test Worker OK",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        1744
      ],
      "notes": "PURPOSE: Return success envelope for test_job.\nINPUT: Test job.\nOUTPUT: Success result.\nWHY: Dedicated test worker for T1 happy path."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err-type",
              "name": "error.type",
              "value": "TEST_FORCED_FAILURE",
              "type": "string"
            },
            {
              "id": "err-msg",
              "name": "error.message",
              "value": "Forced failure for test_job (payload.fail=true)",
              "type": "string"
            },
            {
              "id": "meta-job-run-id",
              "name": "_meta.job_run_id",
              "value": "={{ $json.req?._meta?.job_run_id || $json._meta?.job_run_id }}",
              "type": "number"
            },
            {
              "id": "meta-job-id",
              "name": "_meta.job_id",
              "value": "={{ $json.req?.ctx?.job_id || $json._meta?.job_id }}",
              "type": "number"
            },
            {
              "id": "meta-attempts",
              "name": "_meta.attempts",
              "value": "={{ $json._meta?.attempts || 1 }}",
              "type": "number"
            },
            {
              "id": "meta-max-attempts",
              "name": "_meta.max_attempts",
              "value": "={{ $json._meta?.max_attempts || 10 }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "e1993667-2dc5-42e6-a171-13cda5248828",
      "name": "🧪 Test Worker FAIL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        1600
      ],
      "notes": "PURPOSE: Return error envelope for test_job when payload.fail=true.\nINPUT: Test job with fail flag.\nOUTPUT: Error result.\nWHY: Dedicated test worker for T3 fail path."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "req-ctx-tenant",
              "name": "req.ctx.tenant_id",
              "value": "={{ $json.job.tenant_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-correlation",
              "name": "req.ctx.correlation_id",
              "value": "={{ $json.job.correlation_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-job-id",
              "name": "req.ctx.job_id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-ctx-workflow",
              "name": "req.ctx.workflow",
              "value": "WF90",
              "type": "string"
            },
            {
              "id": "req-job-id",
              "name": "req.job.id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-job-type",
              "name": "req.job.job_type",
              "value": "={{ $json.job.job_type }}",
              "type": "string"
            },
            {
              "id": "req-job-payload",
              "name": "req.job.payload",
              "value": "={{ $json.job.payload }}",
              "type": "object"
            },
            {
              "id": "meta-job-run-id",
              "name": "_meta.job_run_id",
              "value": "={{ $json.job_run_id }}",
              "type": "number"
            },
            {
              "id": "meta-attempts",
              "name": "_meta.attempts",
              "value": "={{ $json.job.attempts + 1 }}",
              "type": "number"
            },
            {
              "id": "meta-max-attempts",
              "name": "_meta.max_attempts",
              "value": "={{ $json.job.max_attempts }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "b28c667a-e88a-438a-97f3-8ac091b963f1",
      "name": "📦 Prepare Test Req",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        1408
      ],
      "notes": "PURPOSE: Build request envelope for test_job worker.\nINPUT: Job data from switch.\nOUTPUT: Standardized req for test worker."
    },
    {
      "parameters": {},
      "id": "64322255-e920-4776-b51c-e61650ae9289",
      "name": "✅ End (Select Err)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1744,
        928
      ],
      "notes": "PURPOSE: Graceful end after WF99 successfully logged SELECT error.\nWHY: Prevents WF98 duplicate by NOT using StopAndError after successful WF99."
    },
    {
      "parameters": {
        "errorMessage": "={{ 'WF90: WF99 call failed for SELECT error' }}"
      },
      "id": "7c9555af-6082-4371-adbf-c1cc8c9cd7e4",
      "name": "🛑 StopAndError (Select WF99 Fail)",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -1744,
        1088
      ],
      "notes": "PURPOSE: StopAndError ONLY when WF99 itself fails.\nWHY: WF99 failure = last resort, WF98 should catch this."
    },
    {
      "parameters": {},
      "id": "c891edd2-ef7e-4903-912c-e18ca8e869da",
      "name": "✅ End (Claim Err)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -848,
        928
      ],
      "notes": "PURPOSE: Graceful end after WF99 successfully logged CLAIM error.\nWHY: Prevents WF98 duplicate by NOT using StopAndError after successful WF99."
    },
    {
      "parameters": {
        "errorMessage": "={{ 'WF90: WF99 call failed for CLAIM error' }}"
      },
      "id": "3e604476-7451-4f4d-98a6-899a92527652",
      "name": "🛑 StopAndError (Claim WF99 Fail)",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -848,
        1088
      ],
      "notes": "PURPOSE: StopAndError ONLY when WF99 itself fails.\nWHY: WF99 failure = last resort, WF98 should catch this."
    },
    {
      "parameters": {},
      "id": "20402546-ee83-4feb-a432-f68e0af7f2ad",
      "name": "✅ End (Insert Runs Err)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        48,
        1648
      ],
      "notes": "PURPOSE: Graceful end after WF99 successfully logged INSERT job_runs error.\nWHY: Prevents WF98 duplicate by NOT using StopAndError after successful WF99."
    },
    {
      "parameters": {
        "errorMessage": "={{ 'WF90: WF99 call failed for INSERT job_runs error' }}"
      },
      "id": "7c1e86ce-d215-48de-a962-ee586c25d436",
      "name": "🛑 StopAndError (InsertRuns WF99 Fail)",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        48,
        1808
      ],
      "notes": "PURPOSE: StopAndError ONLY when WF99 itself fails.\nWHY: WF99 failure = last resort, WF98 should catch this."
    },
    {
      "parameters": {},
      "id": "7799390c-3e18-4d41-ad6d-2fc4b3c465a9",
      "name": "✅ End (Update Job Err)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3744,
        1344
      ],
      "notes": "PURPOSE: Graceful end after WF99 successfully logged UPDATE Job error.\nWHY: Prevents WF98 duplicate by NOT using StopAndError after successful WF99."
    },
    {
      "parameters": {
        "errorMessage": "={{ 'WF90: WF99 call failed for UPDATE Job error' }}"
      },
      "id": "0060eaaa-f992-4402-aef7-8433ebee527a",
      "name": "🛑 StopAndError (UpdateJob WF99 Fail)",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        3808,
        1584
      ],
      "notes": "PURPOSE: StopAndError ONLY when WF99 itself fails.\nWHY: WF99 failure = last resort, WF98 should catch this."
    },
    {
      "parameters": {},
      "id": "ee069abb-c443-4456-a48b-a830708105c9",
      "name": "✅ End (Update Runs Err)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4032,
        928
      ],
      "notes": "PURPOSE: Graceful end after WF99 successfully logged UPDATE job_runs error.\nWHY: Prevents WF98 duplicate by NOT using StopAndError after successful WF99."
    },
    {
      "parameters": {
        "errorMessage": "={{ 'WF90: WF99 call failed for UPDATE job_runs error' }}"
      },
      "id": "ac64596f-0b24-4ea7-a46d-a7c6e6afb9ed",
      "name": "🛑 StopAndError (UpdateRuns WF99 Fail)",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        4064,
        1152
      ],
      "notes": "PURPOSE: StopAndError ONLY when WF99 itself fails.\nWHY: WF99 failure = last resort, WF98 should catch this."
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "ops",
          "mode": "list",
          "cachedResultName": "ops"
        },
        "table": {
          "__rl": true,
          "value": "jobs",
          "mode": "list",
          "cachedResultName": "jobs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ '00000000-0000-0000-0000-000000000000' }}",
            "job_type": "test_job",
            "status": "queued",
            "priority": 100,
            "payload": "={{ JSON.stringify({ test_case: 'T2_Edge', timestamp: $now.toISO() }) }}",
            "next_run_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "job_type",
              "displayName": "job_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "json",
              "canBeUsedToMatch": false
            },
            {
              "id": "next_run_at",
              "displayName": "next_run_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "5e54b46a-29e0-4ec5-b0d4-6e91ada0d6e2",
      "name": "🧪 T2: Insert Edge Job",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2416,
        1264
      ],
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "notes": "PURPOSE: T2 Edge - Insert test_job (handled by Test Worker OK path).\nVerifies test_job processing through the full pipeline."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r",
              "name": "test.result",
              "value": "T2_INSERTED",
              "type": "string"
            },
            {
              "id": "j",
              "name": "test.job_id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "8a279760-c3c1-4470-9392-ac272c127f4e",
      "name": "🧪 T2 Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2208,
        1328
      ],
      "notes": "PURPOSE: Record T2 result."
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "ops",
          "mode": "list",
          "cachedResultName": "ops"
        },
        "table": {
          "__rl": true,
          "value": "jobs",
          "mode": "list",
          "cachedResultName": "jobs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ '00000000-0000-0000-0000-000000000000' }}",
            "job_type": "test_job",
            "status": "queued",
            "priority": 100,
            "payload": "={{ JSON.stringify({ test_case: 'T3_Fail', fail: true, timestamp: $now.toISO() }) }}",
            "max_attempts": 2,
            "next_run_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "job_type",
              "displayName": "job_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "json",
              "canBeUsedToMatch": false
            },
            {
              "id": "next_run_at",
              "displayName": "next_run_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "max_attempts",
              "displayName": "max_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "07d39cbf-3fea-4221-99e0-0c280716b51d",
      "name": "🧪 T3: Insert Fail Job",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2416,
        1424
      ],
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "notes": "PURPOSE: T3 Fail - Insert test_job with fail=true, max_attempts=2.\nTests retry path and eventual dead marking."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r",
              "name": "test.result",
              "value": "T3_INSERTED",
              "type": "string"
            },
            {
              "id": "j",
              "name": "test.job_id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "99fc21f7-111e-4a46-a13c-d4549d76df0c",
      "name": "🧪 T3 Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2208,
        1488
      ],
      "notes": "PURPOSE: Record T3 result."
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "ops",
          "mode": "list",
          "cachedResultName": "ops"
        },
        "table": {
          "__rl": true,
          "value": "jobs",
          "mode": "list",
          "cachedResultName": "jobs"
        },
        "limit": "={{ $json.cfg.batch_size }}",
        "where": {
          "values": [
            {
              "column": "status",
              "value": "queued"
            },
            {
              "column": "next_run_at",
              "condition": "IS NOT NULL"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "priority",
              "direction": "DESC"
            },
            {
              "column": "created_at"
            }
          ]
        },
        "options": {}
      },
      "id": "e52ee8e0-11f2-4bdf-92b6-39ff4b07bc7c",
      "name": "📥 Select Pending Jobs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2416,
        512
      ],
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Fetch up to batch_size jobs that are queued and ready.\nINPUT: Config with batch_size.\nOUTPUT: Array of job rows (id, tenant_id, job_type, payload, etc.).\nWHY status=queued AND next_run_at<=now: Only pick ready jobs.\nWHY priority DESC, created_at ASC: High priority first, then FIFO.\nWHY alwaysOutputData: Continue even if no jobs (empty array)."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3376,
        1248
      ],
      "id": "de094675-d613-474d-8d6e-0a173f458687",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "⏰ Schedule Trigger": {
      "main": [
        [
          {
            "node": "📋 Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Set Config": {
      "main": [
        [
          {
            "node": "📥 Select Pending Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ ErrorPipe v1 (Select)": {
      "main": [
        [
          {
            "node": "🚨 Call WF99 (Select Err)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚨 Call WF99 (Select Err)": {
      "main": [
        [
          {
            "node": "✅ End (Select Err)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🛑 StopAndError (Select WF99 Fail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Has Jobs?": {
      "main": [
        [
          {
            "node": "🔄 Split Jobs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "✅ No Jobs (OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Split Jobs": {
      "main": [
        [
          {
            "node": "✅ Finish",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📸 Snapshot Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📸 Snapshot Job": {
      "main": [
        [
          {
            "node": "🔒 Claim Job (UPDATE)",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔗 Merge Restore (Claim)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "🔒 Claim Job (UPDATE)": {
      "main": [
        [
          {
            "node": "🔗 Merge Restore (Claim)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ ErrorPipe v1 (Claim)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ ErrorPipe v1 (Claim)": {
      "main": [
        [
          {
            "node": "🚨 Call WF99 (Claim Err)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚨 Call WF99 (Claim Err)": {
      "main": [
        [
          {
            "node": "✅ End (Claim Err)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🛑 StopAndError (Claim WF99 Fail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Merge Restore (Claim)": {
      "main": [
        [
          {
            "node": "🔀 Claimed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Claimed?": {
      "main": [
        [
          {
            "node": "📝 Insert job_runs",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔗 Merge (Insert Run)",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "⏭️ Race Lost (Skip)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏭️ Race Lost (Skip)": {
      "main": [
        [
          {
            "node": "🔄 Split Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Insert job_runs": {
      "main": [
        [
          {
            "node": "🔗 Merge (Insert Run)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ ErrorPipe Insert job_runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ ErrorPipe Insert job_runs": {
      "main": [
        [
          {
            "node": "🚨 Call WF99 (Insert job_runs)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚨 Call WF99 (Insert job_runs)": {
      "main": [
        [
          {
            "node": "✅ End (Insert Runs Err)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🛑 StopAndError (InsertRuns WF99 Fail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Merge (Insert Run)": {
      "main": [
        [
          {
            "node": "📌 Set job_run_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📌 Set job_run_id": {
      "main": [
        [
          {
            "node": "🔀 Route by job_type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Route by job_type": {
      "main": [
        [
          {
            "node": "📦 Prepare WF20 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF30 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF31 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔀 build_doc Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔀 extract Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF41 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF41 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF50 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF92 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF20 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare Test Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❓ Unknown job_type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Prepare WF20 Req": {
      "main": [
        [
          {
            "node": "▶️ Execute WF20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶️ Execute WF20": {
      "main": [
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Prepare WF30 Req": {
      "main": [
        [
          {
            "node": "▶️ Execute WF30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶️ Execute WF30": {
      "main": [
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "📦 Prepare WF31 Req": {
      "main": [
        [
          {
            "node": "▶️ Execute WF31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶️ Execute WF31": {
      "main": [
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "📦 Prepare WF34 Req": {
      "main": [
        [
          {
            "node": "▶️ Execute WF34",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶️ Execute WF34": {
      "main": [
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 4
          }
        ],
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "📦 Prepare WF35 Req": {
      "main": [
        [
          {
            "node": "▶️ Execute WF35",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶️ Execute WF35": {
      "main": [
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 3
          }
        ],
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "📦 Prepare WF40 Req": {
      "main": [
        [
          {
            "node": "▶️ Execute WF40",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶️ Execute WF40": {
      "main": [
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 5
          }
        ],
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "📦 Prepare WF41 Req": {
      "main": [
        [
          {
            "node": "▶️ Execute WF41",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶️ Execute WF41": {
      "main": [
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 6
          }
        ],
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "📦 Prepare WF42 Req": {
      "main": [
        [
          {
            "node": "▶️ Execute WF42",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶️ Execute WF42": {
      "main": [
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 7
          }
        ],
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "📦 Prepare WF50 Req": {
      "main": [
        [
          {
            "node": "▶️ Execute WF50",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶️ Execute WF50": {
      "main": [
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 8
          }
        ],
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "📦 Prepare WF92 Req": {
      "main": [
        [
          {
            "node": "▶️ Execute WF92",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶️ Execute WF92": {
      "main": [
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 9
          }
        ],
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "❓ Unknown job_type": {
      "main": [
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 9
          }
        ]
      ]
    },
    "📦 Prepare Test Req": {
      "main": [
        [
          {
            "node": "🧪 Test Worker Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧪 Test Worker Router": {
      "main": [
        [
          {
            "node": "🧪 Test Worker FAIL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🧪 Test Worker OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧪 Test Worker OK": {
      "main": [
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 9
          }
        ]
      ]
    },
    "🧪 Test Worker FAIL": {
      "main": [
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 9
          }
        ]
      ]
    },
    "🔀 build_doc Router": {
      "main": [
        [
          {
            "node": "📦 Prepare WF20 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF30 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF31 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❓ Unknown job_type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 extract Router": {
      "main": [
        [
          {
            "node": "📦 Prepare WF35 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF34 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF34 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF40 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF40 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF42 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF42 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❓ Unknown job_type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Merge All Results": {
      "main": [
        [
          {
            "node": "🔀 Child Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Child Failed?": {
      "main": [
        [
          {
            "node": "🔀 Can Retry?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "✅ Prepare Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Prepare Success": {
      "main": [
        [
          {
            "node": "🔗 Merge Final Status",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "🔀 Can Retry?": {
      "main": [
        [
          {
            "node": "🔄 Prepare Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "💀 Prepare Dead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Prepare Retry": {
      "main": [
        [
          {
            "node": "🔗 Merge Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💀 Prepare Dead": {
      "main": [
        [
          {
            "node": "🔗 Merge Final Status",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "🔗 Merge Final Status": {
      "main": [
        [
          {
            "node": "📝 Update Job Final",
            "type": "main",
            "index": 0
          },
          {
            "node": "📝 Update job_runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Update Job Final": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "❌ ErrorPipe Update Job Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Update job_runs": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ ErrorPipe Update job_runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "↩️ Loop Back": {
      "main": [
        [
          {
            "node": "🔄 Split Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ ErrorPipe Update Job Final": {
      "main": [
        [
          {
            "node": "🚨 Call WF99 (Update Job)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚨 Call WF99 (Update Job)": {
      "main": [
        [
          {
            "node": "✅ End (Update Job Err)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🛑 StopAndError (UpdateJob WF99 Fail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ ErrorPipe Update job_runs": {
      "main": [
        [
          {
            "node": "🚨 Call WF99 (Update Job_runs)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚨 Call WF99 (Update Job_runs)": {
      "main": [
        [
          {
            "node": "✅ End (Update Runs Err)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🛑 StopAndError (UpdateRuns WF99 Fail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧪 Test Trigger": {
      "main": [
        [
          {
            "node": "🧪 Test Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧪 Test Router": {
      "main": [
        [
          {
            "node": "🧪 T1: Insert Test Job",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🧪 T2: Insert Edge Job",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🧪 T3: Insert Fail Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧪 T1: Insert Test Job": {
      "main": [
        [
          {
            "node": "🧪 T1 Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧪 T2: Insert Edge Job": {
      "main": [
        [
          {
            "node": "🧪 T2 Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧪 T3: Insert Fail Job": {
      "main": [
        [
          {
            "node": "🧪 T3 Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Select Pending Jobs": {
      "main": [
        [
          {
            "node": "🔀 Has Jobs?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ ErrorPipe v1 (Select)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "↩️ Loop Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "cdb0dd22-7de4-4dc3-af26-a37a7f2c8519",
  "meta": {
    "instanceId": "49b1b765c7a60d5365a95e5c3e2d1b2e695b21e61861bbe488c27ec04546a71d"
  },
  "id": "_xaEmgGo0vM7sbjJ5rm13",
  "tags": []
}