workflows/WF90 — Job Runner (ops.jobs executor).json
{
  "name": "WF90 — Job Runner (ops.jobs executor)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "id": "8f8756a0-46d5-455f-b2e4-009d45eba549",
      "name": "⏰ Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2864,
        512
      ],
      "notes": "PURPOSE: Poll for pending jobs every 10 seconds.\nINPUT: None (time-based trigger).\nOUTPUT: Empty item to start job processing.\nWHY 10s: Balance between responsiveness and DB load."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-batch-size",
              "name": "cfg.batch_size",
              "value": 5,
              "type": "number"
            },
            {
              "id": "cfg-runner-id",
              "name": "cfg.runner_id",
              "value": "={{ 'WF90_' + $execution.id }}",
              "type": "string"
            },
            {
              "id": "cfg-workflow",
              "name": "cfg.workflow",
              "value": "WF90",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "2941f3d7-5d81-4a5a-ba31-b688da2e7969",
      "name": "📋 Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2640,
        512
      ],
      "notes": "PURPOSE: Set runtime configuration.\nINPUT: Trigger item.\nOUTPUT: Config object with batch_size, runner_id, workflow name.\nWHY: Centralize config for easy adjustment."
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "ops",
          "mode": "list",
          "cachedResultName": "ops"
        },
        "table": {
          "__rl": true,
          "value": "jobs",
          "mode": "list",
          "cachedResultName": "jobs"
        },
        "limit": "={{ $json.cfg.batch_size }}",
        "where": {
          "values": [
            {
              "column": "status",
              "value": "queued"
            },
            {
              "column": "next_run_at",
              "condition": "lte",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "priority",
              "direction": "DESC"
            },
            {
              "column": "created_at"
            }
          ]
        },
        "options": {}
      },
      "id": "35e9730b-fef6-4ffc-8610-88ceb7cbea7c",
      "name": "📥 Select Pending Jobs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2416,
        512
      ],
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Fetch up to batch_size jobs that are queued and ready.\nINPUT: Config with batch_size.\nOUTPUT: Array of job rows (id, tenant_id, job_type, payload, etc.).\nWHY status=queued AND next_run_at<=now: Only pick ready jobs.\nWHY priority DESC, created_at ASC: High priority first, then FIFO.\nWHY alwaysOutputData: Continue even if no jobs (empty array)."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err-type",
              "name": "error.type",
              "value": "WF90_DB_SELECT_FAILED",
              "type": "string"
            },
            {
              "id": "err-message",
              "name": "error.message",
              "value": "={{ $json.message || 'Failed to select pending jobs from ops.jobs' }}",
              "type": "string"
            },
            {
              "id": "err-workflow",
              "name": "error.workflow",
              "value": "WF90",
              "type": "string"
            },
            {
              "id": "err-node",
              "name": "error.node",
              "value": "Select Pending Jobs",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "6a079841-4de5-4460-aa26-e85292334b91",
      "name": "❌ ErrorPipe v1 (Select)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2224,
        832
      ],
      "notes": "PURPOSE: Format error for WF99 when SELECT fails.\nINPUT: Postgres error output.\nOUTPUT: Standardized error envelope.\nWHY: WF90 own I/O failure requires WF99 escalation."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gcM1ZRVCKVtzJfHOH7OTw",
          "mode": "list",
          "cachedResultUrl": "/workflow/gcM1ZRVCKVtzJfHOH7OTw",
          "cachedResultName": "WF99 — Global ERR Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "42caa7fb-c915-4b1b-b44f-12cb23b555e9",
      "name": "🚨 Call WF99 (Select Err)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2000,
        1008
      ],
      "notes": "PURPOSE: Escalate DB connection error to global handler.\nINPUT: Error envelope.\nOUTPUT: WF99 response.\nWHY: SELECT failure = infrastructure issue, needs alerting."
    },
    {
      "parameters": {
        "errorMessage": "={{ 'WF90: DB SELECT failed - ' + $json.error.message }}"
      },
      "id": "b4db13f4-f8a3-4d58-b1fb-b0fbddc619b4",
      "name": "🛑 StopAndError (Select)",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -1744,
        1008
      ],
      "notes": "PURPOSE: Terminate WF90 with error status.\nINPUT: Error details.\nOUTPUT: Workflow fails with clear message.\nWHY: Cannot proceed without DB access."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-jobs",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "554ed46b-1d7d-4ce7-a475-e9851eb2300c",
      "name": "🔀 Has Jobs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2208,
        512
      ],
      "notes": "PURPOSE: Check if any pending jobs were found.\nINPUT: Result from SELECT (may be empty array).\nOUTPUT TRUE: Jobs to process.\nOUTPUT FALSE: No jobs, end gracefully.\nWHY: Avoid errors on empty result."
    },
    {
      "parameters": {},
      "id": "ba9dac3a-bd2e-4950-b0d4-27fe75b3aaf3",
      "name": "✅ No Jobs (OK)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1936,
        240
      ],
      "notes": "PURPOSE: Clean exit when no pending jobs.\nINPUT: Empty branch.\nOUTPUT: None.\nWHY: Explicit end point for clarity."
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "67a07f94-63c5-4265-8202-3afc02c0fc93",
      "name": "🔄 Split Jobs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1968,
        624
      ],
      "notes": "PURPOSE: Process jobs one at a time sequentially.\nINPUT: Array of job rows.\nOUTPUT: One job per iteration.\nWHY batchSize=1: Reduce DB contention, ensure atomic claim per job."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "job-id",
              "name": "job.id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "job-tenant",
              "name": "job.tenant_id",
              "value": "={{ $json.tenant_id }}",
              "type": "string"
            },
            {
              "id": "job-type",
              "name": "job.job_type",
              "value": "={{ $json.job_type }}",
              "type": "string"
            },
            {
              "id": "job-payload",
              "name": "job.payload",
              "value": "={{ $json.payload }}",
              "type": "object"
            },
            {
              "id": "job-correlation",
              "name": "job.correlation_id",
              "value": "={{ $json.correlation_id }}",
              "type": "string"
            },
            {
              "id": "job-attempts",
              "name": "job.attempts",
              "value": "={{ $json.attempts }}",
              "type": "number"
            },
            {
              "id": "job-max-attempts",
              "name": "job.max_attempts",
              "value": "={{ $json.max_attempts }}",
              "type": "number"
            },
            {
              "id": "ctx-runner",
              "name": "ctx.runner_id",
              "value": "={{ 'WF90_' + $execution.id }}",
              "type": "string"
            },
            {
              "id": "ctx-workflow",
              "name": "ctx.workflow",
              "value": "WF90",
              "type": "string"
            },
            {
              "id": "ctx-started",
              "name": "ctx.started_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "86d20ea6-ed9c-4ced-8e80-d91d4db2faa9",
      "name": "📸 Snapshot Job",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1760,
        512
      ],
      "notes": "PURPOSE: Preserve job data before claim attempt.\nINPUT: Single job row from split.\nOUTPUT: Structured job/ctx object.\nWHY: DB UPDATE will overwrite $json, need snapshot for later merge."
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "ops",
          "mode": "list",
          "cachedResultName": "ops"
        },
        "table": {
          "__rl": true,
          "value": "jobs",
          "mode": "list",
          "cachedResultName": "jobs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "running",
            "locked_at": "={{ $now.toISO() }}",
            "locked_by": "={{ $json.ctx.runner_id }}",
            "attempts": "={{ $json.job.attempts + 1 }}",
            "updated_at": "={{ $now.toISO() }}",
            "id": "={{ $json.job.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "locked_at",
              "displayName": "locked_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "locked_by",
              "displayName": "locked_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "attempts",
              "displayName": "attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "outputColumns": "={{ \"updateCount\" }}"
        }
      },
      "id": "5a0b9248-935f-40e1-844d-d31a340fa38b",
      "name": "🔒 Claim Job (UPDATE)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1584,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Atomically claim job by setting status=running.\nINPUT: Job snapshot with id.\nOUTPUT: Update count (1=claimed, 0=race lost).\nWHY WHERE status=queued: Prevents double-claim race condition.\nWHY outputColumns=updateCount: Check if claim succeeded."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err-type",
              "name": "error.type",
              "value": "WF90_DB_CLAIM_FAILED",
              "type": "string"
            },
            {
              "id": "err-message",
              "name": "error.message",
              "value": "={{ $json.message || 'Failed to claim job in ops.jobs' }}",
              "type": "string"
            },
            {
              "id": "err-workflow",
              "name": "error.workflow",
              "value": "WF90",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "5ad5e0ab-6376-4e10-9c49-0b7742710061",
      "name": "❌ ErrorPipe v1 (Claim)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1296,
        1008
      ],
      "notes": "PURPOSE: Format error for WF99 when CLAIM fails.\nINPUT: Postgres error output.\nOUTPUT: Standardized error envelope.\nWHY: DB failure requires escalation."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gcM1ZRVCKVtzJfHOH7OTw",
          "mode": "list",
          "cachedResultUrl": "/workflow/gcM1ZRVCKVtzJfHOH7OTw",
          "cachedResultName": "WF99 — Global ERR Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "53a9830b-e1ac-4bb1-ae0f-2f6b656eda70",
      "name": "🚨 Call WF99 (Claim Err)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1072,
        1008
      ],
      "notes": "PURPOSE: Escalate claim DB error to global handler.\nINPUT: Error envelope.\nOUTPUT: WF99 response."
    },
    {
      "parameters": {
        "errorMessage": "={{ 'WF90: DB CLAIM failed - ' + $json.error.message }}"
      },
      "id": "1fd8afd5-648b-4a9a-b17d-cbd1aace79dc",
      "name": "🛑 StopAndError (Claim)",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -848,
        1008
      ],
      "notes": "PURPOSE: Terminate WF90 on claim DB failure.\nINPUT: Error details.\nOUTPUT: Workflow fails."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "34317cf3-f722-4566-8fc8-5ab2c698f05c",
      "name": "🔗 Merge Restore (Claim)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1312,
        320
      ],
      "notes": "PURPOSE: Restore job snapshot after claim attempt.\nINPUT 1: Claim result (updateCount).\nINPUT 2: Original job snapshot.\nOUTPUT: Combined item with both claim result and job data.\nWHY: Postgres node overwrites $json, need original data back."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "claim-success",
              "leftValue": "={{ $json.updateCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "281f4457-5725-4ef2-b3ef-ebff54fa24a9",
      "name": "🔀 Claimed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1088,
        320
      ],
      "notes": "PURPOSE: Check if claim was successful (updateCount > 0).\nINPUT: Merge result with updateCount.\nOUTPUT TRUE: Job claimed, proceed to dispatch.\nOUTPUT FALSE: Race lost, skip to next job.\nWHY: Prevents double-processing."
    },
    {
      "parameters": {},
      "id": "37465888-e58c-4853-85f9-49e59b1c3bc0",
      "name": "⏭️ Race Lost (Skip)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -832,
        688
      ],
      "notes": "PURPOSE: Skip job when claim failed (another runner took it).\nINPUT: IF false branch.\nOUTPUT: Loop back to next job.\nWHY: Normal race condition, not an error."
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "ops",
          "mode": "list",
          "cachedResultName": "ops"
        },
        "table": {
          "__rl": true,
          "value": "job_runs",
          "mode": "list",
          "cachedResultName": "job_runs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $json.job.id }}",
            "status": "running",
            "started_at": "={{ $now.toISO() }}",
            "metrics": "={{ JSON.stringify({ runner_id: $json.ctx.runner_id, workflow: 'WF90', attempt: $json.job.attempts + 1 }) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "started_at",
              "displayName": "started_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "metrics",
              "displayName": "metrics",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "json",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "9f2e708c-1b10-4206-aeac-031fd09e9e35",
      "name": "📝 Insert job_runs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -800,
        288
      ],
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Create telemetry record for this job execution.\nINPUT: Job data with runner context.\nOUTPUT: Inserted row with id.\nWHY: Track execution history for debugging/monitoring."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "c5fab7bb-c71b-4a8c-8e78-bd1c18760f44",
      "name": "🔗 Merge (Insert Run)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -560,
        448
      ],
      "notes": "PURPOSE: Restore job data after job_runs INSERT.\nINPUT 1: Insert result (job_run.id).\nINPUT 2: Job snapshot from before insert.\nOUTPUT: Combined data for dispatch.\nWHY: Keep job_run.id for later UPDATE."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "run-id",
              "name": "job_run_id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "id": "a5a98a57-0ad1-4294-a1c9-c4f2a7603e02",
      "name": "📌 Set job_run_id",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        544
      ],
      "notes": "PURPOSE: Store job_run_id for telemetry update.\nINPUT: Merged result with INSERT response.\nOUTPUT: All data plus job_run_id.\nWHY: Need job_run.id to update finished_at later."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.job_type }}",
                    "rightValue": "normalize_update",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF20"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.job_type }}",
                    "rightValue": "fetch_tg_file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF30"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.job_type }}",
                    "rightValue": "fetch_url",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF31"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.job_type }}",
                    "rightValue": "build_document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "build_doc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.job_type }}",
                    "rightValue": "extract_text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "extract"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.job_type }}",
                    "rightValue": "chunk_document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF41"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.job_type }}",
                    "rightValue": "embed_chunks",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF41_embed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.job_type }}",
                    "rightValue": "answer_query",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF50"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.job_type }}",
                    "rightValue": "reembed_model_migration",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF92"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.job_type }}",
                    "rightValue": "upsert_membership",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF20_mem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.job_type }}",
                    "rightValue": "test_job",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "test"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "93338dd4-0adf-4505-845e-719a79c49a45",
      "name": "🔀 Route by job_type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -272,
        496
      ],
      "notes": "PURPOSE: Route job to correct worker workflow based on job_type.\nINPUT: Job data with job_type enum.\nOUTPUTS: WF20, WF30, WF31, build_doc, extract, WF41, WF50, WF92, test, fallback.\nWHY: Each job_type has a specialized worker.\nWHY fallbackOutput: Handle unknown job_types gracefully."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "req-ctx-tenant",
              "name": "req.ctx.tenant_id",
              "value": "={{ $json.job.tenant_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-trace",
              "name": "req.ctx.trace_id",
              "value": "={{ $json.job.correlation_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-correlation",
              "name": "req.ctx.correlation_id",
              "value": "={{ $json.job.correlation_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-job-id",
              "name": "req.ctx.job_id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-ctx-workflow",
              "name": "req.ctx.workflow",
              "value": "WF90",
              "type": "string"
            },
            {
              "id": "req-job-id",
              "name": "req.job.id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-job-type",
              "name": "req.job.job_type",
              "value": "={{ $json.job.job_type }}",
              "type": "string"
            },
            {
              "id": "req-job-payload",
              "name": "req.job.payload",
              "value": "={{ $json.job.payload }}",
              "type": "object"
            },
            {
              "id": "meta-job-run-id",
              "name": "_meta.job_run_id",
              "value": "={{ $json.job_run_id }}",
              "type": "number"
            },
            {
              "id": "meta-attempts",
              "name": "_meta.attempts",
              "value": "={{ $json.job.attempts + 1 }}",
              "type": "number"
            },
            {
              "id": "meta-max-attempts",
              "name": "_meta.max_attempts",
              "value": "={{ $json.job.max_attempts }}",
              "type": "number"
            },
            {
              "id": "meta-started",
              "name": "_meta.started_at",
              "value": "={{ $json.ctx.started_at }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "8a486c17-f47c-4af4-8937-400c2484a95f",
      "name": "📦 Prepare WF20 Req",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "notes": "PURPOSE: Build request envelope for WF20 worker.\nINPUT: Job data from switch.\nOUTPUT: Standardized req object with ctx + job.\nWHY: Consistent contract for all worker workflows."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ 'WF20' }}",
          "mode": "name"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "aac7a6bc-3984-4daa-bd69-9983d67a0bd5",
      "name": "▶️ Execute WF20",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        0
      ],
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Dispatch normalize_update job to WF20.\nINPUT: Request envelope with ctx and job.\nOUTPUT: Success envelope from worker OR error.\nWHY waitForSubWorkflow: Need result to update job status."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "req-ctx-tenant",
              "name": "req.ctx.tenant_id",
              "value": "={{ $json.job.tenant_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-correlation",
              "name": "req.ctx.correlation_id",
              "value": "={{ $json.job.correlation_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-job-id",
              "name": "req.ctx.job_id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-ctx-workflow",
              "name": "req.ctx.workflow",
              "value": "WF90",
              "type": "string"
            },
            {
              "id": "req-job-id",
              "name": "req.job.id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-job-type",
              "name": "req.job.job_type",
              "value": "={{ $json.job.job_type }}",
              "type": "string"
            },
            {
              "id": "req-job-payload",
              "name": "req.job.payload",
              "value": "={{ $json.job.payload }}",
              "type": "object"
            },
            {
              "id": "meta-job-run-id",
              "name": "_meta.job_run_id",
              "value": "={{ $json.job_run_id }}",
              "type": "number"
            },
            {
              "id": "meta-attempts",
              "name": "_meta.attempts",
              "value": "={{ $json.job.attempts + 1 }}",
              "type": "number"
            },
            {
              "id": "meta-max-attempts",
              "name": "_meta.max_attempts",
              "value": "={{ $json.job.max_attempts }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "0a99f1ec-81ed-41a9-b9c1-3bb2d539c26b",
      "name": "📦 Prepare WF30 Req",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        160
      ],
      "notes": "PURPOSE: Build request for WF30 fetch_tg_file worker."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ 'WF30' }}",
          "mode": "name"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "fadff37a-7578-43b4-ba19-93eaa7935d69",
      "name": "▶️ Execute WF30",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        160
      ],
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Dispatch fetch_tg_file job to WF30."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "req-ctx-tenant",
              "name": "req.ctx.tenant_id",
              "value": "={{ $json.job.tenant_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-correlation",
              "name": "req.ctx.correlation_id",
              "value": "={{ $json.job.correlation_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-job-id",
              "name": "req.ctx.job_id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-ctx-workflow",
              "name": "req.ctx.workflow",
              "value": "WF90",
              "type": "string"
            },
            {
              "id": "req-job-id",
              "name": "req.job.id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-job-type",
              "name": "req.job.job_type",
              "value": "={{ $json.job.job_type }}",
              "type": "string"
            },
            {
              "id": "req-job-payload",
              "name": "req.job.payload",
              "value": "={{ $json.job.payload }}",
              "type": "object"
            },
            {
              "id": "meta-job-run-id",
              "name": "_meta.job_run_id",
              "value": "={{ $json.job_run_id }}",
              "type": "number"
            },
            {
              "id": "meta-attempts",
              "name": "_meta.attempts",
              "value": "={{ $json.job.attempts + 1 }}",
              "type": "number"
            },
            {
              "id": "meta-max-attempts",
              "name": "_meta.max_attempts",
              "value": "={{ $json.job.max_attempts }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "2701ef2e-2cd8-4730-8d5b-d50493fa2b91",
      "name": "📦 Prepare WF31 Req",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        320
      ],
      "notes": "PURPOSE: Build request for WF31 fetch_url worker."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ 'WF31' }}",
          "mode": "name"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "4f1de65b-80db-43b9-bc61-4b5e0086a466",
      "name": "▶️ Execute WF31",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        320
      ],
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Dispatch fetch_url job to WF31."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.payload.doc_type }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF20"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.payload.doc_type }}",
                    "rightValue": "file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF30"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.payload.doc_type }}",
                    "rightValue": "url",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF31"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "0ac26ea1-b88e-4400-85bf-76ba0e2d8cd7",
      "name": "🔀 build_doc Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        0,
        480
      ],
      "notes": "PURPOSE: Route build_document by payload.doc_type.\nINPUT: Job with payload.doc_type.\nOUTPUTS: WF20 (message), WF30 (file), WF31 (url).\nWHY: build_document is dispatched to content-type-specific workers."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.payload.extract_kind }}",
                    "rightValue": "voice_probe",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF35"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.payload.extract_kind }}",
                    "rightValue": "voice_transcribe",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF34"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.payload.extract_kind }}",
                    "rightValue": "audio_transcribe",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF34_audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.payload.extract_kind }}",
                    "rightValue": "doc_text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF40"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.payload.extract_kind }}",
                    "rightValue": "url_text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF40_url"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.job.payload.extract_kind }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith",
                      "singleValue": true
                    },
                    "name": "image"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WF42"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "4b063d2f-d9c3-47f7-880b-ea9035f3199c",
      "name": "🔀 extract Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        0,
        640
      ],
      "notes": "PURPOSE: Route extract_text by payload.extract_kind.\nINPUT: Job with payload.extract_kind.\nOUTPUTS: WF35 (voice_probe), WF34 (transcribe), WF40 (doc/url text), WF42 (image/video).\nWHY: Different extraction requires different AI models."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "req-ctx-tenant",
              "name": "req.ctx.tenant_id",
              "value": "={{ $json.job.tenant_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-correlation",
              "name": "req.ctx.correlation_id",
              "value": "={{ $json.job.correlation_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-job-id",
              "name": "req.ctx.job_id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-ctx-workflow",
              "name": "req.ctx.workflow",
              "value": "WF90",
              "type": "string"
            },
            {
              "id": "req-job-id",
              "name": "req.job.id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-job-type",
              "name": "req.job.job_type",
              "value": "={{ $json.job.job_type }}",
              "type": "string"
            },
            {
              "id": "req-job-payload",
              "name": "req.job.payload",
              "value": "={{ $json.job.payload }}",
              "type": "object"
            },
            {
              "id": "meta-job-run-id",
              "name": "_meta.job_run_id",
              "value": "={{ $json.job_run_id }}",
              "type": "number"
            },
            {
              "id": "meta-attempts",
              "name": "_meta.attempts",
              "value": "={{ $json.job.attempts + 1 }}",
              "type": "number"
            },
            {
              "id": "meta-max-attempts",
              "name": "_meta.max_attempts",
              "value": "={{ $json.job.max_attempts }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "d67847ed-b6d0-48bf-a7d8-9d585d534824",
      "name": "📦 Prepare WF41 Req",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        1040
      ],
      "notes": "PURPOSE: Build request for WF41 chunk/embed worker."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ 'WF41' }}",
          "mode": "name"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "87f56a78-410c-4df8-a9d3-6f2410712e85",
      "name": "▶️ Execute WF41",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        800
      ],
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Dispatch chunk_document or embed_chunks to WF41."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "req-ctx-tenant",
              "name": "req.ctx.tenant_id",
              "value": "={{ $json.job.tenant_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-correlation",
              "name": "req.ctx.correlation_id",
              "value": "={{ $json.job.correlation_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-job-id",
              "name": "req.ctx.job_id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-ctx-workflow",
              "name": "req.ctx.workflow",
              "value": "WF90",
              "type": "string"
            },
            {
              "id": "req-job-id",
              "name": "req.job.id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-job-type",
              "name": "req.job.job_type",
              "value": "={{ $json.job.job_type }}",
              "type": "string"
            },
            {
              "id": "req-job-payload",
              "name": "req.job.payload",
              "value": "={{ $json.job.payload }}",
              "type": "object"
            },
            {
              "id": "meta-job-run-id",
              "name": "_meta.job_run_id",
              "value": "={{ $json.job_run_id }}",
              "type": "number"
            },
            {
              "id": "meta-attempts",
              "name": "_meta.attempts",
              "value": "={{ $json.job.attempts + 1 }}",
              "type": "number"
            },
            {
              "id": "meta-max-attempts",
              "name": "_meta.max_attempts",
              "value": "={{ $json.job.max_attempts }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "42636838-f29a-48b3-9c80-0c8276cee932",
      "name": "📦 Prepare WF50 Req",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        1184
      ],
      "notes": "PURPOSE: Build request for WF50 answer_query worker."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ 'WF50' }}",
          "mode": "name"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "31e3c772-202d-4376-92d9-42e62a091b1f",
      "name": "▶️ Execute WF50",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        960
      ],
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Dispatch answer_query job to WF50."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "req-ctx-tenant",
              "name": "req.ctx.tenant_id",
              "value": "={{ $json.job.tenant_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-correlation",
              "name": "req.ctx.correlation_id",
              "value": "={{ $json.job.correlation_id }}",
              "type": "string"
            },
            {
              "id": "req-ctx-job-id",
              "name": "req.ctx.job_id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-ctx-workflow",
              "name": "req.ctx.workflow",
              "value": "WF90",
              "type": "string"
            },
            {
              "id": "req-job-id",
              "name": "req.job.id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            },
            {
              "id": "req-job-type",
              "name": "req.job.job_type",
              "value": "={{ $json.job.job_type }}",
              "type": "string"
            },
            {
              "id": "req-job-payload",
              "name": "req.job.payload",
              "value": "={{ $json.job.payload }}",
              "type": "object"
            },
            {
              "id": "meta-job-run-id",
              "name": "_meta.job_run_id",
              "value": "={{ $json.job_run_id }}",
              "type": "number"
            },
            {
              "id": "meta-attempts",
              "name": "_meta.attempts",
              "value": "={{ $json.job.attempts + 1 }}",
              "type": "number"
            },
            {
              "id": "meta-max-attempts",
              "name": "_meta.max_attempts",
              "value": "={{ $json.job.max_attempts }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "7c41ec86-3cc7-4b8b-8089-c0bd70b3feba",
      "name": "📦 Prepare WF92 Req",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        1344
      ],
      "notes": "PURPOSE: Build request for WF92 reembed worker."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ 'WF92' }}",
          "mode": "name"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "c125eb18-9f1d-4513-8e3f-749711d27bb9",
      "name": "▶️ Execute WF92",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        1120
      ],
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Dispatch reembed_model_migration to WF92."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err-type",
              "name": "error.type",
              "value": "WF90_UNKNOWN_JOB_TYPE",
              "type": "string"
            },
            {
              "id": "err-message",
              "name": "error.message",
              "value": "={{ 'Unknown job_type: ' + $json.job.job_type }}",
              "type": "string"
            },
            {
              "id": "result-status",
              "name": "result.status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "meta-job-run-id",
              "name": "_meta.job_run_id",
              "value": "={{ $json.job_run_id }}",
              "type": "number"
            },
            {
              "id": "meta-job-id",
              "name": "_meta.job_id",
              "value": "={{ $json.job.id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "id": "ce1921ff-75fc-4f80-ac8a-3336a614058b",
      "name": "❓ Unknown job_type",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        1504
      ],
      "notes": "PURPOSE: Handle unrecognized job_type (fallback).\nINPUT: Job with unknown type.\nOUTPUT: Error object for job failure marking.\nWHY: Unknown types should fail gracefully, not crash WF90."
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "wait"
      },
      "id": "cbc76800-254e-477d-a298-bdbf6893f6c0",
      "name": "🔗 Merge All Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        512
      ],
      "notes": "PURPOSE: Collect results from all dispatch branches.\nINPUT: Results from all Execute Workflow nodes + error branches.\nOUTPUT: Single result item per job.\nWHY mode=chooseBranch: Takes whichever branch completes."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-error",
              "leftValue": "={{ $json.error || $json.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a2efe27a-8303-470f-af81-940daffb573c",
      "name": "🔀 Child Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        512
      ],
      "notes": "PURPOSE: Determine if child workflow failed.\nINPUT: Result from dispatch.\nOUTPUT TRUE: Child failed, mark job failed/retry.\nOUTPUT FALSE: Child succeeded, mark job succeeded.\nWHY: Different handling for success vs failure."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "job-status",
              "name": "final_status",
              "value": "succeeded",
              "type": "string"
            },
            {
              "id": "job-id",
              "name": "job_id",
              "value": "={{ $json.req?.ctx?.job_id || $json._meta?.job_id || $json.job?.id }}",
              "type": "number"
            },
            {
              "id": "job-run-id",
              "name": "job_run_id",
              "value": "={{ $json._meta?.job_run_id || $json.job_run_id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "id": "b27aac07-1e14-4346-9d72-512883fdf8c0",
      "name": "✅ Prepare Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        352
      ],
      "notes": "PURPOSE: Prepare data for marking job as succeeded.\nINPUT: Success result from child.\nOUTPUT: final_status=succeeded + job_id."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "can-retry",
              "leftValue": "={{ ($json._meta?.attempts || 1) }}",
              "rightValue": "={{ ($json._meta?.max_attempts || 10) }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0dffd0cd-f2c8-4dd3-97ee-a541bd2a13e2",
      "name": "🔀 Can Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        880,
        672
      ],
      "notes": "PURPOSE: Check if job has retries remaining.\nINPUT: Failed result with attempt count.\nOUTPUT TRUE: attempts < max_attempts, schedule retry.\nOUTPUT FALSE: Max attempts reached, mark dead.\nWHY: Implement retry backoff strategy."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "job-status",
              "name": "final_status",
              "value": "queued",
              "type": "string"
            },
            {
              "id": "job-id",
              "name": "job_id",
              "value": "={{ $json.req?.ctx?.job_id || $json._meta?.job_id || $json.job?.id }}",
              "type": "number"
            },
            {
              "id": "job-run-id",
              "name": "job_run_id",
              "value": "={{ $json._meta?.job_run_id || $json.job_run_id }}",
              "type": "number"
            },
            {
              "id": "next-run",
              "name": "next_run_at",
              "value": "={{ $now.plus({ minutes: Math.pow(2, $json._meta?.attempts || 1) }).toISO() }}",
              "type": "string"
            },
            {
              "id": "err-summary",
              "name": "error_summary",
              "value": "={{ JSON.stringify({ message: $json.error?.message || $json.message || 'Unknown error', attempt: $json._meta?.attempts || 1, timestamp: $now.toISO() }) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "id": "a8aa81d3-4be4-4eb2-a928-8917d3f1ff31",
      "name": "🔄 Prepare Retry",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        592
      ],
      "notes": "PURPOSE: Prepare data for retry scheduling.\nINPUT: Failed result with retry capacity.\nOUTPUT: final_status=queued, next_run_at with exponential backoff.\nWHY Math.pow(2, attempts): Exponential backoff (2,4,8,16 min)."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "job-status",
              "name": "final_status",
              "value": "dead",
              "type": "string"
            },
            {
              "id": "job-id",
              "name": "job_id",
              "value": "={{ $json.req?.ctx?.job_id || $json._meta?.job_id || $json.job?.id }}",
              "type": "number"
            },
            {
              "id": "job-run-id",
              "name": "job_run_id",
              "value": "={{ $json._meta?.job_run_id || $json.job_run_id }}",
              "type": "number"
            },
            {
              "id": "err-summary",
              "name": "error_summary",
              "value": "={{ JSON.stringify({ message: $json.error?.message || $json.message || 'Max attempts exceeded', attempts: $json._meta?.attempts || 1, timestamp: $now.toISO() }) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "id": "5d4ce07c-f026-4bd8-b25c-840cf0a95363",
      "name": "💀 Prepare Dead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        752
      ],
      "notes": "PURPOSE: Prepare data for marking job as dead.\nINPUT: Failed result with max attempts reached.\nOUTPUT: final_status=dead, error_summary.\nWHY: Job exhausted all retries, needs manual intervention."
    },
    {
      "parameters": {},
      "id": "f90d8c69-b8b1-4d3c-8e37-014636dc4462",
      "name": "🔗 Merge Final Status",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1328,
        512
      ],
      "notes": "PURPOSE: Combine all final status branches.\nINPUT: Success, retry, or dead branch.\nOUTPUT: Single item with final_status for job update."
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "ops",
          "mode": "list",
          "cachedResultName": "ops"
        },
        "table": {
          "__rl": true,
          "value": "jobs",
          "mode": "list",
          "cachedResultName": "jobs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{ $json.final_status }}",
            "next_run_at": "={{ $json.next_run_at || null }}",
            "locked_at": "={{ null }}",
            "locked_by": "={{ null }}",
            "last_error": "={{ $json.error_summary ? JSON.parse($json.error_summary) : null }}",
            "updated_at": "={{ $now.toISO() }}",
            "id": "={{ $json.job_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_run_at",
              "displayName": "next_run_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "locked_at",
              "displayName": "locked_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "locked_by",
              "displayName": "locked_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "last_error",
              "displayName": "last_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "json",
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "94cbcee0-4931-46b1-ab06-e242d77344f0",
      "name": "📝 Update Job Final",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1536,
        512
      ],
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Update job with final status.\nINPUT: Final status (succeeded/queued/dead).\nOUTPUT: Update confirmation.\nWHY: Marks job complete or schedules retry."
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "ops",
          "mode": "list",
          "cachedResultName": "ops"
        },
        "table": {
          "__rl": true,
          "value": "job_runs",
          "mode": "list",
          "cachedResultName": "job_runs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "finished_at": "={{ $now.toISO() }}",
            "status": "={{ $json.final_status === 'queued' ? 'failed' : $json.final_status }}",
            "error": "={{ $json.error_summary ? JSON.parse($json.error_summary) : null }}",
            "id": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "finished_at",
              "displayName": "finished_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "json",
              "canBeUsedToMatch": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9ef35f36-514f-466b-880f-541dbac68120",
      "name": "📝 Update job_runs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1760,
        512
      ],
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "PURPOSE: Update job_runs telemetry with final status.\nINPUT: job_run_id and final status.\nOUTPUT: Update confirmation.\nWHY: Complete telemetry record."
    },
    {
      "parameters": {},
      "id": "d97ea9c1-2c3c-416e-91e7-73eb1f2861e9",
      "name": "↩️ Loop Back",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2304,
        752
      ],
      "notes": "PURPOSE: Complete one job iteration, loop to next.\nINPUT: Job processing complete.\nOUTPUT: Back to Split node for next job.\nWHY: Sequential processing of batch."
    },
    {
      "parameters": {},
      "id": "6e96a1d1-2778-4b86-aa60-35bc7e3a2fbf",
      "name": "🧪 Test Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2864,
        1104
      ],
      "notes": "PURPOSE: Manual trigger for test execution.\nINPUT: Manual click.\nOUTPUT: Start test branch.\nWHY: Tests should not run in prod path."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ true }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "T1_Happy"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "5a228e78-a185-4b83-bb69-ab1bc23c72ba",
      "name": "🧪 Test Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2640,
        1104
      ],
      "notes": "PURPOSE: Route to specific test case.\nINPUT: Test trigger.\nOUTPUT: Selected test branch.\nWHY: Can expand with T2, T3 tests."
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "ops",
          "mode": "list",
          "cachedResultName": "ops"
        },
        "table": {
          "__rl": true,
          "value": "jobs",
          "mode": "list",
          "cachedResultName": "jobs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ '00000000-0000-0000-0000-000000000000' }}",
            "job_type": "test_job",
            "status": "queued",
            "priority": 100,
            "payload": "={{ JSON.stringify({ test: 'T1_Happy', timestamp: $now.toISO() }) }}",
            "next_run_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "job_type",
              "displayName": "job_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "json",
              "canBeUsedToMatch": false
            },
            {
              "id": "next_run_at",
              "displayName": "next_run_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "cffa7ab2-d473-492d-baa2-024a1c1b313e",
      "name": "🧪 T1: Insert Test Job",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2416,
        1104
      ],
      "credentials": {
        "postgres": {
          "id": "yckAFBLpmdhsPaDZ",
          "name": "Postgres DF Assistant"
        }
      },
      "notes": "PURPOSE: T1 Happy Path - Insert test job.\nINPUT: Test trigger.\nOUTPUT: Inserted job id.\nWHY: Tests job insertion and subsequent processing."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "test-result",
              "name": "test.result",
              "value": "T1_PASSED: Job inserted",
              "type": "string"
            },
            {
              "id": "test-job-id",
              "name": "test.job_id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "22bb237a-3252-4198-9bc6-9a29ed37109b",
      "name": "🧪 T1 Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2208,
        1168
      ],
      "notes": "PURPOSE: Record T1 test result.\nINPUT: Insert result.\nOUTPUT: Test passed message.\nWHY: Verify job was created for WF90 to pick up."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1040,
        1408
      ],
      "id": "90c40731-4ce0-4566-aca7-1cab536b3f57",
      "name": "✅ Finish"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err-type",
              "name": "error.type",
              "value": "WF90_DB_CLAIM_FAILED",
              "type": "string"
            },
            {
              "id": "err-message",
              "name": "error.message",
              "value": "={{ $json.message || 'Failed to Update job in ops.jobs' }}",
              "type": "string"
            },
            {
              "id": "err-workflow",
              "name": "error.workflow",
              "value": "WF90",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "d4136edc-0481-4af4-921a-dcd94cdece4c",
      "name": "❌ ErrorPipe Update Job Final",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        1088
      ],
      "notes": "PURPOSE: Format error for WF99 when CLAIM fails.\nINPUT: Postgres error output.\nOUTPUT: Standardized error envelope.\nWHY: DB failure requires escalation."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err-type",
              "name": "error.type",
              "value": "WF90_DB_CLAIM_FAILED",
              "type": "string"
            },
            {
              "id": "err-message",
              "name": "error.message",
              "value": "={{ $json.message || 'Failed to Update job runs in ops.job_runs' }}",
              "type": "string"
            },
            {
              "id": "err-workflow",
              "name": "error.workflow",
              "value": "WF90",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "35658fb6-676c-485d-afe5-f8231f4e4633",
      "name": "❌ ErrorPipe Update job_runs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        944
      ],
      "notes": "PURPOSE: Format error for WF99 when CLAIM fails.\nINPUT: Postgres error output.\nOUTPUT: Standardized error envelope.\nWHY: DB failure requires escalation."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gcM1ZRVCKVtzJfHOH7OTw",
          "mode": "list",
          "cachedResultUrl": "/workflow/gcM1ZRVCKVtzJfHOH7OTw",
          "cachedResultName": "WF99 — Global ERR Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "287857bd-f898-4d7e-957c-c41e4eeba25e",
      "name": "🚨 Call WF99 (Update Job)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2000,
        1088
      ],
      "notes": "PURPOSE: Escalate claim DB error to global handler.\nINPUT: Error envelope.\nOUTPUT: WF99 response."
    },
    {
      "parameters": {
        "errorMessage": "={{ 'WF90: DB CLAIM failed - ' + $json.error.message }}"
      },
      "id": "c311d611-049d-41cf-93b9-f6503b5147b5",
      "name": "🛑 StopAndError (Update Job)",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2224,
        1088
      ],
      "notes": "PURPOSE: Terminate WF90 on claim DB failure.\nINPUT: Error details.\nOUTPUT: Workflow fails."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gcM1ZRVCKVtzJfHOH7OTw",
          "mode": "list",
          "cachedResultUrl": "/workflow/gcM1ZRVCKVtzJfHOH7OTw",
          "cachedResultName": "WF99 — Global ERR Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "60491086-04d4-4446-910c-4a257212234f",
      "name": "🚨 Call WF99 (Update Job_runs)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2528,
        944
      ],
      "notes": "PURPOSE: Escalate claim DB error to global handler.\nINPUT: Error envelope.\nOUTPUT: WF99 response."
    },
    {
      "parameters": {
        "errorMessage": "={{ 'WF90: DB CLAIM failed - ' + $json.error.message }}"
      },
      "id": "f93290f7-b1e2-418a-965b-27960706128c",
      "name": "🛑 StopAndError (Update Job_runs)",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2752,
        944
      ],
      "notes": "PURPOSE: Terminate WF90 on claim DB failure.\nINPUT: Error details.\nOUTPUT: Workflow fails."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err-type",
              "name": "error.type",
              "value": "WF90_DB_CLAIM_FAILED",
              "type": "string"
            },
            {
              "id": "err-message",
              "name": "error.message",
              "value": "={{ $json.message || 'Failed to Insert job runs in ops.job_runs' }}",
              "type": "string"
            },
            {
              "id": "err-workflow",
              "name": "error.workflow",
              "value": "WF90",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "88f46d24-cc43-47ee-a0aa-03651ac33a12",
      "name": "❌ ErrorPipe Insert job_runs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        1728
      ],
      "notes": "PURPOSE: Format error for WF99 when CLAIM fails.\nINPUT: Postgres error output.\nOUTPUT: Standardized error envelope.\nWHY: DB failure requires escalation."
    },
    {
      "parameters": {
        "errorMessage": "={{ 'WF90: DB CLAIM failed - ' + $json.error.message }}"
      },
      "id": "5ffc557e-1490-4368-a415-710092603461",
      "name": "🛑 StopAndError (Insert job_runs)",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        48,
        1728
      ],
      "notes": "PURPOSE: Terminate WF90 on claim DB failure.\nINPUT: Error details.\nOUTPUT: Workflow fails."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gcM1ZRVCKVtzJfHOH7OTw",
          "mode": "list",
          "cachedResultUrl": "/workflow/gcM1ZRVCKVtzJfHOH7OTw",
          "cachedResultName": "WF99 — Global ERR Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "5d9f8949-da60-47dd-bd1f-9f36c5e474c7",
      "name": "🚨 Call WF99 (Insert job_runs)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -176,
        1728
      ],
      "notes": "PURPOSE: Escalate claim DB error to global handler.\nINPUT: Error envelope.\nOUTPUT: WF99 response."
    }
  ],
  "pinData": {},
  "connections": {
    "⏰ Schedule Trigger": {
      "main": [
        [
          {
            "node": "📋 Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Set Config": {
      "main": [
        [
          {
            "node": "📥 Select Pending Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Select Pending Jobs": {
      "main": [
        [
          {
            "node": "🔀 Has Jobs?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ ErrorPipe v1 (Select)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ ErrorPipe v1 (Select)": {
      "main": [
        [
          {
            "node": "🚨 Call WF99 (Select Err)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚨 Call WF99 (Select Err)": {
      "main": [
        [
          {
            "node": "🛑 StopAndError (Select)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Has Jobs?": {
      "main": [
        [
          {
            "node": "🔄 Split Jobs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "✅ No Jobs (OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Split Jobs": {
      "main": [
        [
          {
            "node": "✅ Finish",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📸 Snapshot Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📸 Snapshot Job": {
      "main": [
        [
          {
            "node": "🔒 Claim Job (UPDATE)",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔗 Merge Restore (Claim)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "🔒 Claim Job (UPDATE)": {
      "main": [
        [
          {
            "node": "🔗 Merge Restore (Claim)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ ErrorPipe v1 (Claim)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ ErrorPipe v1 (Claim)": {
      "main": [
        [
          {
            "node": "🚨 Call WF99 (Claim Err)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚨 Call WF99 (Claim Err)": {
      "main": [
        [
          {
            "node": "🛑 StopAndError (Claim)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Merge Restore (Claim)": {
      "main": [
        [
          {
            "node": "🔀 Claimed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Claimed?": {
      "main": [
        [
          {
            "node": "📝 Insert job_runs",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔗 Merge (Insert Run)",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "⏭️ Race Lost (Skip)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏭️ Race Lost (Skip)": {
      "main": [
        [
          {
            "node": "🔄 Split Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Insert job_runs": {
      "main": [
        [
          {
            "node": "🔗 Merge (Insert Run)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ ErrorPipe Insert job_runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Merge (Insert Run)": {
      "main": [
        [
          {
            "node": "📌 Set job_run_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📌 Set job_run_id": {
      "main": [
        [
          {
            "node": "🔀 Route by job_type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Route by job_type": {
      "main": [
        [
          {
            "node": "📦 Prepare WF20 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF30 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF31 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔀 build_doc Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔀 extract Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF41 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF41 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF50 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF92 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF20 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❓ Unknown job_type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❓ Unknown job_type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Prepare WF20 Req": {
      "main": [
        [
          {
            "node": "▶️ Execute WF20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶️ Execute WF20": {
      "main": [
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Prepare WF30 Req": {
      "main": [
        [
          {
            "node": "▶️ Execute WF30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶️ Execute WF30": {
      "main": [
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Prepare WF31 Req": {
      "main": [
        [
          {
            "node": "▶️ Execute WF31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶️ Execute WF31": {
      "main": [
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 build_doc Router": {
      "main": [
        [
          {
            "node": "📦 Prepare WF20 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF30 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF31 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❓ Unknown job_type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 extract Router": {
      "main": [
        [
          {
            "node": "📦 Prepare WF41 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF41 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF41 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF41 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF41 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Prepare WF41 Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❓ Unknown job_type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Prepare WF41 Req": {
      "main": [
        [
          {
            "node": "▶️ Execute WF41",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶️ Execute WF41": {
      "main": [
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Prepare WF50 Req": {
      "main": [
        [
          {
            "node": "▶️ Execute WF50",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶️ Execute WF50": {
      "main": [
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Prepare WF92 Req": {
      "main": [
        [
          {
            "node": "▶️ Execute WF92",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶️ Execute WF92": {
      "main": [
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Unknown job_type": {
      "main": [
        [
          {
            "node": "🔗 Merge All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Merge All Results": {
      "main": [
        [
          {
            "node": "🔀 Child Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Child Failed?": {
      "main": [
        [
          {
            "node": "🔀 Can Retry?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "✅ Prepare Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Prepare Success": {
      "main": [
        [
          {
            "node": "🔗 Merge Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Can Retry?": {
      "main": [
        [
          {
            "node": "🔄 Prepare Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "💀 Prepare Dead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Prepare Retry": {
      "main": [
        [
          {
            "node": "🔗 Merge Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💀 Prepare Dead": {
      "main": [
        [
          {
            "node": "🔗 Merge Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Merge Final Status": {
      "main": [
        [
          {
            "node": "📝 Update Job Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Update Job Final": {
      "main": [
        [
          {
            "node": "📝 Update job_runs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ ErrorPipe Update Job Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Update job_runs": {
      "main": [
        [
          {
            "node": "↩️ Loop Back",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ ErrorPipe Update job_runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "↩️ Loop Back": {
      "main": [
        [
          {
            "node": "🔄 Split Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧪 Test Trigger": {
      "main": [
        [
          {
            "node": "🧪 Test Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧪 Test Router": {
      "main": [
        [
          {
            "node": "🧪 T1: Insert Test Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧪 T1: Insert Test Job": {
      "main": [
        [
          {
            "node": "🧪 T1 Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ ErrorPipe Update Job Final": {
      "main": [
        [
          {
            "node": "🚨 Call WF99 (Update Job)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ ErrorPipe Update job_runs": {
      "main": [
        [
          {
            "node": "🚨 Call WF99 (Update Job_runs)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚨 Call WF99 (Update Job)": {
      "main": [
        [
          {
            "node": "🛑 StopAndError (Update Job)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚨 Call WF99 (Update Job_runs)": {
      "main": [
        [
          {
            "node": "🛑 StopAndError (Update Job_runs)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ ErrorPipe Insert job_runs": {
      "main": [
        [
          {
            "node": "🚨 Call WF99 (Insert job_runs)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚨 Call WF99 (Insert job_runs)": {
      "main": [
        [
          {
            "node": "🛑 StopAndError (Insert job_runs)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "187e976f-187d-4c49-9647-62bd8282f42e",
  "meta": {
    "instanceId": "49b1b765c7a60d5365a95e5c3e2d1b2e695b21e61861bbe488c27ec04546a71d"
  },
  "id": "_xaEmgGo0vM7sbjJ5rm13",
  "tags": []
}